[2019-06-07 15:47] derailed commented on #222
@heydonovan Thank you for your kind words! FYI, you can inverse the sort by using the `Shift-i` keyboard shortcut.

[2019-06-07 16:02] Keramblock opened #223 "Option to run shell and logs in distruct-free mode"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
Sometimes I need to see the logs or shell in fullscreen mode

**Describe the solution you'd like**
If it is possible - it will be nice to have an ability to run shell and logs commands

[2019-06-07 18:39] freeseacher commented on #221
ok. thx i was looking for it but with < or > or even { }
than with tab and ctrl+tab
but no idea about "p"

[2019-06-07 18:39] #221 closed

[2019-06-07 22:02] derailed commented on #205
@brentco Thanks for the update! Yikes. Sounds unnecessarily obscured. I feel for you should any of these docker images exposed ports changed ;(

[2019-06-07 22:17] derailed commented on #220
@linecolumn Fixed 0.7.6

[2019-06-07 22:17] #220 closed

[2019-06-07 22:18] derailed commented on #215
@mingfang Fixed 0.7.6

[2019-06-07 22:18] #215 closed

[2019-06-07 22:18] #214 closed

[2019-06-07 22:19] derailed commented on #212
@devkws @thllxb Fixed 0.7.6

[2019-06-07 22:19] #212 closed

[2019-06-07 22:19] derailed commented on #205
@brentco Fixed 0.7.6!

[2019-06-07 22:19] #205 closed

[2019-06-07 22:20] derailed commented on #193
@slashdash @ChrisCooney Fixed 0.7.6

[2019-06-07 22:20] #193 closed

[2019-06-07 22:21] derailed commented on #150
@eugenekainara Fixed 0.7.6

[2019-06-07 22:21] #150 closed

[2019-06-08 00:07] derailed commented on #201
@jfm Thank you for this info! How are you starting K9s? Also can you send me the role binding for your user for the `edit` role? Lastly what is the output for kubectl get ns?

[2019-06-08 00:13] mingfang commented on #215
@derailed Thank you!
This is the best open source project ever!

[2019-06-08 00:29] derailed commented on #215
@mingfang You Sir just made my week! Thank you so much for your kind comment!!

[2019-06-08 16:43] ChrisCooney commented on #193
I think I love you.

[2019-06-08 16:48] ChrisCooney commented on #131
Hey, had a dig and can see that the latest revision on homebrew is 0.7.2, could this be updated to 0.7.6? Reading this comment it seems like it should be as part of CI/CD.

[2019-06-08 16:52] ChrisCooney opened #225 "Filter by Container in MultiPod Logging"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
The MultiPod logging is awesome, but for deployments using Istio, we might not want all the envoy logs alongside our application logs.

**Describe the solution you'd like**
 It would be

[2019-06-10 04:06] hjwsxl commented on #201
@derailed

tail -f xxx/k9s.log
k9s -n team-test -l debug # Send all the lines with CHECKING ACCESS

k9s.log：
[code]

### Additional context
When I use k9s of version 0.6.2, my logs say:
[code]

[2019-06-10 08:07] JrCs opened #226 "Shell on container without bash"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>

**Describe the bug**
If we try to enter a container without **bash** shell it will failed.
But a lot of containers have **/bin/sh** shell.

**To Reproduce**
Try to enter a container with **/bin/sh** shell but no **/bin/bash** shell

One solution is to try to s

[2019-06-11 09:41] jfm commented on #201
I don't have access to view the bindings for some reason. So I can't show you that unfortunately.

kubectl get ns gives:
[code]

[2019-06-11 13:07] cwrau opened #227 "Feature Request: Service Port Forwarding"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the solution you'd like**
Just like you can select pods' containers and forward a port, be able to select a service and forward a port.

[2019-06-11 13:35] ChrisCooney commented on #227
Is this something even k8s supports? Would k9s need to mimic the load balancing that goes on inside a cluster?

[2019-06-11 13:47] cwrau commented on #227
No, this is a feature of k8s, just use `svc/$SERVICE_NAME` instead of the pod name

[2019-06-11 18:11] roflmao commented on #131
Doesnt seem to be updated :-(

[code]

[2019-06-11 18:12] roflmao commented on #215
You are just awesome @derailed

[2019-06-12 06:19] warmchang opened #229 "Crash when reading an Evicted POD"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Crash when reading an Evicted POD.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare the kubernetes cluster with the folloing PODs.
[code]

2. Run k9s, switch to the Evicted POD (rc-busybox-ephemeral-hdsn5).
3. Pr

[2019-06-12 06:21] warmchang commented on #229
The "/tmp/k9s-root.log" info:
[code]

[2019-06-12 13:54] derailed commented on #229
@warmchang Great catch and excellent report! Thank you for reporting this.

[2019-06-12 14:30] derailed commented on #215
Wow! Thank you @roflmao!!

[2019-06-13 04:36] #226 closed

[2019-06-13 08:54] mycrEEpy opened #230 "Sorting MEM/CPU broken with Pods in Completed Status"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When sorting by MEM or CPU pods in Completed Status will randomly be reordered on every refresh.

**To Reproduce**
Steps to reproduce the behavior:
1. Install metrics server
2. Have pods in Running status
3. Create jobs and let them

[2019-06-13 08:57] JanRK commented on #80
Also error in Terminus shell. Works in normal Powershell 5 and Powershell 6 shell.

` ____  __.________
|    |/ _/   __   \______
|      < \____    /  ___/
|    |  \   /    /\___ \
|____|__ \ /____//____  >
        \/            \/

Boom!! close of nil channel.`

[2019-06-13 10:46] GMartinez-Sisti opened #231 "Missing container logs from k9s"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When I check a pod's log from K9s not all the entries are showing. This was working before the k9s version that joins all the container logs from a pod.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a pod
2. Click on 'l

[2019-06-13 15:25] mcristina422 opened #232 "Remember selected item"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
After selecting <Enter> on a deployment (or replicaset, statefulset, or daemonset) in the view the list of pods are shown. After hitting <ESC> it returns to the original view with the first item selected, instead of the previously se

[2019-06-13 15:32] derailed commented on #231
@GMartinez-Sisti Rights K9s tail the logs to the last x lines based on K9s configuration option `logRequestSize` given the potential log volumes.  This value defaults to the last 200 is not set.

[2019-06-13 16:00] derailed commented on #230
@mycrEEpy Great catch!! Thank you for this report!

[2019-06-13 16:07] cchanley2003 opened #233 "Filter by labels"
Is there a way to filter by labels. We have a lot of pods and we group some of them by labels. So typically I would do kubectl get pods -w -l type=something and that would allow me to watch all pods with the label type=something...

[2019-06-13 23:09] GMartinez-Sisti commented on #231
@derailed thanks! I did not know that!

Let me try that and get back to you. I have the impression that some containers are just showing a few lines, even though there are more than 200.

[2019-06-14 01:06] derailed commented on #233
@cchanley2003 Thank you for your report! That is indeed a good feature. I'll make this happen on the next drop. Thank you!!

[2019-06-14 01:37] derailed commented on #232
@mcristina422 Excellent! Thank you for reporting this.

[2019-06-14 01:59] derailed commented on #131
@aserrallerios @roflmao. I am hoping we're all good now with K9s on snap. The snap folks had to grant the necessary access for us to publish. I think we're good now and in the future new releases should make it to snaps. Please give 0.7.7 a rip and lmk if we're happier. Thank you for your patience and support!!

[2019-06-14 02:00] derailed commented on #233
@carlowouters Fixed 0.7.7!

[2019-06-14 02:00] #233 closed

[2019-06-14 02:01] derailed commented on #232
@mcristina422 Fixed 0.7.7!

[2019-06-14 02:01] #232 closed

[2019-06-14 02:01] derailed commented on #230
@mycrEEpy Fixed 0.7.7!

[2019-06-14 02:01] #230 closed

[2019-06-14 02:01] derailed commented on #229
@warmchang Fixed 0.7.7!

[2019-06-14 02:01] #229 closed

[2019-06-14 02:58] cchanley2003 commented on #233
Wow. Amazing turn around. Btw, your tool is awesome. Thanks!

[2019-06-14 05:06] warmchang commented on #229
@derailed Thank you for quickly fix. k9s is awesome. :+1:

[2019-06-14 06:39] betonmoewe opened #234 "Unsolicited response error"
hi,

I got often this error displayed:

`2 <dp> /14 06:31:56 Unsolicited response received on idle HTTP channel starting with "HTTP/1.0 408 Request Time-out\r\nCache-Control: no-cache\r\nConnection: close\r\nContent-Type: text/html\r\n\r\n<html><body><h1>408 Request Time-out</h1>\nYour browser didn't send a complete request in time.\n</body></html>\n"; err=<nil>`

last tested version 0.7.6

is thi

[2019-06-14 09:52] ncsibra opened #235 "Wrong page up behavior"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Last page up before jumping to the first row, jumps to the header instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any view longer than the screen(tried with multiple view, all had this issue)
2. Press page down t

[2019-06-14 11:17] moseb opened #236 "Improve documentation on getting metrics to work (with minikube)"
Hi!

Thanks for k9s, nice tool!

It took me quite a while to get the CPU/RAM metrics in k9s with minikube. The [RBAC file emedded into the readme](https://github.com/derailed/k9s#namespace-rbac-scope) was of great help, but it took `minikube addons enable metrics-server` and [this comment](https://github.com/kubernetes-incubator/metrics-server/issues/133#issuecomment-478847304) more for me, to und

[2019-06-14 19:18] mitchellmaler opened #237 "Drain (with options) and Cordon/UnCordon Nodes"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
Looking for an easy way to Drain (with options) and Cordon/UnCordon Nodes

**Describe the solution you'd like**
On the nodes view allow to drain (with different options) and Cordon/UnCo

[2019-06-14 23:57] derailed commented on #233
@cchanley2003 Thank you so much for your kind words and support!!

[2019-06-14 23:58] derailed commented on #229
@warmchang You guys are awesome! Thank you for you kindness and support!!

[2019-06-15 11:05] RothAndrew commented on #184
+1 from me. Let me buy you a beer for your amazing work here.

[2019-06-17 08:53] GMartinez-Sisti commented on #231
UPDATE: This is working fine when there is only one container in the pod. If there are more the logs will be truncated in an unpredictable way.

As an example, if I have an init-container (completed) with 20 log lines and a regular container (running) with 200 plus log lines, the init-container will show less than 20 lines and the remaining log entries will be truncated to limit according to confi

[2019-06-17 12:07] devkws opened #238 "K9s no longer shows cluster info when -n all used as parameter"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Sometime after 0.7.1 when k9s is launched there is no pod/deployment/etc info shown when "-n all" is part of the parameters. It looks like the cluster is empty, but it is not. Switching namespaces or views does not fix the issue.

**

[2019-06-17 14:02] derailed commented on #236
@moseb Thank you for your report and kind words! I feel the metrics server install instructions are a bit out of scope for K9s docs. There as so many ways to install and run a metric server depending on your cluster configuration. Minikube does provide conveniences to run one, but in other cases the vendor may provide it or one might have to install by hand. My feel, I think, this is best left to

[2019-06-17 14:12] derailed commented on #234
@betonmoewe Could you send a bit more detail info about what you were doing when this timeout occurred? I haven't seen it before and any info might help tracking this down. Also does it happen consistently or sporadically?

[2019-06-17 16:05] moseb commented on #236
I get your reasoning.

[2019-06-17 16:38] betonmoewe commented on #234
I just browsing pods or deployments, nothing special ... This timeout occures sporadically but every few minutes. The ApiServer is behind a HAProxy Cluster. With kubectl, I haven't had any problems till now and the kubenetes cluster itself neither.

[2019-06-17 17:12] DigitalRogues opened #239 "0.7.7 crashing with stock skin.yml"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
0.7.7 crashes on start if the skin.yml doesn't have all the stanzas

**To Reproduce**
Steps to reproduce the behavior:
add the stock layout to skin.yaml (which has the title and status sections missing)

**Expected behavior**
the app

[2019-06-17 20:27] roflmao opened #240 "k9s snap release wont start"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
A clear and concise description of what the bug is.
[code]

**To Reproduce**
Had 0.7.5 installed. Installed 0.7.7 with snap and got this error. Tried deleting .k9s folder but no difference.

**Expected behavior**
k9s to make awesome

[2019-06-18 03:43] derailed commented on #239
@DigitalRogues Thank you for this report! I've pushed the updated skins to the repo.

[2019-06-18 03:43] #239 closed

[2019-06-18 03:44] derailed commented on #238
@devkws Thank you for this report! Right the `all` namespace is used in the configs and internally by K9s to designate all namespaces. As you've pointed out, -n all will look for a namespace named `all`

[2019-06-18 03:44] #238 closed

[2019-06-18 03:46] derailed commented on #240
@roflmao Thank you for reporting this. Could you send me the K9s logs as well, thinking something with the snap release is still not quiet right ;(

[2019-06-18 03:47] #236 closed

[2019-06-18 08:22] roflmao commented on #240
the log is empty (i deleted all the old logs after upgrading)
[code]

stracing the k9s run shows that it looks like it cant find the kube config due to path issues with snap:
[code]
Link to the whole strace: http://paste.ubuntu.com/p/bvd5dC39mt/

[2019-06-18 16:42] derailed commented on #240
@roflmao Thank you for sending this! Could you do me a favor and try the following provided you're using a std kuconfig setup. Thank you!!

[code]

[2019-06-18 18:50] roflmao commented on #240
Great success!
There is no log in /tmp/k9s-rolf.log as stated by k9s info though.
-l debug doesnt make any difference

[2019-06-18 19:08] roflmao commented on #240
Found logs in /tmp/snap.k9s/tmp !

Before export KUBECONFIG:

[code]

After:
[code]

So looks like all .k9s related stuff also is broken (its generating config every time)

[2019-06-18 20:00] derailed commented on #240
@roflmao Thank you so much for reporting back! Crap!! Looks like, back to the old drawing board.  The snap folks told me I should not have to do anything else ;( If you can limp along for now with this fix, I'll try to spend some time on this and figure out an alternative. If there are any Snapcraft savvy folks on the line, I sure could use some help...

[2019-06-19 08:23] hsychla opened #241 "Crash when opening logs"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
k9s crashes when I try to look at logs of pods.
Error message:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'pod'
2. Type 'l' (lowercase L)
3. Boom!

**Expected behavior**
Show logs of selected pod

**Versions (please

[2019-06-19 11:58] cwrau opened #242 "Starting without `-n` doesn't work with RBAC"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
I have RBAC enabled, and everything works with `kubectl`.
But when I try to run `k9s`, no pods are displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup RBAC, as described in the README
2. Run `kubectl -n NAMESPACE g

[2019-06-19 21:56] derailed commented on #241
@hsychla Thank you for this report! Could you send me the k9s logs so I can try to figure out what's happening? Tx!!

[code]

[2019-06-20 06:35] KPLauritzen commented on #42
@GJKrupa The issue is not solved, right? Can you reopen the issue?

[2019-06-20 11:58] GJKrupa commented on #42
Last time I tried it, it was working perfectly as long as I had a default namespace set up in my k8s config.

[2019-06-20 16:54] hsychla commented on #241
This is the end of the log file in debug mode.
I unfortunately do not have the time right now to sanitize a whole log file...

Before this snippet, there are a lot of warnings about missing PodMetrics.

[code]

[2019-06-20 17:04] derailed commented on #241
@hsychla  Thank you for sending this info! This is on me. I think you have a bad skin file. Could you remove the $HOME/.k9s/skin.yml and try again? You can look for updates skin file on this repo skins dir. Tx!!

[2019-06-20 17:20] hsychla commented on #241
I tried updating the skin repo but then k9s refused to start at all.
Removing the skin.yml (link to a file in the skin repo) solved the issue.
How did the skin become invalid?

[2019-06-21 04:49] derailed commented on #242
@cwrau Fixed 0.7.8!

[2019-06-21 04:49] #242 closed

[2019-06-21 04:52] derailed commented on #241
@hsychla Most K9s configurations, as pointed out in the README, are subject to change as the project mature. The latest supported skin format has been updated in the README and skin samples. Sorry about the confusion.

[2019-06-21 04:52] #241 closed

[2019-06-21 04:58] derailed commented on #234
@betonmoewe Thank you for the extra info. The only thing I can think off is perhaps HAproxy closes K9s server api connection after some duration. I am wondering if you can repro this with kubectl and watching on some resources for long period of time??

[2019-06-21 05:01] cwrau commented on #242
Awesome! Thanks for the quick fix!

[2019-06-21 05:41] derailed commented on #242
@cwrau Thank you! Happy to hear you are up and running again.

[2019-06-21 05:45] derailed commented on #201
@jfm Please try the latest 0.7.8 and lmt if we are happier. Thanks you for your patience!

[2019-06-21 05:45] #201 closed

[2019-06-21 07:19] jfm commented on #201
Yup everything works again now. Thanks!

[2019-06-21 08:58] cwrau commented on #242
I seem to have been prematurely happy 😞
Now I cannot see the pods, even with the `-n NAMESPACE` flag

[2019-06-21 14:26] RothAndrew opened #244 "Add ability to stop port-forwarding without restarting k9s"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
When I am done with a port-forwarded container, and want to release the port, I am not aware of a way to do it without restarting k9s.

**Describe the solution you'd like**
I'd like an

[2019-06-21 16:06] derailed commented on #244
@RothAndrew I think this functionality already exists.. You can navigate to the port forward view aka `:pf` and see all currently active pf. You can delete them there too. That said, small caveat, I had a bug in the delete which I've just fixed. So please dial in 0.7.9. Tx!!

[2019-06-21 17:59] fabriciopf opened #245 "Logs are not updating"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Logs are not updating after application sends new messages.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Pods View
2. Select a running application and type `l` to see log view
3. Wait for application to send new message

[2019-06-21 18:06] RothAndrew commented on #244
Thanks! I had no idea about `:pf`. Feel free to close this issue.

On Fri, Jun 21, 2019, 12:06 PM Fernand Galiana <notifications@github.com>
wrote:

[2019-06-21 22:15] derailed commented on #245
@fabriciopf Doh! My bad. Thank you so much for the heads up. I'll fix shortly...

[2019-06-21 22:21] derailed commented on #244
@RothAndrew The info is in the README and even slaved over a video for this features ;(
[Video](https://www.youtube.com/watch?v=83jYehwlql8&t=261s)

[2019-06-21 22:36] derailed commented on #231
@GMartinez-Sisti I think you're right and I found an issue in the loggers synchronization. I think this is now fixed. Please give 0.7.10 a rinse. Thank you!!

[2019-06-21 22:36] #231 closed

[2019-06-21 22:37] derailed commented on #245
@fabriciopf Fixed 0.7.10!

[2019-06-21 22:37] #245 closed

[2019-06-21 22:37] #244 closed

[2019-06-24 11:45] roflmao commented on #240
Also this trying to edit config:

[code]

[2019-06-25 09:48] betonmoewe commented on #234
I think, I have found a solution ... it seems that the source of the problem was haproxy and your little program reacts a bit sensitive.

I have included some options in the haproxy Config file:

  option  http-ignore-probes
  option  http-keep-alive
  option  prefer-last-server

and now, the error message disappeared, I hope this does not affect my other connections ...

Thanks for your help and

[2019-06-26 10:49] lukaszo commented on #240
To start k9s with snap on Ubuntu 18.04 I had to manually create `~/.k9s` and run it with `k9s --kubeconfig ~/.kube/config`

[2019-06-27 10:36] joskfg commented on #240
I have the same issue with snap:
[code]

[2019-06-27 13:25] derailed commented on #240
@roflmao @lukaszo @joskfg Thank you for reporting this! The snap release is indeed a mess as you've all pointed out. The main issue is that $HOME/.k9s is getting sandboxed as $HOME is getting remapped as a snap. I have an issue pending with the Snap folks to see if we can get granted classic confinement just like kubectl so that we can use $HOME as expected by the go standard lib. This process has

[2019-06-29 23:19] hsychla opened #246 "Crash on opening events"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When trying to open an event by pressing \<Enter\> on the event, k9s crashes with

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ':ev'
2. Hit \<Enter\> on any event
3. Boom!
4. See error

**Expected behavior**
Show event

[2019-07-01 06:17] arthurk opened #247 "implement fuzzy finder"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
I think it would be cool if we could select a pod with less typing. For example if there's a pod running with the name `prometheus-server-5d5f6db7cc-kn7nx` one could type `promserver` a

[2019-07-01 18:44] derailed commented on #247
@arthurk Thank you for this report! Brilliant idea! I'll take a look...

[2019-07-02 14:19] afkham opened #249 "Custom views for custom resources"
We have some CRDs deployed on our k8s cluster. We can list the custom resources. However, when you press enter when the resource is selected, nothing happens. We want to show the pods associated with that custom resource when you press enter. Is there a way we can associate a custom action with a resource?

[2019-07-03 05:37] gladiac1337 commented on #80
+1 on cygwin

[code]

Log output:
[code]

Not sure if the "file not found" concerning the benchmark config is the culprit here...

[2019-07-03 06:26] error0327 opened #250 "logs from crashed pods"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem?**

    k9s don't enable watching logs from pods with Status !=  Running .

**Describe the solution you'd like :**

    enable watching logs for pod with status crashed / CrashLoopBackOff ..

**Describe al

[2019-07-03 08:15] rj93 commented on #188
@muicoder did you find a solution for this?

[2019-07-03 08:19] xxfatumxx commented on #188
He forgot to deploy metrics-server to his cluster. https://github.com/kubernetes-incubator/metrics-server

[2019-07-03 09:05] andy199 opened #251 "Why can't I display all namespaces by list by default, but also k9s -n namespaces"
Why can't I display all namespaces by list by default, but also k9s -n namespaces

[2019-07-03 10:42] tryelse opened #252 "Unreadable logs for light theme of terminal"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Colors in logs for white color theme of terminal is broken.
Logs became unreadable after upgrade from some old version to 0.7.11

**To Reproduce**
Steps to reproduce the behavior:
1. Just install the newest version (for now 0.7.11)
2

[2019-07-03 19:06] derailed commented on #252
@tryelse Thank you for this report! Do you happen to have a skin.yml file in your .k9s dir?

[2019-07-03 19:08] derailed commented on #251
@andy199 Not sure I am getting this?? All namespaces is the default unless your kubeconfig specifies a namespace in which case it would be used by K9s.

[2019-07-03 19:22] derailed commented on #249
@afkham Thank you for this report! CRDs are a bit tricky to deal with. This is the reason most CRDs come with their own CLI tools as kubectl falls short in displaying most CRDs information. Keep in mind, that It's not always the case that deploying a CRD yields pods. As a CRD can manipulate K8s standard resources as well as other CRDs.  I'll have to do a bit of research here and see if K9s could o

[2019-07-04 01:50] andy199 commented on #251
Wǒ de yìsi shì qiēhuàn mìngmíng kōngjiān máfan, dāng wǒ shūrù k9s yùnxíng hòu bùnéng zài nèibù qiēhuàn wǒ xiǎng yào de mìngmíng kōngjiān, ér shì yào shūrù k9s -n mìngmíng kōngjiān, ránhòu tuìchū hòu, zài shūrù k9s cái yǒu mìngmíng kōngjiān jìlù
81/5000
I mean, switching the namespace is troublesome. When I type k9s, I can't switch the namespace I want internally. Instead, I need to enter the k9s -

[2019-07-04 01:58] mrballcb commented on #251
I run `k9s --context foo` to connect to the kube stack I want.  Then I type `:ns`*<ENTER>*, it lists out the namespaces, I cursor and select the one I want by pressing *<ENTER>*.  Then I type `:po`*<ENTER>* and list out the pods again.  Now the namespace I previously selected will be in the quicklist (numbers 1 - n).

I try not to use `-n foo` on the cli because it filters too much in other parts

[2019-07-04 02:25] andy199 commented on #251
inside

[2019-07-04 07:25] ncsibra commented on #252
I have the same problem and I don't have a skin.yml.

[2019-07-04 07:40] tryelse commented on #252
@derailed No, ~/.k9s contains only config.yml

[2019-07-05 03:36] cyaconi commented on #252
Same here. Just upgraded, no skin.
Besides the format problem, this version is prepending the pod name in every log record, which in my case where pod names are quite long, this extra text is taking almost 40% of the line. Is there any way to disable prepending pod name in logs?

[2019-07-05 10:11] afkham commented on #249
How about having a configuration in the config.yml where you could specify the kubectl command to run when you are in view of a particular resource, and you press enter when that resource is selected? For example, we have a custom resource type called cells, and the command we wish to run is: kubectl get csvc -l mesh.cellery.io/cell=<cell-name>.

[2019-07-08 05:14] ruudjutinant opened #254 "Cannot edit"
**Describe the bug**
I cannot edit resource,  i press e but nothing happen

**To Reproduce**
Steps to reproduce the behavior:
1. Go to deployment resources
2. press e
3. nothing happen

**Versions (please complete the following information):**
 - OS: elementary OS 5.0 Juno (Ubuntu 18.04.2 LTS)
 - K9s 0.7.11
 - K8s-client v1.15.0
 - K8s-server v1.13.3

[2019-07-08 17:22] derailed commented on #254
@ruudjutinant Thank you for the report! Could you check the K9s logs and see what is going on with edit. Could either be a config issue or not enough rbac fu to edit the resource...

[2019-07-08 17:26] derailed commented on #252
@tryelse. I think I see the issue. I will push a fix in a bit.
@cyaconi How would you propose we deal with containers names in multi logs scenarios? I understand the issue with log pod:container names but we need a way to decipher where the logs are coming from in multi-resources/containers scenarios??

[2019-07-08 17:28] derailed commented on #251
@andy199 Does this solve your initial issue? Tx @mrballcb for the clarifications!

[2019-07-09 02:40] andy199 commented on #251
Yes   Thank you

[2019-07-09 04:33] ruudjutinant commented on #254
thank you for response.
log that i have
`Unable to find kubeclt command in path exec: "kubectl": executable file not found in $PATH`

I installed k9s via snap and kubectl too

[2019-07-09 08:31] mycrEEpy opened #255 "Sort by Namespace broken"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Sorting by namespace (shift-p) does not sort by namespace but by name.

**To Reproduce**
Steps to reproduce the behavior:
1. shift-p on pod view (or any other with namespace column)

**Expected behavior**
Should sort by namespace.

*

[2019-07-09 09:13] ncsibra commented on #252
About the pod name issue, I think showing the pod name only in multi log/container scenario would be enough. Most of our pods have only 1 container, so seeing the pod name is pointless.

[2019-07-09 09:18] ncsibra opened #256 "K9s hangs when pod does not have logs"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Hang when a pod does not have logs.
Debug log only shows:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a running pod without any log
2. Press `l`
3. K9S will hang

**Expected behavior**
Show the "Doh, no logs" m

[2019-07-09 14:58] #251 closed

[2019-07-09 15:02] derailed commented on #256
@ncsibra Thank you for the report! I can't seem to repro this. Viewing logs when a container has no logs does not seems to hang K9s. I can escape out and return to the previous view. Or am I missing it?

[2019-07-09 15:07] ncsibra commented on #256
I can repro this with a few pod, don't know what else could cause this.
I don't see any difference, compared to other working pods and the debug log only show what I pasted here.

[2019-07-09 21:56] ryudice commented on #73
How do you search when you are viewing the logs?

[2019-07-10 04:43] derailed commented on #256
@ncsibra Thank you for the extra info. I'll keep digging and see if I can repro. So far I just can't get K9s to hang as pressing <esc> or a command does get me out of log view. Just to be sure by `hanging` you mean you have to kill the k9s process to recover?

[2019-07-10 04:52] ncsibra commented on #256
Yes, I have to kill the process, I'm waiting a few minutes, but nothing happened.

[2019-07-10 04:53] derailed commented on #256
@ncsibra NM - of course just as commented I've found a repro switching out to another cluster. Now I can dig in. Thank you so much for reporting this!!

[2019-07-10 16:35] hongfei-zhou opened #258 "refresh rate config getting reset when starting k9s"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
I am trying to change the refresh rate through `~/.k9s/config.yml`, but every time I restart k9s, it got reset.

**To Reproduce**
Steps to reproduce the behavior:
1. `vim ~/.k9s/config.yml` and change the `refreshRate`.
2. restart k9

[2019-07-11 00:59] stgarf opened #259 "invalid memory address or nil pointer dereference"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>
<br/>

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. I started k9s.
2. I then viewed the YAML for any pod by pressing `Y` on a pod.
3. While viewing YAML, I pressed `shift+/` for help.
4. I then pressed `ESC` to exit the help view. k9s co

[2019-07-11 15:03] derailed commented on #259
@stgarf Great catch!! Thank you for this report!

[2019-07-11 17:59] camilosantana opened #260 "key 'q' doesn't quit"
`?` brings up help menu.

[code]

but pressing `q` doesn't quit

`CTRL+C` will exit program.

[code]
[code]

[2019-07-11 18:37] r0guebyte commented on #80
I have the same issue.  Has there been any progress on this one?

[2019-07-11 20:17] Jabbo16 commented on #260
Try with `:q`

[2019-07-12 05:10] derailed commented on #254
@ruudjutinant Thank you for the reply! Having all kinds of issues with the snap release at the moment. Hopefully we'll get it sorted out but I believe this is related to the snap relocating the home directory. For the time being, I'll recommend using the tar bundles from the release page if possible? Thank you!

[2019-07-12 13:27] omnipresent07 opened #261 "k9s resets config.yml each time it is launched"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Each time I launch k9s, the `config.yml` file gets overwritten.

**To Reproduce**
1. Make a change to config.yml
2. Launch k9s
3. Quit k9s
4. Notice that config.yml has been reset

**Expected behavior**

I would expect k9s, to not ch

[2019-07-12 14:15] derailed commented on #261
@omnipresent07 Thank you for this report! This is correct, K9s does currently leverage the config file to persist state. Users can overwrite values in the config that are expected to be reflected the next time K9s is started. In your use case added or updating the favorite ns should be respected by k9s and reflected on the next launch. I've just validated that this work as expected. Could you send

[2019-07-12 14:19] derailed commented on #260
@camilosantana Thank you for this report! This is on me I'll make sure the help is updated on the next drop.
@Jabbo16 Thank you so much for the correction!

[2019-07-12 14:25] derailed commented on #260
@camilosantana @Jabbo16 Updated help 0.7.12

[2019-07-12 14:25] #260 closed

[2019-07-12 14:27] derailed commented on #259
@stgarf Fixed 0.7.12!

[2019-07-12 14:27] #259 closed

[2019-07-12 14:27] derailed commented on #258
@hongfei-zhou Fixed 0.7.12!

[2019-07-12 14:27] #258 closed

[2019-07-12 14:27] derailed commented on #256
@ncsibra Fixed 0.7.12!

[2019-07-12 14:27] #256 closed

[2019-07-12 14:27] derailed commented on #255
@mycrEEpy Fixed 0.7.12!

[2019-07-12 14:27] #255 closed

[2019-07-12 14:34] derailed commented on #252
@tryelse @ncsibra  @cyaconi - Fixed 0.7.12! I think I've fixed the original issue with the background being reset in white terminal mode. As for the pod names I've changed the logic a bit.

* When viewing multiple pod logs the full pod:container will be shown.
* When viewing a single pod with multiple containers the container name will be shown
* When viewing a single pod with a single container j

[2019-07-12 14:34] #252 closed

[2019-07-12 14:35] derailed commented on #250
@error0327 Fixed 0.7.12!

[2019-07-12 14:35] #250 closed

[2019-07-12 14:53] omnipresent07 commented on #261
@derailed Thanks for the quick reply. The below output shows that 1) I add `beta` namespace to my config.yml. 2) launch k9s 3) quit k9s 4) now when I view the config.yml the `beta` namespace is gon. I've also attached a screenshot showing k9s' not displaying the `beta` namespace although I added it as favorites.

[code]

[2019-07-12 16:12] mcristina422 commented on #216
This is supported in goreleaser using a recent version `v0.110.0`. @derailed what version are you using? Can you upgrade to at least https://github.com/goreleaser/goreleaser/releases/tag/v0.110.0 ?

[2019-07-12 16:53] derailed commented on #261
@omnipresent07 Hum that's surprising... Let's try 2 things.

1. launch K9s - type :ns to list out the namespaces
  a) Is namespace beta listed?
  b) If so select `beta` + <enter> does this issue an error?
2) What is the output of
[code]

I am thinking there might either be an access priv issue or the cluster you are connecting to does not have that namespace. K9s will check fav ns against the curr

[2019-07-12 17:51] stgarf commented on #259
Verified @derailed. Thanks and nice work on the htop of kubernetes :P

[2019-07-12 19:22] camilosantana commented on #260
"vim-style." i get it. thanks @Jabbo16

[2019-07-13 05:17] derailed commented on #259
@stgarf Thank you so much for checking me on this and for your kind words!

[2019-07-16 10:37] GMartinez-Sisti opened #262 "Cascade option not working when removing a statefulset"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Removing a Statefulset with cascade off (X is removed from the option) will remove all the statefulset existing pods

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a Statefulset definition
2. Press 'Ctrl+D'
3. Remove the

[2019-07-17 08:24] kaz-33 opened #263 "s Shell doesn't work"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
No action when i use "s" feature in a list of pod to run in shell pod or container

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '.pod list'
2. Click on '.s'
3. nothing
4. See error on a log " ERR Unable to find kubectl

[2019-07-17 10:13] derailed commented on #262
@GMartinez-Sisti Great catch! Thank you!!

[2019-07-17 10:18] derailed commented on #263
@kaz-33 Are you by any chance using the snap release? If so lot's of troubles there ;( I think this is captured in #240?

[2019-07-17 14:16] kaz-33 commented on #263
Hi Derailed,
il'ts look like to the edit issue;
I'm not sure to understand the fix,
- snap release, update?
 - misconfigure $HOME (need to wait a patch?)
Nice tool!!
Br
Thks

[2019-07-17 16:54] mcristina422 commented on #246
@derailed this is also happening when going to `pdb`  and trying to describe or hit enter on the pdb

[2019-07-17 21:25] keyvhinng opened #265 "It's not clear how to switch between panes / resources"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>

I am not able to switch between panes/tabs/resources.  As seen on this video https://youtu.be/83jYehwlql8?t=53. The user can easily move between resources (from deployments view to pods view and the other way around). I failed to reproduce that action.

**Vers

[2019-07-17 22:10] polothy commented on #265
I believe he is just using `Return` to drill down and `Esc` to go back.

Unsure though if you can switch between those tab like things at the bottom (the `<po>`, `<cm>`, etc).  Would be good to know.  There is the `p` key binding to pop off the top tab.

[2019-07-18 08:44] yujunz commented on #262
Same issue in

* OS: 10.14.5
* K9s: 0.7.11
* K8s: v1.13.5

[2019-07-18 09:15] homme opened #266 "Fix *TARGETS* display in HPA view when using custom metrics with `apiVersion: autoscaling/v2beta1`"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
The *TARGETS* column always displays `<unknown>/<unknown>%` when viewing a HPA configured to use custom metrics via the `autoscaling/v2beta1` API version e.g.
![image](https://user-images.githubusercontent.com/1055336/61441995-9d155c

[2019-07-18 12:15] asomir opened #267 "Boom!! Unable to locate K8s cluster configuration."
Hi!

If i run k9s with minikube, i see "Boom!! Unable to locate K8s cluster configuration."
I have created $HOME/.k9s/config.yml but k9s still doesn't see my minikube.

What i do wrong?
Thank you in advence!

[2019-07-18 13:44] derailed commented on #265
@keyvhinng Thank you @polothy! - This is correct about enter+esc - the bottom view indicator is currently just a bread crumb to show where you've been. You can use `p` to navigate back to a previous view. Does this make sense?

[2019-07-18 13:51] derailed commented on #267
@asomir  Are you using a snap release of K9s? If so please download K9s from the release page as we're currently having issues with snap. If not did you set up a custom kubeconfig location?
What is the output of:

[code]

[2019-07-18 15:44] polothy commented on #265
Yes, totally! I think my first thought was that they were panes/tabs that you could jump back and forth between them.  It's pretty easy to open them anyways, so maybe not actually needed.  Just tried out the project yesterday and getting a feel for it.  Really impressive! I'm planning on using it, thanks for the amazing project!

[2019-07-19 15:44] gpbenton commented on #267
I am getting the same output - using the binary download for 0.7.12 and microk8s

[code]

[2019-07-19 19:08] derailed commented on #267
@gpbenton Thank you for the addition! I haven't spin a microk8s cluster as of yet. Could you send me the K9s logs. It may contain some more insights. Tx!!

[2019-07-19 20:20] derailed commented on #265
@polothy Thank you so much for your kind words!! Really happy to hear it's useful to you.

[2019-07-19 23:36] #246 closed

[2019-07-20 02:52] mcristina422 commented on #216
@mitchellmaler try installing `0.7.13`. Added here https://github.com/derailed/homebrew-k9s/commit/cdc4d61581be1ceb49b41616d4e7c98939beb081

[2019-07-20 02:55] derailed commented on #266
@homme Fixed 0.7.13!

[2019-07-20 02:55] #266 closed

[2019-07-20 02:57] derailed commented on #263
@kaz-33 If you're good with that K9s can now be installed via linuxbrew as of 0.7.13. Thinking this is a better way to go on linux...

[2019-07-20 02:58] derailed commented on #262
@GMartinez-Sisti @yujunz Thank you for the heads up!! Fixed 0.7.13

[2019-07-20 02:58] #262 closed

[2019-07-20 03:04] derailed commented on #240
@roflmao @lukaszo @joskfg - the interaction with the snap folks is taking forever. Think you should give linuxbrew install instead. Just push 0.7.13 a rinse. Thank so very much for all your reports!

[2019-07-20 03:05] derailed commented on #234
@betonmoewe Thank you so much for reporting back, documentation and your kind words!

[2019-07-20 03:08] derailed commented on #216
@mitchellmaler as @mcristina422 pointed out, we should be good there now... Thank you @mcristina422!!

[2019-07-20 03:08] #216 closed

[2019-07-20 03:13] derailed commented on #166
@accountgit @jglick Would you mind giving linuxbrew a rinse with k9 v0.7.13? I am having a really rough time getting thru the snapcraft folks and homebrew just worked perfectly for me on an linux vm. Thank you!!

[2019-07-20 03:22] derailed commented on #267
@gpbenton FYI just gave microk8s a quick rinse. It looks like they stow away their own kubeconfig.

So I ran the following cmd:

[code]

And K9s correctly connected to my microK8s cluster.  BTW installed K9s with linuxbrew as of 0.7.13. I hope this works for you too...

[2019-07-21 15:07] awwitecki opened #268 "Pods not visible"
Hello,
this problem is there for couple of months so sorry for a delayed call-out. I'm able to see all the k8s resources with k9s except pods for which the view is always empty albeit I've got a lot of pods there (visible with kubectl ofc).
Logs suggest the lack of access. For sure it's worth mentioning that I'm using multi-tenant cluster with the access limited to my namespace only (I'm able to l

[2019-07-22 01:20] derailed commented on #268
@awwitecki Thank you so much for the report! It looks like your user can list namespaces hence you get to see the namespaces in K9s. If you ran the following:

[code]

Where my_ns is your confined namespace, do you now see your pods?

[2019-07-22 05:42] awwitecki commented on #268
This is actually the way I run k9s, i.e.
[code]

[2019-07-22 10:48] gpbenton commented on #267
Thanks @derailed , that fixed my problem.  Do you think the error message could contain which file is missing, to make finding the problem easier?

[2019-07-22 11:03] eldada opened #269 "CPU and Memory usage not always showing"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Looking at a pod per node or per namespace, _some_ of the pods show `n/a` in the **CPU** and **MEM** columns.
Other pods report fine.
This happens sometimes for new and old pods.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2019-07-22 16:53] derailed commented on #269
@eldada Thank you for your report! I can't seem to repro ;( not saying there is no bug here...
So could you capture the K9s logs when this happens? Also on new pod is does take a few mins to gather container metrics. The same applies when existing pods get restarted. When this occur does `kubectl top po` report metrics? Also do these pods remain in n/a or do they eventually get metrics?

Thank you

[2019-07-22 17:07] derailed commented on #268
@awwitecki Thank you for your reply! So when you start K9s unrestricted, it will attempt to list pods in all namespaces. If the kubeconfig specifies a namespace that namespace will be used. What would you expect the behavior to be when launching K9s on RBAC enabled clusters?

[2019-07-22 17:10] derailed commented on #267
@gpbenton Thank you! Yes I'll rework the error message a bit. By `cluster configuration` does mean K9s can not locate or load the kubeconfig file.

[2019-07-22 18:29] eldada commented on #269
Well - indeed `kubectl top pod` on the problematic pods shows
[code]
So the problem is not in k9s...

Looking at the `kube-system/metrics-server` logs, I see many
[code]

Before we close this - any idea?

[2019-07-22 19:21] derailed commented on #269
@eldada First thing is to check the restart count if this test-0 pod containers have issues you won't be able to get metrics. Next this will depend on your cluster and how you've setup the metrics-server. Are any other pods in that namespace getting metrics? If not it could be a certificate issue. Check your metrics-server restarts and the log for any certs errors. Last I would try a well know pod

[2019-07-22 19:41] eldada commented on #269
Thanks! I will try these suggestions. I will close this issue as it's not `k9s` related.
I'll update with findings here for others to enjoy...

[2019-07-22 19:41] #269 closed

[2019-07-23 01:31] jglick commented on #166
I will take a pass—dpkg/APT plus Snap is enough for me to keep track of without adding a third tool.

[2019-07-25 08:47] ftorto opened #270 "Feature request: Full Screen mode / Hide headers"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**

When I split my terminal horizontally, I would like to hide the headers (showing shortcuts and cluster information) because I have not so much space for this information frame.

**Desc

[2019-07-26 16:10] rocketraman opened #271 "Feature Request: Easy way to copy resource names to clipboard"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**

Many times I want to take a resource name and then execute some external commands on it e.g. I want to pass it to as an argument to `kubectl` or search for it in some log management sy

[2019-07-26 16:18] rocketraman commented on #227
Keep in mind, this syntax still just forwards traffic to a single pod. The `svc/$SERVICE_NAME` syntax is just a convenience that saves having to look up the pod name. I'm not sure, given this behavior of Kubernetes, it makes sense for k9s to support this, because it really doesn't do what people would expect it to do, which is that port forwarding to a service does mimic the load balancing of a re

[2019-07-26 18:23] awwitecki commented on #268
Sorry for late response. I'm not completely sure what did you mean by that. Basically I always start k9s with context and namespace specified. I have all the rights to list, describe, etc. my pods there but despite this fact my pods are not visible with k9s while simple `kubectl --context ... -n ... get pods` shows them all. Or maybe I've configured my k9s wrong? Once again, all the other resource

[2019-07-27 15:40] derailed commented on #268
@awwitecki Thank you for the follow up! Sorry I think I have misunderstood your question. I thought you could see the pods when using --context and -n. So I think this is indeed a bug as your user can actually list namespaces at the cluster level but can't list pods at the cluster level. I will fix this on the next drop. In the short term, I think if you further confine your user to only get but n

[2019-07-27 15:42] derailed commented on #270
@ftorto Thank you so much for this report! I'll take a look and see if we can make this happen.

[2019-07-27 15:51] derailed commented on #271
@rocketraman Thank you for this report! I see the use case, but don't think this is the correct solution here. My thought is  to eventually allow a user to define her own shortcuts to run ad-hoc commands. Kind of like shell where k9s will expose some kind of env var ie $namespace or $resourceID based on current context and allow users via the k9s config to extend the cli with their own mnemonics.

[2019-07-27 21:07] rocketraman commented on #271
@derailed I like the idea. I have a shell script that copies it's standard input to clipboard so with your solution I could implement my exact use case as-is, assuming I still needed it.

[2019-07-29 09:58] miguelaferreira commented on #114
I do have the metrics-server running but still get no cluster wide CPU and MEM numbers. Is there any specific label that k9s looks for to find the metrics server?

[2019-07-29 13:08] cwrau commented on #227
Mh, you're right 😒
Then it's probably too much trouble.
You can close this, if you want

[2019-07-29 14:04] ftorto opened #272 "Feature Request: Simplify deletion shortcuts/navigation"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**

I use to kill pods regularly via k9s. I'm frustrated to have to navigate in the popup menu after pressing `ctrl+d` to select `OK` button

**Describe the solution you'd like**

Is it po

[2019-07-29 14:17] ftorto opened #273 "Feature Request: reverse-color for highlighted selection"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**

When I select a line which is "red" (eg. a pod which is not ready) or any other color, the background color is blue and it is not obvious to see that the line is red. I didn't found an

[2019-07-30 16:26] mcristina422 commented on #215
@derailed can we expose the `--grace-period=0` option somehow?

[2019-07-31 15:31] zoranpopovic opened #274 "logs missing for pods in CrashLoopBackoff state"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
logs and prev logs both show nothing for pods in crashLoopBackoff mode.

**To Reproduce**
Steps to reproduce the behavior:
1. get any pod to crash consistently
2. select the pod and press l or shift-l.  no logs show up

**Expected be

[2019-08-02 02:51] keyvhinng commented on #265
Thanks for the clarification ! They are not panes/tabs which you can navigate indistinctly. It's more like a stack and with `p` you pop the last element.

[2019-08-02 02:51] #265 closed

[2019-08-02 10:27] fardin01 opened #275 "Screen dump for YAML view"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I'm always frustrated when trying to copy paste something from log/YAML view.

**Describe t

[2019-08-02 13:25] ncsibra opened #276 "Make filtering sticky between resource changes"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
Would be nice if k9s could remember the filter value between resource changes.
A lot of times I want to check a specific service with different resources, e.g. a pod, service, ingress,

[2019-08-03 06:14] nathanpiper commented on #12
Hey guys, I just submitted a PR to add a scale action for deployments, stateful sets and replication controllers.

I wasn't quite sure how to test it properly, given the existing tests.

Any help would be much appreciated!

[2019-08-04 05:12] #234 closed

[2019-08-05 02:45] wgliang opened #278 "use vendor to manage dependent packages"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

It is highly recommended to use vendor to manage dependent packages. It is sometimes painful for developers to resolve dependencies, especially in CN.

[2019-08-05 04:18] wgliang opened #279 "Support for specifying node and pod"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
For a large cluster (a cluster of thousands of nodes), it is very expensive to get all the

[2019-08-05 14:39] derailed commented on #278
@wgliang Thank you for this report! I understand your concern, however I opted for not vendoring given the sheer amount of dependencies. I use module proxies in my local development which is much more efficient not to mention faster. This is coming in go 1.13 which this project will officially adopt. Does this make sense?

[2019-08-05 14:47] derailed commented on #279
@wgliang Indeed! Thank you for this issue! I agree for large clusters this may be an issue. K9s does leverage informers and hence the views will be eventually consistent if a large number of pods is at stake. I do see a benefit in constraining to a given host. Can you clarify what you mean by pod? However you would loose some of K9s benefits. It does seem however that launching K9s on a given name

[2019-08-05 15:12] RothAndrew opened #280 "K9s running very slowly when opening Secrets in namespace with lots of secrets"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
K9s slows down to the point where it is unusable when opening Secrets in a namespace with lots of secrets.

I have a namespace with 163 secrets. Most of them are from Helm, tracking deployment versions. Opening that namespace and nav

[2019-08-05 16:03] derailed commented on #280
@RothAndrew Thank you for this report! Great find!! I'll try to repro on one of my clusters and see what might be happening here. I understand the sensitivity of this matter so please don't share screen or video if I can't repro we will figure out another way to share/discuss.

[2019-08-06 00:36] derailed commented on #280
@RothAndrew So I took a quick look and spinned up 200 secrets on a cluster both remote and local and K9s has NOT slowed down a bit ;( So sheer volume is not an issue here. There is something else going on. Are you saying the view shows the secrets but then describing a secret or viewing a secret yaml is slow or loading secrets then going to another view is slow? Or is loading the view in the first

[2019-08-06 01:36] derailed commented on #213
@linecolumn Are you ok to close this now that port-forwarding is enabled directly from K9s?

[2019-08-06 01:37] RothAndrew commented on #280
Helm has the option to store the data as secrets instead of configmaps for security. We are using that option, so the secrets have pretty much the same data as those configmaps would have.

[2019-08-06 01:41] RothAndrew commented on #280
Loading the list of secrets happens pretty quickly,  but then K9s slows down. Pressing arrow up/down, or pressing Shift+colon, typing another resource type, and hitting enter, takes like 30 seconds to catch up and actually work. The instant it does though, and it switches to pods for example, K9s is instantly fast again

[2019-08-06 03:01] derailed commented on #280
@RothAndrew Thank you for the reply and extra info! Hum so I have tried secrets and up-down arrowing and switching on a couple clusters with 200+ secrets and k9s is still cool. Also tried on an Istio cluster that keeps lots of secrets 130+ and K9s perf is still good. Yikes! I'll dig some more and see if I can repro this. Also would you mind changing the refresh rate to say 5s or 10s  (k9s -r 5) an

[2019-08-06 03:06] RothAndrew commented on #280
I'll try changing the refresh rate, that's a good idea that I hadn't thought of.

Don't feel like you have to bend over backwards on my account. It's not like I'm gonna stop using your amazing tool :)

Tomorrow morning I'll make a video and email it to you.

[2019-08-06 03:17] derailed commented on #280
Ah! Thank you so much @RothAndrew for your kind words!! I am trying to have a tool that we can all use to our satisfaction. A tall order may be... But I know we all have stuff to do and don't want the tool to get in the way. So if we can figure out a resolve for you, I think that would be great as others will benefit too. In your particular case,  I am thinking that it might be a latency issue tal

[2019-08-06 08:02] cauli opened #281 "Feature Request: Allow arrow keys navigation on Delete popup"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
It took me a while to understand that I had to navigate the Delete Pod (ctrl+d) pop-up with `Tab`, and `Shift-Tab`.

I was trying to navigate using arrow keys. This was my expected beha

[2019-08-06 08:15] cauli commented on #281
Related to #272, but I don't think it is the same request.

[2019-08-06 13:16] RothAndrew commented on #280
I changed the refresh to 30, and it is smooth for 30 seconds, then freezes for 5 seconds, then is smooth again, so I think we are on to something.

[2019-08-06 13:20] RothAndrew commented on #280
Yep, it's definitely a server refresh timing thing. Sometimes the hang is 2 seconds, sometimes 5, sometimes ~7, but never under 2, which is why the default of 2 showed unrelenting slowness.

[2019-08-06 13:49] RothAndrew opened #282 "OPINION: The cascade option when deleting should default to off"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Cascade is a more destructive action, so it should not be the default, where it will be easier for people to do it without thinking.

![Screen Shot 2019-08-06 at 9 47 46 AM](https://user-images.githubusercontent.com/16000938/62545204

[2019-08-06 15:02] RothAndrew commented on #280
Is it possible to make the server refresh a non-blocking asynchronous action? This is in Golang right? I don't know Golang, but in Javascript I would have it return a promise so it doesn't block the UI thread.

[2019-08-06 15:17] RothAndrew commented on #280
Anyways, feel free to close this when you're ready, since we've determined what the problem is.

[2019-08-07 18:53] derailed commented on #282
@RothAndrew Thank you for the report! I am on the fence with this one... There are some present debate with the K9s delete dialog. Some are for less other more. There is a balance at stake here ie `less-destructive vs expectation`. While deleting a deployment do you want just to delete the deployment or both the deployment + associated pods. I think the expectation is the later.

ie which of the f

[2019-08-07 19:04] derailed commented on #272
@ftorto Thank you for the report! This was indeed a K9s original feature ;( I think this make sense in regards to `managed` pods. Some time I just want to quickly cycle a pod and I do see your point that in this case the current dialog might be a bit too intrusive...

[2019-08-07 22:41] RothAndrew commented on #282
I think you kind of just proved my point though didn't you? Kubectl makes you explicitly add a flag to do a Cascade delete. I believe K9s should do the Same by defaulting the Cascade option to off

[2019-08-07 23:33] derailed commented on #282
I did not think so?? My point was kubectl sets cascade=true by default. ie kubectl delete deploy/fred will delete deployment and associated pods. Oh I see above should have read --cascade=false.

Or from the docs...

[code]

[2019-08-08 01:27] RothAndrew commented on #282
I didn't know that! I thought it defaulted to false. If that's the case and kubectl defaults cascade to true then I don't have any issue with k9s doing that too

[2019-08-08 01:27] #282 closed

[2019-08-09 16:20] mcristina422 commented on #272
I have wished for this feature daily. `ctrl+shift+D` was also the key combination I had in mind

[2019-08-09 16:39] derailed commented on #166
@jglick I totally get this. Managing the cognitive overload is indeed a challenge for all of us. You can always download the release from the releases page. I'll try to get this snapcraft issue as quickly as I can, but unfortunately it's not up to me to speed up this process.

[2019-08-09 16:51] RothAndrew commented on #166
`snap install --classic`?

https://ubuntu.com/blog/how-to-snap-introducing-classic-confinement

[2019-08-10 02:55] yrsurya commented on #188
![image](https://user-images.githubusercontent.com/15348689/62816658-bd2cdb00-baf8-11e9-82ff-832260295907.png)

[2019-08-10 02:56] yrsurya commented on #188
using latest version of k9 not showing CPU/MEM for nodes
![image](https://user-images.githubusercontent.com/15348689/62816671-efd6d380-baf8-11e9-9fa6-32dd69730ebe.png)

We do have metric-server pod running

[2019-08-10 03:08] yrsurya commented on #188
please let me know if need more information to get them, am not able to repoen this ticket

[2019-08-10 05:05] divramod opened #283 "add cli-option to pass resource to watch"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

Hey, thx for the awesome work. I am using k9s heavily!
I dont know if i have overlooked the feature i am asking for. so sorry in advance if this is the case.

**Is your feature request related to a problem? Please describe.**
I reopen k9s with tmux a l

[2019-08-10 06:10] derailed commented on #283
@divramod Thank you for your kind words and support! K9s does store the last viewed resource in in .k9s/config.yml file but does not currently support multiple of those. I think the option to override the resource makes sense however currently the last k9s session closing will win in terms of writing the k9s config file. Hence the next launch will used the last session resource.  I need to noodle

[2019-08-10 17:36] derailed commented on #274
@zoranpopovic Thank you for this report!! Fixed 0.8.0!

[2019-08-10 17:36] #274 closed

[2019-08-10 17:37] derailed commented on #273
@ftorto Nice one this has been bugging me too ;) Thank you for this report!! Fixed 0.8.0!

[2019-08-10 17:37] #273 closed

[2019-08-10 17:38] derailed commented on #272
@ftorto @mcristina422 Fixed 0.8.0! Alt-K

[2019-08-10 17:38] #272 closed

[2019-08-10 17:38] derailed commented on #271
@rocketraman Fixed 0.8.0!

[2019-08-10 17:38] #271 closed

[2019-08-10 17:39] derailed commented on #247
@arthurk Fixed 0.8.0!

[2019-08-10 17:39] #247 closed

[2019-08-10 17:40] derailed commented on #203
@Makusi75 @freeseacher Fixed 0.8.0. Please see release notes.

[2019-08-10 17:40] #203 closed

[2019-08-10 17:42] derailed commented on #12
@alairock @TwinProduction @burythehammer. Fixed 0.8.0! Thank you @nathanpiper!!

[2019-08-10 17:42] #12 closed

[2019-08-10 17:44] derailed commented on #261
@omnipresent07 - Please reopen if this issue is not resolved. Closing for lack of response.

[2019-08-10 17:44] #261 closed

[2019-08-10 19:18] rocketraman commented on #271
Works great, thanks!

[2019-08-11 02:30] divramod commented on #283
hey, thx for your fast response! maybe it would be also make sense to be able to pass a path to a configfile. this way one would be even more flexible.

[2019-08-11 03:35] divramod commented on #283
i created a pull request for the config file https://github.com/derailed/k9s/pull/284
can you have a look at it?

[2019-08-11 05:08] mingfang commented on #272
alt-k doesn't work for me.
Maybe it's a Mac thing.
Anyhow, IMHO `ctrl-shift-d` makes more sense.

[2019-08-11 06:16] eldada commented on #272
On Mac - `alt-k` is ignored.

I agree to this too.

[2019-08-11 13:26] RothAndrew commented on #272
On Mac it becomes Esc-K. Same with sorting by CPU/Memory% in pods view

[2019-08-11 13:31] eldada commented on #272
I think the OS should be detected and shortcuts presented accordingly.

[2019-08-11 13:41] RothAndrew opened #285 "Shortcuts that use Alt don't work on Mac the way you'd expect them to"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**

Macs don't have an Alt button, they have an "Option" button. Windows-style keyboards map Alt to Option, and all keyboards, Windows or Mac-style, map Escape to Alt (when holding it down, tapping the Esc button still performs an "Esca

[2019-08-11 14:18] RothAndrew commented on #285
Another alternative:

1. Add to the documentation that you can set options to "Use Option As Meta Key".

- [MacOS Default Terminal](https://apple.stackexchange.com/a/1392/341212)
- [VS Code](https://github.com/microsoft/vscode/issues/11314#issuecomment-384067528)

[2019-08-11 14:21] RothAndrew commented on #272
@eldada @mingfang alternative you can do right now: https://github.com/derailed/k9s/issues/285#issuecomment-520232066

[2019-08-12 18:23] bill-within opened #286 "Fuzzy searching vs. regex"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

With the new fuzzy searching in v0.8, it doesn't seem to be possible to do a search that's intended to match multiple differently-named pods. For example, if I want to see a single list that shows the pods for both our "traefik" reverse proxy and our "

[2019-08-12 19:30] derailed commented on #286
@bill-within Thank you so much for this excellent find!

Rats!! indeed... I can either revert to the original behavior or perhaps we could do something like /rx:traef|webs or /fz:fred?

Thoughts appreciated here?? Thank you!!

[2019-08-12 20:32] mrballcb commented on #286
I didn't realize the regex would stop working with this release.  I was trying to use k9s today during a deployment and I couldn't watch pods from multiple deployments because I couldn't use regex any more.

I personally would like `/foo` to have the normal regex behavior, and use a different first character for fuzzy searching.  Maybe the `*` or '%' signs for fuzzy search instead of `/`.

Alterna

[2019-08-12 20:40] bill-within commented on #286
No preference here - as long as I can do it via some mechanism I'll be happy. Thanks!

[2019-08-12 21:49] rocketraman commented on #272
@derailed One note on this feature. I think the terminology of "kill" is a bit ambiguous... "kill" is normally associated with processes, not pods. Pods are deleted, not killed.

It would actually be nice to "kill" PID 1 in a pod, *without* deleting the entire pod. This causes K8S to restart the process in the *same* pod, which can be very useful if the pod has some local state that you wish to ma

[2019-08-12 21:53] rocketraman opened #287 "Quick way to kill PID 1 in a pod"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
I sometimes wish to restart the process in a pod, without deleting the entire pod itself.

This causes K8S to restart the process in the same pod, which can be very useful if the pod ha

[2019-08-12 22:55] derailed commented on #272
@mingfang @eldada @rocketraman @RothAndrew Thank you all for reporting back!

So I think may have misrepresented what I mean by Alk-K (Opt-K on the mac). My bad!
I use an external apple keyboard and the option key is also called `alt` which indeed does not appear on my mbp keyboard ;( I think the kill action does actually works provided the correct key!

As some of you have mentioned, I think I'll

[2019-08-12 23:04] RothAndrew commented on #272
I'm happy with alt/opt-k

[2019-08-13 00:53] rocketraman commented on #272
FYI Alt-k works for me already on Linux.

[2019-08-13 04:14] madushan1000 commented on #279
I have something to add to this proposal. Something like this can be useful when switching namespaces and stuff too.

Right now, if your namespace isn't in the shortcuts, even if you know the full namespace name, you have to goto the namespace view(by typing `ns`) and select the namespace manually(by scrolling).

My proposal is to make resource commands take an additional resource name argument (`

[2019-08-13 04:37] derailed commented on #272
@RothAndrew @rocketraman Thank you both so much for the input!!

Alt/Opt-k it is! Watch for 0.8.1 coming up...

[2019-08-13 04:39] derailed commented on #285
Thank you @RothAndrew for the most excellent report!! I've decided to go with #4 which for the least intrusive. Please let me know if we're cool on the next drop...

[2019-08-13 04:47] derailed commented on #287
@rocketraman Thank you for this report!  I do see your point regarding container cycling without nuking the pod. I'll need to do some research here as the one obvious way to achieve this outside the cluster if to exec + kill. My worry tho is some container may not offer the kill command. Not sure how else we could do it?  I know a few folks have offered ways to cycle pods when updating associated

[2019-08-13 05:00] derailed commented on #279
@madushan1000 Thank you for the addition! Unless I've misunderstood your request, I believe this is already available, tho not quiet the way you've described. You can edit .k9s/config.yml and add any of your favorite namespaces and these will be available as shortcuts in the men. Is this close? or did I miss it?

[2019-08-13 05:02] derailed commented on #286
@bill-within @mrballcb Thank you for the feedback. Regex is back as it was prior to 0.8.0. I've opted for `-fblee` for fuzzy search. Please take 0.8.1 for a spin and see if we are happier. Thank you both for this report and support!!

[2019-08-13 05:02] #286 closed

[2019-08-13 05:03] derailed commented on #283
@divramod Thank you! I'll check it out but I am not sure we want multiple K9s configs floating around. I'll have to noodle on this PR for a bit...

[2019-08-13 05:04] derailed commented on #270
@ftorto Please checkout 0.8.1 and see if we're happier...

[2019-08-13 05:04] #270 closed

[2019-08-13 05:05] derailed commented on #223
@Keramblock Thank you so much for you kind words! Please take a peek at 0.8.1 and see if we're happier??

[2019-08-13 05:05] #223 closed

[2019-08-13 05:10] derailed commented on #208
@markusheiden I had implemented --as-group, to impressionate a different group than the default in kubeconfig. Hopefully that's working for you?

[2019-08-13 05:10] #208 closed

[2019-08-13 05:12] madushan1000 commented on #279
You sort of missed it, say I have a couple of hundred of namespaces and have to interact with them daily. Since I can only put a limited number of them in favorites, to switch to a namespace every time

1)  I have to go to command mode (by pressing `:`)
2) Then switch to namespace view (by typing `ns` and return)
4) Then sort through the namespace there either by searching or scrolling
5) Then tap

[2019-08-13 05:12] #278 closed

[2019-08-13 05:13] #267 closed

[2019-08-13 05:16] derailed commented on #268
@awwitecki Are you still having this issue or are things better in newer K9s revisions?

[2019-08-13 08:30] awwitecki commented on #268
Unfortunately not :(
My revision:
[code]

Logs:
[code]

Keen to provide any additional information if required

[2019-08-13 11:33] RothAndrew commented on #285
After you implement the change turn on the "use option as meta key" setting and check to see if it still works. If it doesn't, you might need to dip number 2 as well

[2019-08-13 15:51] mcristina422 commented on #285
@derailed this feature is not usable in the current state. Having users modify their terminal settings to use this feature is not desirable. I strongly recommend reevaluating using the alt key for shortcuts

For example I use Hyper and had to make these changes.
https://github.com/zeit/hyper
https://github.com/zeit/hyper/issues/330#issuecomment-276880932
[code]

[2019-08-13 18:19] RothAndrew commented on #285
Confirmed, looks like AltIsMeta is still required if you don't want to have to use Esc

[2019-08-13 18:47] derailed commented on #285
@mcristina422 @RothAndrew. Thank you for reporting back!! I am surprise as Alt-XXX has been available for several releases for column sorting and no one reported this issue... I'll fix it in the next drop.

[2019-08-13 19:30] RothAndrew commented on #285
Mac users have been able to use escape. I was just doing that until this "kill" thing came up, because I am using it a lot more than sorting by CPU/Memory%

[2019-08-13 23:11] RothAndrew commented on #285
@derailed to confirm, did you change the underlying shortcut to whatever the keyboard code for the Option key is when it detects Mac, or just the text in the header? Because, even though your keyboard may say "Alt", by default when plugged into a Mac it will send the keyboard code for "Option", rather than "Alt". That's why setting the preference "Option is Meta" works, because it changes the beha

[2019-08-14 05:45] derailed commented on #268
@awwitecki Thank you for the reply!! Something is off here...  You said you are starting K9s as follows correct?

[code]
I find it odd that we see this message in the logs ie
"E0813 08:51:21.846058   47872 reflector.go:125] pkg/mod/k8s.io/client-go@v0.0.0-20190718183610-8e956561bbf5/tools/cache/reflector.go:98: Failed to list *v1.Pod: pods is forbidden: User "(...)" cannot list pods at the cluster

[2019-08-14 05:56] derailed commented on #285
Thank you @RothAndrew! You are absolutely correct. I've spaced that I had remapped the Opt/Alt key many moons ago. My bad! Removed all Alt mapping in 0.8.2. Thank you for you support!!

[2019-08-14 05:56] #285 closed

[2019-08-14 13:52] rocketraman commented on #287
@mcristina422 Care to explain the downvote?

[2019-08-14 16:04] mcristina422 opened #288 "Scale dialog hardcoded to open with 1"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
When scaling a resource, the scale dialog opens with `Replicas: 1`. [This value is hardcoded.](https://github.com/derailed/k9s/blob/c9d01234ff717a40c399ea1bc8200da28fdfe4b5/internal/vie

[2019-08-19 08:07] ftorto commented on #270
Hi @derailed, this is awesome thanks a lot for the commit derailed/k9s@c34994b adding `--headless` option

Do you think it will be possible to toggle this status using a shortcut instead of a raw option at start ?

By the way, the 3-empty-lines above table are still visible. Is it a complex thing to manage or do you think the UX/ergonomy is better with these lines ?

[2019-08-19 19:10] mcristina422 opened #289 "Interact with NetworkPolicy"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
The [NetworkPolicy](https://kubernetes.io/docs/concepts/services-networking/network-policies/) resource to be viewable and editable.

**Describe the solution you'd like**
The resource t

[2019-08-19 21:24] derailed commented on #289
@mcristina422 Thank you Michael! I'll add this to the list for the next drop.

[2019-08-20 12:54] worldofprasanna opened #290 "Mismatch in env variables between k9s exec and kubectl exec"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Environment variables set using config maps are not available when i ssh into pod using k9s. But it is available when i do kubectl exec -it <pod-name> bash

**To Reproduce**
Steps to reproduce the behavior:
1. Set the environment var

[2019-08-21 08:09] antoniaklja commented on #268
hey, @derailed @awwitecki I'm wondering why `default` namespace is used for [Namespace RBAC scope](https://github.com/derailed/k9s#namespace-rbac-scope) - what if someone doesn't have access to the `default` ns? will cluster-wide approach will be used as a fallback?

I think when k9s is namespace-scoped e.g. `k9s --context fred -n blee` it should use possible to use roles from that namespace. Does

[2019-08-21 08:22] awwitecki commented on #268
Hi @derailed ,
I always run k9s with context and namespace explicitly specified (like in you sample).
Tried with deleted config many times but with no luck.
WRT RBAC rules, due to the nature of cluster we use I don't have proper rights to attain them on my own. Will try to do this though.

[2019-08-21 12:45] ftorto opened #291 "Key shortcuts are lowercase"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**

Help page > shortcut to go to bottom is wrong

**To Reproduce**
Steps to reproduce the behavior:
1. Press `?`
2. Check `Nav` column, `Goto Bottom` is assigned to `g` but `G` is expected

**Expected behavior**
see above

**Versions (

[2019-08-21 15:17] derailed commented on #291
@ftorto Great find! Thank you for reporting this. I'll fix in the next drop.

[2019-08-21 15:18] derailed commented on #290
@worldofprasanna Great find!! Thank you for reporting this! That's very weird and unexpected indeed. I'll take a look and see what's up with that.

[2019-08-21 15:29] derailed commented on #268
@antoniaklja Thank you! I should probably beef the docs some. This is a sample rbac rule for K9s for an example namespace aka default. You can use any namespace you want there assuming K9s will be started with that namespace. Does this make sense?

@awwitecki Thank you! I'll keep digging, I've tried to repro this and so far everything is working as I would expect but perhaps I've missed something.

[2019-08-21 16:17] LizhangX opened #292 "Sorting in both orders (ascending and descending)"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
Really like k9s to have one place to interact with all pods in real time. But something is kinda bothering me about the sorting.

When I try to sort by pods' age, it shows from the newe

[2019-08-21 20:29] derailed commented on #292
@LizhangX Thank you for the report! If I understood you correctly K9s supports `ShiftI` to invert the sort on the selected column. You can also filter the pod list is too many using the `/xxxx` syntax to only see xxx pods. Is this what you are looking for? Or did I miss your question?

[2019-08-22 16:28] LizhangX commented on #292
Thank you very much for the quick response! This is exactly what I am looking for!
Maybe I was not looking thoroughly, but doesn't seem like it is in the doc or in the command list on top of the k9s window.

But yeah, I like it lot, thanks for the tool!

Closing the issuing.

[2019-08-22 16:28] #292 closed

[2019-08-23 03:35] tedmiston opened #293 "KUBECONFIG environment variable support"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
With many Kubernetes tools, the [`KUBECONFIG` environment variable](https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/#set-the-kubeconfig-en

[2019-08-23 05:30] derailed commented on #293
@tedmiston Thank you for the report! I am pretty sure K9s DOES support KUBECONFIG. I think there might be an issue with how you are setting it. export will only be active for the current shell/user. A better test to check if that env var is set is `sudo env` which is what k9s and ultimately kubeclt will be looking at. In any case might be a good idea not to run k9s or kubectl as root ;)
Does this

[2019-08-23 14:52] Gerrit-K opened #294 "System color mappings from terminal emulator are not respected"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Prior to 0.8.0, the skin colors were respecting my terminal emulator's color scheme (for the first 16 colors, i.e. system colors). Now they are not (see screenshots, left: 0.7.13, right: 0.8.2, both using the same skin file below). M

[2019-08-24 13:37] derailed commented on #294
@Gerrit-K Great catch!! Thank you for reporting this! I'll take a look...

[2019-08-26 14:53] awwitecki commented on #268
My `Role` and `RoleBinding` looks like this:
[code]
I'm not allowed to embrace more `apiGroups` and `resources` with this rule in the cluster but it seems to be sufficient.
Sadly, I'm also unable to obtain `ClusterRule` nor `ClusterRuleBinding` for you due to security measures.

On the other hand, looking on logs once again it seems weird that k9s tries to invoke cluster scope operation whilst in

[2019-08-27 06:55] nano2007 opened #295 "Add navigation from CRD list to CRD instance list"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
k9s us my go to tool when it comes to looking at k8s clusters and I love it.
Currently:<br/>
1. k9s allows listing of CRDs<br/>
2. k9s allows listing of instances of CRDs<br/>
<br/>
It would be awesome if we can navigate from the CRD list to the list of instances o

[2019-08-27 21:26] #295 closed

[2019-08-28 02:49] axot opened #296 "Switch cluster without restart k9s"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
I want to manage multiple clusters, for the current version I have to restart k9s for this purpose.

**Describe the solution you'd like**
Add a key bindings to list all available cluste

[2019-08-28 07:23] Gerrit-K commented on #294
@derailed thanks for looking into this. Unfortunately the colors are still messed up. The issue was probably introduced in 0.8.0, I should've used that version for the screenshots, sorry ...

PS: I would reopen the issue, but I don't have permission to do so.

PPS: Although I report an issue, I'm still a very happy k9s user! Thank you for the effort you put into this, it's really appreciated.

[2019-08-28 08:46] JrCs commented on #290
@derailed i will look what can be done

[2019-08-28 11:30] JrCs commented on #290
Hi,
i have check with a true bash (fedora image) and it works as expected.
This is the manifest i used:
[code]
And using k9s or kubectl with bash or sh shell i always see the environment variables.

What container image are you using ?

[2019-08-28 11:39] divramod commented on #283
very nice. thx a lot!

[2019-08-28 12:26] axot commented on #296
@RothAndrew Thanks for the tips!

[2019-08-28 12:26] #296 closed

[2019-08-28 14:24] JrCs commented on #290
@derailed so it work has expected.

This is the manifest i have used:
[code]
First we can't use an environment with a dot in his name in bash (see [exporting-a-variable-with-dot-in-it](https://unix.stackexchange.com/questions/93532/exporting-a-variable-with-dot-in-it)).
In your case you try to export an environment variable **game.properties** with 'enemies=aliens lives=3 enemies.cheat=true enemie

[2019-08-29 13:54] fardin01 commented on #280
@derailed when I try to open a context/cluster with a big number of namespaces, the speed is incredibly slow. How could I debug this? Is there some sort of cache I could clean?

[2019-08-30 00:46] derailed commented on #280
@fardin01 Thank you for reporting this! I am in the process of reworking K9s core to improve with speed based on @RothAndrew initial report. I think some resources are indeed more expensive than others to get fetch from the server ie secrets (Andrew's instance). If you don't mind adding a few more details on your particular issue ie  type of views you are using, how many total resources you are vi

[2019-08-30 07:00] fardin01 commented on #280
Thank you @derailed. The danger here is that k9s is so cool and useful (🎖) that my daily work has been a little affected by this slowness 😆

In `ctx` view I have a bunch of clusters but I'll take `prod` and `test` for this.
In total `prod` has 8 namespaces, 325 pods, 127 secrets, 844 ConfigMaps etc.
`test` has 74 namespaces, 1937 pods, 1178 secrets, 2451 ConfigMaps etc.

Speed in `prod` has been t

[2019-08-30 14:23] yrsurya opened #298 "K9s not working with Tmux"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of

[2019-08-31 17:13] worldofprasanna commented on #290
Hi @derailed .. Sorry for the late reply. Yes I am using the environment variable name as "app.properties" and hence that could be the reason why its not loaded via k9s. I can remove the "." in the key and use it. I will close the issue.

@JrCs Thank you. That is lot of info and some good practice around setting environment variable name 👍

[2019-08-31 17:13] #290 closed

[2019-09-02 04:35] dbwest opened #299 "Resource Usage says 'N/A'"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
A clear and concise description of what the bug is.

When using k9s I see only 'N/A' for CPU, MEM, %CPU, %MEM etc.

**To Reproduce**
Steps to reproduce the behavior:
1. For a cluster just created with kubeadm
2. Start k9s

**Expected

[2019-09-03 00:22] derailed commented on #299
@dbwest Thank you for this report! I see you have a metrics-server up and running and seems happy at first glance. Could you turn on the logs and see what's happening there. Guessing either an rbac issue or the metrics-server is not too happy. Try to run `k9s info && k9s -l debug` if nothing of interest there, check out the metrics-server logs. Please report back to let me know if this is a setup

[2019-09-03 15:04] derailed commented on #280
@fardin01 Thank you for sending this information! I can see this being an issue at the moment with K9s having this kind of load. Does launching K9s with a namespace help in your test cluster?

[2019-09-04 09:08] maximzxc commented on #280
Also noticed huge lags in configmaps section, only ~250 records there though, seems like internet connection speed somehow related to it, with a fast internet connection it works faster.

[2019-09-04 09:39] fardin01 commented on #280
@derailed yes. Doing `k9s -n all` shows 1890 pods from every namespace in `test` cluster very smoothly.

[2019-09-06 12:14] cwrau opened #300 "Allow describing Ingress, when server is < 1.15"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
Since k8s 1.15, k8s stores Ingress under apiVersion networking.k8s.io/v1beta1 (kubernetes/ingress-gce#770)
Could k9s try to describe the Ingress using the old apiVersion, if the new one

[2019-09-06 17:17] bbhenry commented on #73
How do you search in describe mode or yaml mode? I tried using the slash command but it didn't respond.

[2019-09-07 05:18] derailed commented on #73
@bbhenry @ryudice - I had to revert searching on logs due to an issue with the terminal emulator. Thank you both for reporting this!

[2019-09-08 09:27] JrCs opened #301 "Feature add a shortcut key to activate/deactivate headless mode"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
It will be great to have a shortcut key (like CTRL-H) to activate/desactivate headless mode.

[2019-09-08 19:06] happysalada opened #302 "How do you delete a resource? [Question]"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
I tried deleting a resource with ctrl-d, then a confirmation appears, I couldn't figure out how to proceed. I've checked the help with ?.

**Describe the solution you'd like**
Just aski

[2019-09-09 02:31] axot commented on #296
Just curious does it possible to change the shortcut `:ctx` to `:c`?

[2019-09-10 07:58] JrCs commented on #302
Use **ctrl-d** then use the **tab** key  to highlight the **ok** button.
Then click **enter**.

[2019-09-10 08:00] JrCs commented on #302
@derailed: Perhaps il will be great if the **ok** button is highlight by default when entering the confirmation form ?

[2019-09-10 10:10] joskfg opened #303 "Templating in plugins arguments"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
I want to be able to create jobs directly from cronjobs

**Describe the solution you'd like**
I would like to be able to create a plugin based in kubectl to do that action. I would like

[2019-09-10 12:02] derailed commented on #303
@joskfg Thank you for the report! I do see your point and think we can improve the plugin fmk based on your comment. For this specific case however, I believe this behavior is already surfaced in K9s via the trigger command `ctrl-t` that fires off a job from a cronjob taking care of the naming. Is this what you were looking for or did I miss it?

[2019-09-10 12:13] derailed commented on #302
@happysalada @JrCs Thank you both for the report and comment! Sorry for the lack of documentation about the basic navigation ;( The terminal ui dialogs are old school leveraging keyboard navigation. As @JrCs points out, you can use `tab` to navigate across the dialog fields and shift-tab to backtrack. Check boxes are toggled via the `space` bar and button are clicked via `enter`. @happysalada if y

[2019-09-10 12:14] derailed commented on #301
@JrCs Totally agree on this. Thank you!!

[2019-09-10 12:19] derailed commented on #298
@yrsurya Can you add some specifics on this report?
I've tried K9s with tmux on OSX and all looks pretty good as best as I can tell...

[2019-09-10 12:50] joskfg commented on #303
I checked all the shortcuts and I hadn't see the **Trigger** option, so I created the plugin :-(. I'm going to use this built-in instead of my plugin. Thanks for the info.

By the other hand, I think that an improvement in the plugin system would be good, so the request is still valid :-)

[2019-09-10 13:25] yrsurya commented on #298
![Screenshot from 2019-09-10 09-24-38](https://user-images.githubusercontent.com/15348689/64617726-f339d500-d3ac-11e9-82e6-c66f1ca4ae54.png)

[2019-09-10 13:26] yrsurya commented on #298
tmux -V
tmux 2.9a
fish -v
fish, version 3.0.2

[2019-09-10 17:37] JrCs commented on #302
@derailed Oh good to know.
Thanks for the information.

[2019-09-10 19:14] happysalada commented on #302
@JrCs thanks for the answer!
@derailed thanks for the answer as well! Just to be sure, the place for such informations would be in the key bindings table right?

[2019-09-10 19:32] happysalada commented on #302
@derailed just added https://github.com/derailed/k9s/pull/304
let me know if you are looking for something else

[2019-09-10 19:32] #302 closed

[2019-09-13 10:16] pmaccacaro commented on #268
Hello,

We have the same issue. K9s trying to list/get cluster's wide pods also when running it with

k9s -n namespace --context context

Everything is visible (deployments, secrets, ingresses, etc) but pods

here our namespaced role's rules

[code]

[2019-09-17 15:51] Stanislasss opened #305 "Using Agones CR, FleetAutoscaler no displayed on multi-namespaces"
**Describe the bug**
Using Agones CR, the FleetAutoscaler is not displayed on multi-namespaces cluster.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Agones on a Cluster
2. Deploy a FleetAutoscaler on multiple namespaces
3. Navigate to the FleetAutoscaler (fas shortcut)
4. Nothing is displayed
5. Using kubectl, working as expected.

**Expected behavior**
Being able to display FleetA

[2019-09-17 18:10] adamnovak opened #306 "Installing and running snap leads to snap being unable to create ~/.k9s"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
I installed k9s using ` snap install k9s`, as a normal user, as given on https://k9ss.io/

When I ran it (k9s), I got this:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Have Ubuntu 18.04
2. Be a normal user
3. Make s

[2019-09-17 18:12] adamnovak commented on #306
Installing with sudo doesn't help, but manually doing a `mkdir ~/.k9s` gets `k9s` to start up.

[2019-09-17 18:24] adamnovak commented on #306
After starting up, it can see my cluster config, but it can't actually see any running pods. If I reinstall it with `snap install k9s --edge --devmode` as recommended in https://github.com/derailed/k9s/issues/166#issuecomment-485059530 I can see pods.

[2019-09-17 19:53] raphaunix opened #307 "Copy current selection to clipboard doesn't work"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Nothing happens when I use 'c' to copy.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to cluster
2. Select any pod
3. Press '.c'
4. Nothing happens

**Expected behavior**
Simply copy:

[code]

**Versions:**
 - OS: [Tested

[2019-09-17 20:09] paivagustavo commented on #307
Apparently, the `clipboard` package has some dependencies and since we didn't have these installed it was erroring out without further notice. I have create a PR that adds a error message to improve the user experience.

Here is an example when you don't have the needed tools available:
![image](https://user-images.githubusercontent.com/7898464/65075773-ec433180-d96d-11e9-9721-a0a2b38ee3bf.png)

[2019-09-18 01:58] longlg88 opened #309 "Using k9s with EKS cluster"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
I create EKS cluster in AWS. The kube config which located in '~/.kube/config' doesn't work with k9s.
I try this command.
k9s --kubeconfig ~/.kube/config
But it didn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Use U

[2019-09-18 06:20] fridokus opened #310 "Add new view for storageclass (sc)"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
I would like to be able to run "kubectl get storageclass" in k9s

**Describe the solution you'd like**
Have a new view, like `hpa` or `po` or `no`, but for `sc`.

**Describe alternative

[2019-09-19 00:09] derailed commented on #307
@raphaunix @paivagustavo  Thank you so much for this report!
@paivagustavo I'll take a look at the PR and see what's up with that. Thank you for your contributions!!

[2019-09-19 00:13] derailed commented on #306
@adamnovak Thank you for this report! We've been having a lot of heartache with the snap builds hence we've started supported linux brew. We're still hoping to get a clean snap build so we can support classic mode but this process is going slow ;(

[2019-09-19 00:15] derailed commented on #309
@longlg88 Thank you for your report! Lots of issues with the K9s snap builds. Take a look at #306. Also if on unix, you might want to consider linux brew if possible...

[2019-09-19 00:18] derailed commented on #298
@yrsurya Thank you for the update! Right, this is under K9s Preflight Checks in the docs.

[2019-09-19 07:45] longlg88 commented on #309
@derailed  Hi! I think that it is not a problem when using K9s snap builds.

I saw #306  and I tried `snap install k9s --edge --devmode` .
But the log is like this.
[code]

[code]

K9s doesn't support aws-iam-authenticator Environment in $PATH.
How do I setting aws-iam-authenticator file path?
Can anyone give me little idea about it?

[2019-09-20 09:47] rsotnychenko opened #315 "Use default short names for resources"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
Kubernetes CLI has short names for most of the default resources. However, for some reasons, K9s is using custom aliases for some of the resources, e.g. `dp` instead of `deploy` for `De

[2019-09-20 12:45] #307 closed

[2019-09-20 12:52] derailed commented on #315
@rsotnychenko Thank you for this issue! I totally agree with you and find myself making the very same mistake ie kubectl get dp ;( I am not very good on the keyboard and hence do dig the 2 letters shortcuts. I think we could potentially use both ie dp, deploy, deployment.

[2019-09-20 12:54] derailed commented on #309
@longlg88 - I think it's still a snap issue. Could you try using a K9s release directly and see if you can get further? I've used K9s with aws with no issues.

[2019-09-20 12:59] derailed commented on #299
@dbwest assuming the problem was resolved. Closing!

[2019-09-20 12:59] #299 closed

[2019-09-20 13:05] derailed commented on #222
@heydonovan assuming this issue is resolved. Closing!

[2019-09-20 13:05] #222 closed

[2019-09-20 13:06] RothAndrew commented on #309
Can confirm. Using k9s every day with EKS with no issues

[2019-09-20 13:09] RothAndrew commented on #315
+1 for allowing the use of both

[2019-09-20 13:09] derailed commented on #268
@pmaccacaro Thank you for the extra info. I'll take another pass and see what's up with that. If convenient could you send a snippet of the K9s logs when viewing pods in your cluster? You can email me directly if you don't want to post them here. Thank you!

[2019-09-20 13:22] fridokus commented on #310
Implemented by #311

[2019-09-20 13:22] #310 closed

[2019-09-20 14:08] paivagustavo commented on #315
+1 for both as well.

@derailed If it is okay I would like to help on this issue. Digging around through the code, this is mainly on the `registrar.go` code, right?

[2019-09-20 14:29] paivagustavo commented on #315
I was thinking in refactoring a bit this logic. Adding a `aliases` slice in the `resCmd` struct. So a command would be something like:
[code]

And the functions like `stateRes` would start to return a slice of `resCmd` that should be registered instead of modifying the command map directly.

And then we register the commands we iterate through these commands and add all aliases:
[code]

[2019-09-20 18:45] derailed commented on #315
@RothAndrew Thank you for your input!

@paivagustavo Very cool I sure do appreciate the help on this!! Here are my thoughts, I think we should actually externalize the aliases to the K9s config. The reason being that shortNames are not consistently used in K8s. If no mapping exists then we always default to the standard resource singular, plural and short if any. I think we should query the api se

[2019-09-21 05:11] longlg88 commented on #309
@derailed @RothAndrew  Thanks to all of you! I will try this, next week.

[2019-09-21 20:35] paivagustavo commented on #315
@derailed I think I've addressed most of your points on #316. Some considerations:

1. I like the idea of users setting custom aliases but I think that could be done later. It will be pretty easy to do it with the current modifications.
2. Instead of keep the current internal names I have normalized both `registrar` and `mapper` to use the resource `Kind`, I think that both should use the standard

[2019-09-21 21:12] derailed commented on #315
@paivagustavo You sir, Rock!! First off, thank you for seeing this thru! I am very impressed and humbled by your time and effort to make this happen. I'll take a look at the PR and will circle back. I agree with all these statements and last nite was thinking that perhaps a better approach would be to standardize on the GVR for the registrar keys ie .v1.pods apps.v1.deployments to avoid potential

[2019-09-23 08:32] longlg88 commented on #309
@derailed Hi derailed!
It worked!! I try K9s release version. Thanks anyway.

p.s. snap has a problem i think too.

[2019-09-23 08:32] #309 closed

[2019-09-23 18:08] paivagustavo commented on #315
Thanks for your kind words @derailed.
I am very happy to help k9s. My team is a heavy user, it increases our productivity a lot, thanks for creating this in the first place :)

I like the idea of using full GVR as identifiers as well, we can converge the registrar implementation to this.

[2019-09-25 15:52] BufferUnderflower commented on #155
@derailed Same in 0.9.4 - disabling autoscroll works, but only until some threshold being hit.
- go to logs view
- set Autoscroll off - it's working as expected
- wait till 200-300 lines of new logs arrive
- logs start moving again.

[2019-09-26 02:03] shric commented on #315
Can we have tab completion for these or at least a way to list them all?

[2019-09-26 19:46] paivagustavo opened #318 "Add command to change namespace"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
When I need to change a namespace that is not on my favorites I need to load the namespaces with `:ns` and search for the namespace I want, most of the times I use the search feature li

[2019-09-26 22:57] derailed commented on #318
@paivagustavo Thank you! I agree this would improve navigation for sure. I need to noodle on this a bit as switching ns could have ramifications when perms are limited and in regards to caching resources.

[2019-09-26 23:02] #315 closed

[2019-09-27 16:09] charlievieth opened #319 "Add option to disable Ctrl-k (delete without confirmation)"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
An option to disable the "delete resource without confirmation" (`Ctrl-k`) command.

**Describe alternatives you've considered**
Read only RBAC

[2019-09-30 05:55] colinwilson commented on #80
Similar error with [Fluent Terminal](https://github.com/felixse/FluentTerminal)

Log output:
[code]

[2019-09-30 12:51] cheshir commented on #177
@derailed  Is there any updates about this issue?

[2019-09-30 14:59] cheshir commented on #263
I had the similar issue. The problem was that I had no shell inside the container, because it was build on top of the scratch image.

(https://stackoverflow.com/questions/40211644/attaching-to-a-docker-container-with-base-image-scratch)

[2019-10-01 16:08] rocketraman commented on #155
@derailed I confirm as well, turning off autoscroll is still broken on 0.8.4.

[2019-10-02 05:17] paivagustavo opened #323 "Better cache discovery client usage"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
There are several places that we use the Discovery client to send requests to the kubernetes server and it is not always cached. This should improve performance in several parts of k9s.

[2019-10-02 05:18] paivagustavo commented on #323
@derailed What do you think about this? I'm playing with this to see what are the real impact on these changes and if it okays, I'll send a PR with the changes.

[2019-10-02 16:25] derailed commented on #323
@paivagustavo Thank you for this report! I think it is worth taking a look and see what it would buy us vs adding to the existing informers. My plan was to keep adding resources there. The issue I see with caching is what is worth caching as this is an explore interface ie switching ns/ctx will invalidate the cache. So do we fetch on demand which has been ok on perf so far or cache with a chance o

[2019-10-02 16:27] #298 closed

[2019-10-03 19:17] dimm0 opened #325 "Per-node list of pods is empty"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Go to list of nodes, press enter on one node. List of pods is empty.

**To Reproduce**
Above

**Expected behavior**
Shows list of pods running on a node

**Versions (please complete the following information):**
 - OS: OSX
 - K9s 0.9

[2019-10-03 19:33] derailed commented on #325
@dimm0 Thank you for reporting this! Could you add more details?
Can't seem to repro this at first glance. Are there any errors in the k9s logs if so can you please share them.
Also how are you staring k9s any rbac policies on this cluster?

[2019-10-03 19:35] derailed commented on #318
@paivagustavo Thank you for this report! Great concept indeed!!
Please checkout 0.9.0 and see if the new navigation fits that bill.

[2019-10-03 19:35] dimm0 commented on #325
There are a bunch of rbac policies, but my user has cluster-admin, and it worked fine in previous version
Where can I see logs? Nothing on the screen.. Just empty list of pods

[2019-10-03 19:37] derailed commented on #303
@joskfg Please checkout v0.9.0 added support for concatenating the env vars as you've described here.

[2019-10-03 19:37] #303 closed

[2019-10-03 19:37] derailed commented on #301
@JrCs Please checkout v0.9.0! Hopefully close to what your were looking for.

[2019-10-03 19:37] #301 closed

[2019-10-03 19:38] derailed commented on #300
@cwrau I think this was addresses in 0.9.0. If not please reopen. Thank you!!

[2019-10-03 19:38] #300 closed

[2019-10-03 19:39] derailed commented on #276
@ncsibra Great input. Thank you!! I think 0.9.0 has what your were looking for.

[2019-10-03 19:39] #276 closed

[2019-10-03 19:45] derailed commented on #268
@pmaccacaro @awwitecki I think v0.9.0 should fix this. If not please open with a more detail report so we can track this down. Thank you!!

[2019-10-03 19:45] #268 closed

[2019-10-03 19:47] derailed commented on #249
@afkham I think 0.9.0 should allow you to now customize your crd commands. This feature will likely need more work. Thank you for filing this issue!!

[2019-10-03 19:47] #249 closed

[2019-10-03 19:47] #213 closed

[2019-10-03 19:51] derailed commented on #325
@dimm0 Thank you for reporting back! I've most likely hosed something here. To view the logs first get the log location via `k9s info` then you can start k9s as so `k9s -l debug`. Hopefully some clues there on what's happening. Also please include info on how you're starting K9s! Thank you!

[2019-10-03 19:55] dimm0 commented on #325
Log is attached, nothing interesting

[k9s.log](https://github.com/derailed/k9s/files/3687817/k9s.log)

What do you mean how I'm starting it? Typing k9s in console

[2019-10-03 20:01] mcristina422 commented on #325
I noticed this too. I think I can reproduce it.

Open k9s
`:ns`
select a namespace: "foo"
`:no`
Select a node with pods not in "foo"
Notice a empty list
`:ns`
select `all`
`:no`
Select same node
Notice all pods listed

[2019-10-03 20:03] dimm0 commented on #325
Also I think filter is staying now after switching the type... But even after clearing the filter it's not showing those

[2019-10-03 20:50] derailed commented on #325
@mcristina422 Very cool. Thank you Michael! I totally see it now. Indeed a bug on my part. I had to tighten the rule slightly here in light of RBAC access when listing the node pods. We used to always go the all namespaces but there are cases where you can only access some namespaces and not all. Thus the display is indeed wrong here since we are showing all namespaces which should be `foo` in you

[2019-10-04 05:48] ncsibra commented on #276
@derailed Awesome, thanks!

[2019-10-04 06:31] afkham commented on #249
Thanks! Is there any documentation on how to customize the commands?

[2019-10-04 06:59] ncsibra opened #326 "Change to "all" namespace not always working"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
K9s sometimes unable to find "all" namespace, when switching with the new syntax, e.g. `po all`.
Looks like every second time. :)
Btw, the previous namespaces menu missing from the header, so unable to switch namespaces with num keys

[2019-10-04 14:19] paivagustavo commented on #326
I have hit the same problem. When it loads there is no metrics displayed.

Going in the code, this was probably a change on the `Infomers`, more specifically we are trying to check if a namespace named `all` exists because of this:
[code]
I think I managed to fix this with #327, if possible checkout my code and test to confirm this?

[2019-10-04 14:31] derailed commented on #326
@ncsibra @paivagustavo Thank you for this great report! I think the issue here is `all` is not being interpreted correctly. The other issue @ncsibra points out is my struggle with coming into K9s with a namespace. I think I've been a little too tight here ie seclude the user to that namespace only. I'll relax that rule and just let it fail if the user does not have access to other namespaces or li

[2019-10-04 14:37] derailed commented on #325
@dimm0 @mcristina422 -- Fixed 0.9.1

[2019-10-04 14:37] #325 closed

[2019-10-04 14:38] derailed commented on #326
@ncsibra @paivagustavo -- K let's see if 0.9.1 makes it all better

[2019-10-04 14:38] #326 closed

[2019-10-04 14:42] ncsibra commented on #326
@derailed @paivagustavo It's fixed, thanks!

[2019-10-04 14:56] paivagustavo commented on #326
Yes, its working here as well :D

[2019-10-04 15:21] derailed commented on #326
@ncsibra @paivagustavo Thank you both for reporting back!!

[2019-10-04 16:00] derailed commented on #249
@afkham Thank you for keeping me honest! Yes I've just added a [section](https://github.com/derailed/k9s#plugins) in the README. Keep in mind still work in progress...

[2019-10-04 16:29] afkham commented on #249
Thanks! I will try it out and give feedback.

[2019-10-05 17:55] svieujot opened #328 "The ConfigMaps view is very slow"
It takes 30 seconds between keystrokes to update the screen.

[2019-10-05 20:34] derailed commented on #328
@svieujot Thank you for this report! Could you add more context here? ie K9s version, K8s version, How are you starting K9s? K9s logs? etc...

[2019-10-05 20:35] #318 closed

[2019-10-06 06:26] svieujot commented on #328
Deleting the ~/.k9 folder actually fixed the problem.

[2019-10-06 06:26] #328 closed

[2019-10-06 07:15] paivagustavo commented on #280
I think I have found the root cause of this!

When we make a request via client-go for structured data, we get the full object. In other words, when we do a  `rr, err := s.DialOrDie().CoreV1().Secrets(ns).List(opts)` we fetch not only the name of all secrets, but all the data the is stored in the secret as well.

That began to be noticeable with few hundred of objects, especially with helm objects

[2019-10-06 16:00] derailed commented on #280
@paivagustavo Brilliant!!

 You are correct here but can't quiet explain it. I had looked at going generic with secrets when @RothAndrew posted this but I did not see a significant gain then ;(

After your post, I looked at configmaps instead and I do see the delta. You are so right! Looking at the configmap schema there is indeed a binaryData field that would need to come down the wire and be unm

[2019-10-06 18:27] paivagustavo commented on #280
@derailed How are you looking this schema? The `v1.Secret` struct from kubernetes does contain a map `Data` that contains the secret data.

[code]

And it does return the data when I do a `k8s.NewSecret(c).List("")`, so in the end this is a win on both ConfigMaps and Secrets :)

Maybe I am looking on the wrong place, but I think this should help both cases.

I'll send a PR soon if you agree with m

[2019-10-06 19:02] paivagustavo opened #329 "CRD registration overrides previous commands and is inconsistent"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Aliases are being overwritten if the same aliases is used for multiple objects and wrongly set in some cases.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Knative CRDS on your cluster (which includes the `ingresses.n

[2019-10-07 08:36] cwrau commented on #300
Seems to be working! Thank you! 😄

[2019-10-07 09:51] kapodes opened #331 "Shortcut to copy yaml to clipboard."
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

It would be nice if there was a keyboard shortcut to just save yaml of current selected component to clipboard.

`CTRL-Y` for example.

This would enable quick copy/paste of resources from k8s to somewhere else.

[2019-10-07 13:40] derailed commented on #329
@paivagustavo Great find!! Thank you for this report! You are correct as standard resources are loaded first and can potentially be overridden by CRDs attempting to reuse an existing short name. I don't think however that user defined alias take precedence here as they are loaded first. All we need here is to change the load order to load std K8s resources last. Thus the std aliases would prevail.

[2019-10-07 14:23] xyproto opened #332 "k9s is now an official Arch Linux package"
Hi, I found k9s useful. It's now an official Arch Linux package:

https://www.archlinux.org/packages/community/x86_64/k9s/

Thanks for creating and maintaining k9s.

(This is just for your information, feel free to close this issue).

[2019-10-07 18:36] InAnimaTe opened #333 "Pod Message not showing Node reason"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Message's in Describe output are being cut or malformed when displaying node issues.

**To Reproduce**
Steps to reproduce the behavior:
Have a Pod become evicted or fail because of a reason related to the node and observe its Message

[2019-10-07 19:33] dimm0 commented on #276
Is there a way to turn this off in the new release?

[2019-10-07 20:07] Makusi75 opened #334 "selection of pods jumps around when pods got killed or created"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
We usually have K8s clusters with very many pods, pods that are created and terminated quite often. If I then have the K9s up and selected a pod in the pod view, and if some other pod in the list is terminated then the selection of t

[2019-10-07 20:43] Makusi75 opened #335 "When terminating a pod, the status in k9s shows "Terminated" but kubectl says "Terminating""
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When terminating a pod the status column in K9s says "Terminated", however the "kubectl" cli report it as "Terminating".
So the information of Status in K9s compared to the cli is "sligthly" different ;-)
Not a big issue - but it wou

[2019-10-07 23:10] paivagustavo commented on #276
Hey @dimm0, would mind to create a new issue explaining what would like to happen so we can discuss further?

[2019-10-07 23:19] dimm0 opened #336 "Sticky filtering is requiring much more efforts to move around than before"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
In the previous version to see the pods running on a node I was doing:
[code]

Seeing the pods

Now to do the same I need to do (the shortest path):
[code]
Finally see the pods. It's tw

[2019-10-07 23:20] dimm0 commented on #276
Did in https://github.com/derailed/k9s/issues/336

[2019-10-07 23:21] paivagustavo commented on #276
Thanks!

[2019-10-07 23:29] paivagustavo commented on #336
Thanks for your report @dimm0, I do agree with you that in most cases filters should be cleared when switching between resources.

To add another example, today I was filtering by the name of  a pod with `/name-of-pod` and pressed enter to see the containers, but nothing appeared because of filter :(

Maybe we should think a way to make this an option, something in the lines of:
- `/some-name` is

[2019-10-08 01:11] bill-within opened #337 "rollout restart"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

It's frequently the case that one wants to restart pods which consume a configmap after that configmap has changed. Newer versions of kubectl support the `rollout restart` subcommand - it'd be great if we could kick those off with a ctrl-r in :dp!

Tha

[2019-10-08 02:11] paivagustavo commented on #333
Thanks for your report @InAnimaTe!

The displayed describe/yaml string was not being escaped before printed on the screen. Since [tview](https://github.com/rivo/tview) expect colors to be inside square brackets (like `[steelblue::]`)  the `DiskPressure` was being interpreted as a Color and not part of the text.

[2019-10-08 02:15] paivagustavo commented on #337
Hi @bill-within, thanks for your suggestion! That is a great suggestion and is something that we probably want to do. We'll keep you update when this one is ready :)

[2019-10-08 03:05] yujunz opened #339 "Wrong annotation display in some condition"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**

Annotation may not be displayed correctly in either Describe or YAML view.

It is probably caused by the `[ ]` in annotation, but not sure about that.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'ns'
2. Press `d` or

[2019-10-08 03:26] paivagustavo commented on #339
Hey @yujunz, thanks for reporting this!!

This appears to be the same problem as #333, it should be fixed with a PR that is currently open (#338). When it gets merged can you check if it solve this problem as well?

[2019-10-08 04:30] #333 closed

[2019-10-08 04:48] derailed commented on #336
@dimm0 @paivagustavo Thank you both for the feedback! Rats!! I see your points, tho you can use <esc> to clear the sticky filter and don't have to clear it manually (so one extra stroke). You are right filtering on nodes and enter to see pods on selected nodes provides 0 value ;( just like Gustavo's points out between pods to containers. I was thinking sticky filters would allow to nav at the appl

[2019-10-08 05:16] dimm0 commented on #336
In some views `esc` exits the view to previous one, rather than clearing the filter
I never needed the sticky filter feature, although I use k9s daily now. It's too confusing to keep it in mind I think..

Let's say I filtered pods by name, checked the pod yaml, and then need to do something else, like list all nodes.. I need to clear the filter first, I can't just switch to nodes view, although it

[2019-10-08 05:16] dimm0 commented on #336
[code]

[2019-10-08 05:18] dimm0 commented on #336
Same problem with sticky namespace for nodes, it was convenient it was showing all namespaces on a node before

[2019-10-08 05:23] derailed commented on #336
@dimm0 - K let's see if other folks pipe in on this. If so we can axe the feature and revisit once we've got a chance to noodle on this some more.

[code]

[2019-10-08 05:26] dimm0 commented on #336
https://stackoverflow.com/questions/3987683/homebrew-install-specific-version-of-formula

All ways are super complicated. I'm not suffering from k9s that much yet :)

[2019-10-08 06:06] ncsibra commented on #336
I see the points when the filtering doesn't make sense, but unlike @dimm0 I'm using this feature 80% of the time since coming out, so for me, it's pretty useful and does not feel like a burden to press esc sometimes(not bumped into a case when switching out from the view instead of clearing the filter, but that's a fair point).

@derailed I don't like your suggestion, kubernetes is too complex, yo

[2019-10-08 12:25] swe-covis opened #341 "[0.9.1 - Windows]: <backspace> collapses header in port forward dialog"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Pressing &lt;backspace&gt; in the port forward dialog toggles the header full/short instead of deleting a char.

**To Reproduce**
Steps to reproduce the behavior:
1. Open k9s (0.9.1) on Windows
2. Open the pods view, select a pod and

[2019-10-08 12:42] swe-covis commented on #341
Update: Not only the port forward dialog but also in the filter mode.
Seems it's messed up with &lt;ctrl-h&gt; (toggle header)

[2019-10-08 17:47] syvanpera commented on #331
I actually also wanted this feature. I started already thinking about implementing it myself using plugins, but it looks like plugins don't support the yaml view as a scope. What do you think, would it be better to add more scopes so you could use a plugin to do this, or make this a part of k9s itself? I suppose all clipboard libs for go require external apps for them to function (at least this is

[2019-10-08 18:03] paivagustavo commented on #331
Hey @kapodes and @syvanpera, thanks for this request.

I think it make a lot of sense to integrate this inside of k9s. We already use `atotto/clipboard` for the feature of copying the name of a resource with `c` when we are on the list view. Maybe we could make the shortcut `c` to copy the whole YAML when in the `YAML` view.

So the workflow would be:
1. list pods with `:po`
2. view YAML with `y`

[2019-10-08 18:06] syvanpera commented on #331
Sounds good, although using the Ctrl-Y or something like that would make sense if we'd like to make this work like the save command does. So basically just do the same thing as save now does, but only writing the result (csv, yaml whatever) to clipboard. I actually have quick and dirty version of this already working

[2019-10-08 18:07] syvanpera commented on #331
Ah, nevermind. Of course the 'c' command works just as well, I mixed things up

[2019-10-08 18:08] syvanpera commented on #331
But just not limiting this to only copy the yaml, but also copy whatever save command can save also.

[2019-10-08 18:11] kapodes commented on #331
Both c and ctrl-Y work for me. The ctrl makes more sense just for this but ‘c’ is better if it will work on other screens

[2019-10-08 18:12] syvanpera commented on #331
Yeah, and I didn't notice that there already is a copy command that uses 'c', so it makes sense to use the same shortcut

[2019-10-08 18:20] paivagustavo commented on #331
Yes! Thanks you both for the input on this request.

Of course you can implement this! If you need any help just send me a message and I can help you.

[2019-10-08 18:28] syvanpera commented on #331
Already done, let me know if it's not up to par

[2019-10-08 19:23] futurekill opened #343 "Make the path to saved logs configurable"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
Currently when you save logs they're placed in os.TempDir() and a message is displayed with the path but the message disappears really quickly.

**Describe the solution you'd like**
Add

[2019-10-08 19:31] mitchellmaler opened #344 "Node List Role Field values constently change order on refresh"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
A clear and concise description of what the bug is.

When listing the nodes the node roles are not in order and keep changing. Would be better to have the roles order in alphabetical order so they never change when the list is refres

[2019-10-09 03:24] derailed commented on #341
@swe-covis Thank you for this great report! Rats! Ctrl-h somehow that shortcut did not feel quiet right but did not register until you I saw your report. Backspace == Ctrl-h. I'll fix!

[2019-10-09 05:05] paivagustavo commented on #344
Hi @mitchellmaler thank you for taking some time and reporting this.

Agreed that this improves the user experience when viewing the nodes with k9s. This should be fixed with #347.

[2019-10-09 08:10] syvanpera commented on #343
I made a PR implementing this, I hope that's okay. I also was a bit confused at first where the dumps were stored.

[2019-10-09 08:14] swe-covis commented on #341
@derailed Thanks! :-)

[2019-10-09 08:20] syvanpera opened #349 "Saving a dump in (at least) the container view has invalid filename"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When saving a screen dump in at least the container view, the filename contains the color definitions in it and so saving fails as it contains invalid characters.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to some conta

[2019-10-09 08:20] syvanpera commented on #349
I can fix this, as I just opened a PR that touches the screen dump saving. I just want to do a separate PR of this in case my other PR isn't accepted.

[2019-10-09 09:12] syvanpera commented on #349
Hmm. Looks like there' s no obvious way to strip the color tags from a string. tview has this implemented in a few different places, but none of them are really reusable

[2019-10-09 09:42] syvanpera commented on #349
This isn't actually just the color definitions. There parenthesis and '/' chars also. I suppose the filenames should be sanitized a bit better. I'll see if I can find out a more robust fix for this

[2019-10-09 11:55] syvanpera commented on #349
I made a fix of sorts for this. Not entirely sure if this is the cleanest way. Best would be if we could add a function to tview that would strip away the color tags. That way we wouldn't have to duplicate the color tag parsing here.

[2019-10-09 14:12] derailed commented on #349
@syvanpera Thank you so much for this report and the PR! We will take a look. Great catch!!

[2019-10-09 14:16] derailed commented on #343
@futurekill Thank you for highlighting this! I think this does make sense as it is not easily discoverable. In the mean time you can run this command to see the current logs location.

[code]

[2019-10-09 14:19] derailed commented on #332
@xyproto Very cool!! Thank you for making this available to all of us!

[2019-10-09 14:21] syvanpera commented on #343
Just FYI, in my PR running info no longer shows this information as it wasn't really feasible the way the command is currently implemented

[2019-10-09 14:41] #329 closed

[2019-10-09 15:58] futurekill commented on #343
Thank you all for looking at this. :)

[2019-10-10 04:14] syvanpera opened #351 "Some way to switch between multiple views that can display different data"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
I quite often have the need to look at two different places at the same time. For example watching the logs of a pod while I trigger a cronjob.

**Describe the solution you'd like**
Ide

[2019-10-10 04:18] syvanpera commented on #351
Hmm, or maybe the breadcrumb at the bottom could be used for this somehow? Looking at a log doesn't currently seem to make a breadcrumb entry, but I guess it could. The breadcrumbs could have a number associated with them and some shortcut (like for example the ranger example above, comma - number) could be used to jump between the views you have in the breadcrumbs.

By the way, what are the bread

[2019-10-10 04:21] syvanpera commented on #351
Actually, the absolute best solution for this might be that you could split the view into two views and use two different panes simultaneously. But this would require quite a bit more work to implement.

[2019-10-10 04:48] paivagustavo commented on #351
Hey @syvanpera, thanks for this suggestion. That is an awesome feature request. I see myself doing the same thing as you described.

One of my coworkers just use terminator with multiple sessions of headless k9s to achieve something similar. Although that would be sub-optimal, that actually very well.

To support this inside k9s we would need to think and refactor a lot of the code base. We should

[2019-10-10 05:33] syvanpera commented on #351
Yeah, I'm using tmux myself and that works. And yes, I realize that this will be quite a bit of work. Just wanted to get this out there.

[2019-10-10 08:46] #339 closed

[2019-10-11 13:55] bkmeneguello opened #353 "Feature Request: Mark resources and restrict actions"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
K9s could support item marking like Htop does (hit space bar and toggle line mark), then any command executed is applied to all and just marked

[2019-10-13 10:15] ambis opened #355 "Add k9s version --short / --quiet option"
**Is your feature request related to a problem? Please describe.**
When installing k9s using Ansible, it is difficult getting installed k9s' version reliably, since "k9s version" command is colorized and thus difficult to handle.

**Describe the solution you'd like**
Add flag to k9s version, something like --short or --quiet which only outputs the plain version.

[2019-10-14 04:44] paivagustavo commented on #280
Hi @RothAndrew, @fardin01 and @maximzxc. The improvements that i have mentioned was merged on master.

Could you guys check if the views of Secrent and ConfigMaps are now faster and if we can close this issue?

[2019-10-14 06:15] maximzxc commented on #280
It works like a charm now. Thank you @paivagustavo!

[2019-10-14 15:36] #344 closed

[2019-10-15 07:48] ctritten opened #357 "Display kubectl command"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the solution you'd like**
Would it be possible to display or put in the clipboard (directly or on demand via a shortcut) the corresponding kubectl command for each action executed in the k9s console?

[2019-10-15 08:25] #279 closed

[2019-10-16 08:03] eldada commented on #325
In version 0.9.1, I still get this error...
As noted before:

Open k9s
`:ns`
select a namespace: "foo"
`:no`
Select a node with pods not in "foo"
Notice a empty list
`:ns`
select all
`:no`
Select same node
Notice all pods listed

[2019-10-16 13:14] anitabee commented on #240
Have the same issue on Ubuntu 18.04, also I tried to follow https://github.com/derailed/k9s/issues/240#issuecomment-505823987 suggestion, I still got:
[code]
If I take a look at logs there seam to be permission/ownership issue:
[code]
Anyhow both apps are owned by same user an permissions seam legit... maybe someone experienced same?

[2019-10-16 13:44] wpwoodjr opened #361 "Cannot filter using "h""
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When searching, entering the "h" character removes the header and does not become part of the filter.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /
2. Type an "h"
3. Header disappears (or re-appears) and "h" is consum

[2019-10-16 14:19] paivagustavo commented on #361
Hi @wpwoodjr, thanks for your report. This should be fixed with #360.

[2019-10-16 15:46] derailed commented on #240
@anitabee I've been trying with no success to ask the Snap folks to allow K9s access to the home user directory. This has sadly been a dud so far ;(. Could you given LinuxBrew a shot and see if that allows you to further explore K9s. The other option would to install from the release page. Sorry for the inconvenience of yet another installer to deal with but there seems to be no viable options of

[2019-10-16 16:25] dimm0 commented on #325
So you're saying you're not going to fix this to the way it was before?

[2019-10-16 22:10] brunohms commented on #355
I'm on it

[2019-10-17 00:15] lucasoares opened #364 "View JSON logs"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
Hello.

All my pods logs messages in json to the standard output.
I'd like to see parsed logs with `k9s` if possible.

**Describe the solution you'd like**
We currently use [Stackdriver

[2019-10-17 07:49] anitabee commented on #240
Ah, too bad @derailed, thanks for explanation! Will try installation from source.

[2019-10-17 12:24] derailed commented on #355
@ambis @brunohms Thank you both for the issue and fix!

@ambis I need some more info from you. I am reading two things from your issue 1) the colorization 2) parsing the output to extract the actual version. Is this correct? Currently K9s version outputs the version, git commit and date. Are your expecting something like `K9s version --short` to output either:

1. The same content as now but not c

[2019-10-17 13:07] derailed commented on #357
@ctritten Thank you for this issue! I think we are logging the commands every time we shell out. Most of K9s actions result in calling Kubernetes api directly. Not sure what your are looking for here... What would be your use cases?

[2019-10-17 13:12] #335 closed

[2019-10-17 13:32] derailed commented on #361
@wpwoodjr Fixed 0.9.2!

[2019-10-17 13:32] #361 closed

[2019-10-17 13:34] derailed commented on #341
@swe-covis Should be all better in 0.9.2. Please reopen if this is not the case. Thank you Swe!!

[2019-10-17 13:34] #341 closed

[2019-10-17 13:35] eldada commented on #325
I understand the need and will live with it, although it does leave a quirky UX IMO.
Thanks for the clarification.

[2019-10-17 13:35] derailed commented on #331
@kapodes Should be fixed in 0.9.2! Thanks to @syvanpera awesome PR!!

[2019-10-17 13:35] #331 closed

[2019-10-17 13:36] derailed commented on #323
@paivagustavo Fixed 0.9.2 Thanks to you!!

[2019-10-17 13:36] #323 closed

[2019-10-17 13:54] derailed commented on #325
@eldada Thank you for the feedback! I very much appreciate it and hear you.  I agree with you guys and see why this is less than idea and yields to an unexpected behavior. I'll bring it to the original behavior in the next drop.

[2019-10-17 14:18] swe-covis commented on #341
@derailed Just tested and works fine.
Thanks a lot (not just for this but k9s a a whole)!

[2019-10-17 18:53] derailed commented on #341
@swe-covis Thank you for reporting back!  Happy to hear you're back up and running.
Having someone like you, smart and classy, in our `K9s pac` makes me so happy.
Thank you for your support , encouragements and kindness!!

[2019-10-17 19:11] swe-covis commented on #341
@derailed https://media.giphy.com/media/39iws5wbhTn4cCjxZP/giphy.gif

[2019-10-17 19:55] #337 closed

[2019-10-17 20:05] ambis commented on #355
@derailed Option 2 would be most helpful when automating things.

[2019-10-17 20:58] derailed commented on #355
@ambis Yes that makes sense. Thank you for reporting back!

@brunohms would you mind updating the PR based on Matti's feedback. I think we should offer --short option and just dump the k9s version ie

[code]

Thus this won't require Matti to parse out the output to pull out the version. Does this make sense?

[2019-10-17 21:10] paivagustavo commented on #355
Would it make sense to provide a flag with a go template to print the version? e.g., `k9s version --short --format="{{ .Version .Commit .Date}}"`. This would make the command very customizable or is it too much for the use case?

[2019-10-17 23:10] derailed commented on #355
@paivagustavo I think this is indeed a good idea and we should keep it on the back burner if additional tooling on top of K9s CLI is needed. There is only 3 pieces of info to mine here and most likely the version, at least at this time, seems to be the valuable asset. That said a bit awk/sed magic on top of @brunohms has already implemented in his PR could just do the trick here to pull out K9s ve

[2019-10-18 05:40] lyn716 opened #368 "Cannot filter with keywords like "int", "internal""
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Can not filter by keywords like "int", "internal"

**To Reproduce**
Steps to reproduce the behavior:
1. Input "/"
2. Filter with keywords like "int", "internal"

**Versions (please complete the following information):**
 - OS: [Any]

[2019-10-18 07:40] nicodoggie opened #369 "HorizontalPodAutoscaler not showing"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Entering the `**HorizontalPodAutoscaler** view for a namespace does not show the resources available for it.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `k9s` in a context with a HorizontalPodAutoscaler
2. Type `:hpa`
3

[2019-10-18 11:48] topochan opened #370 "Sort shortcuts does not appear since 9.0"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Since release 0.9.x  Sorting shorcuts the don't appear any more but looks like they are fuctional

**To Reproduce**
Steps to reproduce the behavior:
1. Open in linux k9s and check if sorting appear in pods or nodes

**Expected behavi

[2019-10-18 12:05] ctritten commented on #357
A use case is to be able to replay quickly with kubectl (using copy/paste in another terminal window outside k9s) a command executed in k9s such as displaying the yaml of a pod, or listing pods of a specific namespace, or any other action.

[2019-10-18 12:39] paivagustavo commented on #370
Hello @topochan. Thanks for getting in touch and for your words.

This was a change done to reduce the amount of options displayed in the screen At the same time. The sorts shortcuts can be viewed at the help page, you can access it via the shortcut `?`

[2019-10-18 14:08] amwais opened #371 "support https_proxy"
Hi!

Is there a way to connect k9s via https proxy?

The cluster i need k9s to connect to is behind a proxy, therefore I use "https_proxy=<proxy-address> kubectl"

I'd really like to use k9s with it.

Many thanks!

[2019-10-18 22:03] derailed commented on #353
@bkmeneguello Thank you for your work on this PR! This is good stuff indeed and made me rethink how we're currently doing selection on the tables, which I believe is wrong. So thank you for that awakening!

Here is what I think we should do here:

1. Get ride of selectedRow index on the table ie just track the selected item or key
2. Tag the table cells with a reference to that key so we can ident

[2019-10-19 00:12] derailed commented on #368
@lyn716 Hum... Can't seem to repro this with 0.9.2. Here is what I did let's see how this differ from your scenario.

1. Created a pod called `internal`
2. Fire off k9s 0.9.2
3. Select pod view via `:po`
4. Filter for int via `/int`
5. Result: The pod view shows my pod called `internal`

Let us know if that's still an issue when you upgrade to K9s 0.9.2. Thank you!!

[2019-10-19 13:34] den-is commented on #355
I second that great request of @ambis
My use case is related to ansible too.
Not to overwrite binary, before installing I prefer to check if k9s is already installed and get it's version.

example with helm (not the best example, but at least one line):
[code]

So yea.. it's better to have something more programmatically consumable....  (regex-)error-proof

[2019-10-21 03:48] lyn716 commented on #368
Thanks for your response! But it is still confusing in my environment.

Checkout `:dp` to search `int`, It seems to work perfectly:
![image](https://user-images.githubusercontent.com/12389937/67175438-a5c37580-f3f8-11e9-9d86-8daa8cff9ccd.png)

But checkout `:po` to search `int`:
![image](https://user-images.githubusercontent.com/12389937/67175432-9c3a0d80-f3f8-11e9-9dc9-46dece358955.png)

[2019-10-21 06:29] paivagustavo commented on #368
Hey @lyn716, the filter tries to match every displayed column. This is done so one can filter, for example, all pods from a given status or a given node.

Could this be the reason why this isn't filtering what you wanted? Could you show a complete row that has not been filtered correctly?

[2019-10-21 06:39] lyn716 commented on #368
Yes, I think you are right. I checked again and found that my node name includes "internal". The item I want to search (which also has "internal" keywords in k8s namespace or pods name and I only focused on) was hidden by them.

Thanks a lot.

[2019-10-21 06:39] #368 closed

[2019-10-21 12:08] sgandon opened #373 "Secret decoded content is not shown"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
this issue states that the describe of a secret should show it's content with Base 64 decoded values. But it does not work on version 0.9.2
https://github.com/derailed/k9s/issues/123

**To Reproduce**
create a secret and try to descr

[2019-10-21 12:12] sgandon opened #374 "Add an option to remove (toogle) the footer"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
There is an option to remove the header to gain some space when displaying the K8 resources.
The footer seems to be using 3 lines too which sometime you'd like to use for displaying the

[2019-10-21 12:35] xetra11 opened #375 "Within Logs (or Resource) I fail to do a search keybinding says "</term>""
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
I am in a log and would like to search through it. Looking into help `Shift + ?` tells me there is a filter mode `</term>`. I can use that in the pods/deployments view. It does not work in the

[2019-10-21 12:35] xetra11 commented on #364
+1

[2019-10-21 12:43] derailed commented on #373
@sgandon Thank you for this report! In parity with kubectl, `describe` does not automatically decode the secret data. To see the base64 decoded secret playload you can use `Ctrl-x`

[2019-10-21 12:51] sgandon commented on #373
Thank a lot for this quick answer.
I did try `Ctrl-x` when the describe was shown and it did not work, I finally found that this is a command to be used on the secret selection.
I would be nice to have it implemented in the describe view as well.
What do you think ?

[2019-10-21 13:10] ambis opened #376 "K9s does not work with KUBECONFIG=<(ssh remote -- cat /path/to/kubeconfig)"
**Describe the bug**
K9s says "Boom!! K9s can't connect to cluster." when trying to use `KUBECONFIG=<(ssh ... -- cat /path/to/kubeconfig) k9s`

I would love to use this style, because this would mean I do not need to store the kubeconfig locally.

**To Reproduce**
\# Using k3s on remote VPS.
ssh -N -L 6443:127.0.0.1:6443 remote-k3s-server

\# This outputs correct kubeconfig
ssh remote-k3s-server -

[2019-10-21 13:14] ambis commented on #376
I just realized that the file descriptor that <() creates, lives only a very short time, and is already an invalid file descriptor when k9s then eventually starts.

So this is not a k9s bug.

[2019-10-21 13:14] #376 closed

[2019-10-21 15:58] GMartinez-Sisti opened #377 "K8s Rev is reporting incorrect version"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
K8s Rev is reporting incorrect version, this appears to be a regression, as it was working a few versions ago (cannot specify sorry).

**To Reproduce**
Steps to reproduce the behavior:
1. Select a kubernetes cluster with kubectl: `ku

[2019-10-22 08:48] joskfg opened #378 "Plugins are not working"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
The plugins stopped working in my ubuntu.

**To Reproduce**
Steps to reproduce the behavior:
1. Create your plugins
[code]

2. Open K9s
3. Go to dp, sts or co
4. The plugin commands are shown in the header
5. Press the corresponding

[2019-10-22 10:26] derailed commented on #378
@joskfg Thank you for reporting this! Totally possible I've hosed this feature in the mix. I think the problem here is your are not giving K9s the full path to the command. Could you change that in your plugin definition and see if that makes a difference? ie kubectl -> /usr/local/bin/kubectl. We can try to lookup the full bin path  in future versions but I think this might be the problem in your

[2019-10-22 10:33] derailed commented on #377
@GMartinez-Sisti Great catch!! Thank you for reporting this! I think I see what the problem might be. @paivagustavo this might be related to the caching we've put in place using the dynamic client and hence the cluster info is no longer updated when we switch context as we need to invalidate the cache?

[2019-10-22 14:33] paivagustavo commented on #377
Yes, @derailed @GMartinez-Sisti. This is probably on me. I'll see what I can do :)

[2019-10-22 18:06] juliohm1978 opened #379 "k9s not showing all containers in the pod"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
k9s not showing all containers in the pod

**To Reproduce**
I'm not sure how to reproduce, since it only happens on my machine, not others.

**Expected behavior**
k9s to show all containers in the pod.

**Screenshots**
Below is one e

[2019-10-22 20:30] Makusi75 commented on #378
Hi!

I actually had prroblems when I moved the "ksniff" plugin setting from the config.yml to the plugin.yml

@derailed also suggested me to point out the full path of kubectl, but that did not solve my issue.
In my config.yml I had also the:

 - $COL0

But when I moved to the plugin.yml I had to change that to:

  - $COL0

So no "-" between the "$COL" and the "0" ;-)

[2019-10-22 23:01] joskfg commented on #378
I tries with the fill path before creats the issue butlla it didn't solved. Anyway I was checking the process to run so I should see some execution intebt.

[2019-10-23 04:11] Makusi75 commented on #378
My ~/.k9s/plugin.yml looks like this, which I got to work with "ksniff":

cat ~/.k9s/plugin.yml
# plugin.yml
plugin:
  ksniff:
    shortCut: Shift-S
    description: "Sniff"
    scopes:
    - co
    command: kubectl
    background: true
    args:
    - sniff
    - $POD
    - -n
    - $NAMESPACE
    - -c
    - $COL0

[2019-10-23 07:23] xetra11 opened #380 "Shift-C is sorting by Update-To-Date and Shift-D by Current"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
- When pressing `shift+c` it sorts by UP-TO-DATE: should sort by CURRENT says "help doc"
- When pressing `shift+d` it sorts by CURRENT: should sort by DESIRED says "help doc"

**Versions (please complete the following information):**

[2019-10-23 07:28] roflmao opened #381 "Docs: Description of status colors"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
Im wondering what all the colors for the different status meanings.
Terminating is orange i have noticed and can also mean CrashLoopBackOff so i guess this is error, most are blue but s

[2019-10-23 10:46] topochan commented on #370
yes, I didn't see that in the release notes

[2019-10-23 10:46] #370 closed

[2019-10-23 12:21] topochan commented on #370
yes, I didn't see that in the release notes, so I was wondering. Thanks for the reply

[2019-10-23 16:46] brunohms commented on #287
@derailed I would like to get working on this issue, did a quick search and found [this](https://stackoverflow.com/questions/46123457/restart-container-within-pod) saying basically that the options are:
* kubectl exec -it [POD_NAME] -c [CONTAINER_NAME] -- /bin/sh -c "kill 1"
* kubectl exec POD_NAME -c CONTAINER_NAME /sbin/killall5

Can you explain further when those would not be available in a pod

[2019-10-23 16:48] brunohms commented on #287
@rocketraman AFAIK where I work everytime we had to do something that is pod-name dependend we used replicaset.
This way the pod would always be recreated with the same name.

Does this help you in any way?

[2019-10-23 17:06] rocketraman commented on #287
@brunohms

It all depends what the container contains. If the container contains the commands `/bin/sh` or `/sbin/killall5` then those commands will work, otherwise they won't. A container isn't guaranteed to contain a shell at `/bin/sh`, though most containers of course do. IMO, its fine for a kill container command to produce an error if `/bin/sh` doesn't exist -- this is the same logic as the s

[2019-10-23 17:07] brunohms commented on #227
@derailed Do you think it is ok to close this issue?

[2019-10-23 17:12] derailed commented on #381
@roflmao Thank you for this report! You are correct. The green color indicates that something changed in the row. Usually you would get an indicator showing you briefly what column(s) changed base on your refresh rate.  I'll add to the README section on the next drop. Tx!!

[2019-10-23 17:13] #355 closed

[2019-10-23 17:14] derailed commented on #380
@xetra11 Thank you for this report! Good catch!!

[2019-10-23 17:17] brunohms commented on #287
@rocketraman

Woops, wrong name, I wanted to mean **StatefulSet** not _ReplicaSet_.
You're right, recplicaset would recreate the pod with a diferent name.

I do not find that confusing at all, just wanted some more clarification.
I feel like `/bin/sh` or `/sbin/killall5` should work most of the time.

[2019-10-23 17:39] derailed commented on #287
@rocketraman @brunohms Thank you both for replying and commenting on this issue!! I think it's pretty dicey as it may yield to unexpected behavior on a given pod. My take here, I believe the rollout restart that @mcristina422 put into K9s is a much better/safer option to cycle managed pods. @rocketraman is correct in terms of scheduling but that what sts were designed for ie stable identity and st

[2019-10-23 17:54] rocketraman commented on #287
@derailed I can't disagree. Its not really an intended UX for Kubernetes, and really requires the user understand the implications of taking this shortcut if they're gonna take it. I'm fine with closing this issue.

[2019-10-23 18:20] brunohms commented on #287
@derailed from my point of view this enhancement would be more useful if it is a way to run a custom comand inside the pod.

For @rocketraman this would be a `/bin/sh -c "kill 1"` but more users would benefit from it.

[2019-10-23 19:25] jlesquembre opened #382 "Update tcell dependency to fix `terminal entry not found` error"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

Thanks for k9s, it looks awesome!

Related to #157 , I also found the `Boom!! terminal entry not found` error. I think is because `
github.com/gdamore/tcell` is on version `1.1.2`. If you take a look to the [release notes for 1.3.0](https://github.com/

[2019-10-23 23:53] derailed commented on #287
How about we focused on beefing up the K9s plugins ? This is really in the spirit of what a plugin already does. I think with a bit of TLC @rocketraman could achieve his goal and as a bonus we could make a K9s plugin shared repo to highlight and share these plugins? I was thinking about this as we currently don't track the associations but we could totally do this and extend the current K9s env va

[2019-10-24 01:23] RothAndrew opened #383 "Memory% based on limit instead of request"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
In the Pods view the Memory% is being based on the Limit. It used to be based on the Request.

**Expected behavior**
Memory% should be based on Request

**Screenshots**
The pod shown has request of 512MB and Limit of 1024MB

<img wid

[2019-10-24 01:45] paivagustavo commented on #383
Hey @RothAndrew, I don't think this was changed lately.

Currently, we give preference to `limit` but fallback to `request` if limit is not defined. I must say that I had always think this was a percentage of limit but wasn't sure as well. If we see the context of kubernetes and how other things use this value we should probably use ´request` first (e.g., the HorizontalPodAutoScaler uses the `requ

[2019-10-24 01:49] RothAndrew commented on #383
Ok. That makes sense. I definitely remember seeing it based on request earlier but it may have been because that particular pod didn't have a limit.

However, I do believe that the percentage should be based on request. Limit is the "guardrail", rather than the actual range I want my pod to be using. If my request is 500 and my limit is 1000 and it is using 750, I want it to be scary and say 150%,

[2019-10-24 02:01] RothAndrew commented on #383
Maybe show both?

[code]

[2019-10-24 02:06] paivagustavo commented on #383
IMO, we should keep only one and I would say to change it to request first.

Any thoughts on this @derailed ?

[2019-10-24 02:15] paivagustavo commented on #379
Hey @juliohm1978, thanks for this reporting, I can't seem to reproduce this bug.

Did you by any chance used the filter (`/`)?

Filters persists when changing views. E.g., if you filter on your cluster by `foo` and there is a pod `foo` which contains two containers (`foo` and `bar`) when you click `enter` to see the containers it would only show `foo`. To show both containers, you would need to cl

[2019-10-24 02:20] juliohm1978 commented on #379
Hi, thanks for the feedback.

I was coming back today to report that we finally realized it's a filter issue. Like you said, the filter (/) persists between views.

Version 0.8.4 behaves differently, and filters will not carry over different views. Personally, I find the previous behavior much better.

Using k9s, I'm always filtering to find different pods. Once I pick a pod from the list I feel l

[2019-10-24 02:29] RothAndrew commented on #379
I'm a fan as well of the old way the filter worked. A frequent workflow for me is

- Open namespace view with `:ns`
- Filter namespace `/foo`
- arrow key to the one I want
- enter
- pods view opens, except now most of my pods don't show up since the filter is still active

[2019-10-24 02:36] paivagustavo commented on #379
Thank you both for the feedback, We had some feedbacks about this feature but we could make a decision yet.

There are some use cases, e..g, when you have multiple resources with the same name like service/foo, pod/foo, deploy/food and you want to switch from one resource to another and keep the filter. But there are some cases that this doesn't work very well like the one you described.

Our last

[2019-10-24 02:38] #379 closed

[2019-10-24 03:07] paivagustavo commented on #369
hey @nicodoggie, thanks reporting this.

This was probably due to our latest release (0.9.x) trying to acces the autoscalig v2beta2 api which may not be available.

We'll fix it soon :)

[2019-10-24 03:12] paivagustavo commented on #374
Thanks for your request @sgandon.

This would indeed help when viewing k9s in small terminals/screens. I think we should improve the `headless` mode to better utilize the header and footer, I don't think we should add another option, just make headless better.

[2019-10-24 04:57] juliohm1978 commented on #379
I like the sticky filter idea. It makes more sense to have it both ways, and a sensible default.

[2019-10-24 06:10] TonyBian opened #386 "Pressing `s` unable to enter container shell when k9s is running in a container"
**Describe the bug**

Pressing `s` unable to enter container shell, when k9s is running in a container

**Versions (please complete the following information):**

K9s v0.9.1, v0.9.2, dev

[2019-10-24 08:09] sgandon commented on #374
yes that is a good idea.

[2019-10-24 16:05] brunohms commented on #287
@derailed do you have any plans for K9s plugins?
I would like to help in that front, up util now I didn't know that k9s had any plugin related functionality.

[2019-10-24 16:29] brunohms opened #387 "Add filter when saving a view"
<a>
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>
<p><b>Is your feature request related to a problem? Please describe.</b></p>
</a>

Kind of related to issue #349

I was looking at the problem in the issue #349 I found that when saving a filtered view of pods it save the entire screen, however what was salved was not

[2019-10-24 16:31] brunohms commented on #387
Changed the layout of the issue creation, so that the k9s dog is closer to the text :smile:

[2019-10-24 17:09] paivagustavo commented on #386
Hey @TonyBian, thanks for reporting this.

We need some more information to debug this.
- Does your container has a `/bin/sh` or `/bin/bash`?
- Do you have any success on shelling in on this container through the kubectl with `kubectl exec -it shell-pod-name -- /bin/bash`?
- Did you get any error message on the screen or on the k9s logs (it is located on your `/tmp` folder?

[2019-10-25 05:50] awwitecki commented on #268
It worked! Thank you so much for help here :)

[2019-10-25 15:45] #369 closed

[2019-10-25 16:05] #377 closed

[2019-10-25 16:36] angelichorsey commented on #294
Hey, I know this is silly, but one of the biggest things putting me off towards using k9s is the high contrast color scheme. It'd be fantastic if it obeyed system colors. I can only get it to do this when I ssh to another machine and run it there.

[2019-10-25 20:57] angelichorsey commented on #294
The `tcell` lib didn't have the colors I was interested in so I made this small change and rebuilt so I could specify hex values in `skin.yml`.
[code]

[2019-10-26 21:45] Makusi75 opened #388 "kubectl terminal"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
It would be very nice to within the K9s be able to rea

[2019-10-28 00:36] Nowaker opened #389 "Don't clear the screen if k9s can't start due to an error (e.g. Unable to locate kubeconfig file)"
**Describe the bug**

`k9s` clears the terminal history even if it can't function correctly, e.g. due to `Boom!! Unable to locate kubeconfig file.` It should work like with `k9s version`

**To Reproduce**
Steps to reproduce the behavior:
1. Have no kubeconfig
2. `echo blah`
2. `k9s`

**Expected behavior**

`blah` is still visible in the terminal.

**Versions (please complete the following informat

[2019-10-28 03:25] derailed commented on #388
@Makusi75 Thank you for this report! IMHO one of the big feature of K9s is the very fact that we are already running in a terminal session and not on a web page. Among many other things, being a terminal app and given your terminal of choice you should already be able to either split your screen or run in a separate tab any commands (with completion and with your shell of choice) using a magical k

[2019-10-28 03:30] derailed commented on #389
@Nowaker Thank you for your feedback! To be clear K9s does not clear the terminal `history` but just the bits on the screen. I believe this request makes sense and is good citizenship in terminal land. It will be removed in K9s future releases. Thank you!

[2019-10-28 03:34] derailed commented on #382
@jlesquembre Thank you for your kind words Jose! Yes I did try to update tcell a while back and revert it due to some terminal color changes issues. I'll take another pass to see if perhaps some of these are now  resolved but I do agree the more terminals support the better  ;)

[2019-10-28 04:23] derailed commented on #383
@RothAndrew @paivagustavo Thank you both for the original report and your input! I think this makes sense. Andrew is correct here as K9s should give a visual indication that the pod/container is currently running under/above its minimal resource allocation. Thus change the algorithm to compute based on request resource (if provided) or fallback to limit (if provided) and just display the single X%

[2019-10-28 09:09] fardin01 opened #390 "Search phrase is not cleared after switching view"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Scenario: I search for `default` in pods list and press enter. I do what I need and move on to `svc` view. The list that I get is still filtered for `default`. In other words, the search criteria was not cleared.

**To Reproduce**
St

[2019-10-28 11:02] joskfg commented on #378
Thanks @Makusi75!

It is like you said `$COL-0`is now `$COL0`. After the change, it worked like a charm.

@derailed, Could you document the braking change?

[2019-10-28 11:02] #378 closed

[2019-10-28 15:06] sap-nocops commented on #383
I'd like to work on this issue. What about %CPU? I think it should be related to request instead of limit as well in order to keep coherence

[2019-10-28 15:13] RothAndrew commented on #383
I didn't specifically call out CPU because I like to keep things small but it definitely makes sense to do the same for memory and CPU together

[2019-10-28 16:43] paivagustavo commented on #383
That's great @sap-nocops, both should be changed to % of request. I think these change should be small enough to do both at once.

[2019-10-28 17:22] derailed commented on #383
@sap-nocops @RothAndrew @paivagustavo. Thank you all for your input! I've already made the necessary changes to resolve this issue for both cpu/mem.  I'll push the updates in a bit.

[2019-10-28 17:39] derailed commented on #378
@Makusi75 @joskfg Thank you both for this report and comments! @Makusi75 thanks for setting the record straight!! @joskfg that change was already documented in the README ;( You can expect more `breaking` changes as this is still pre-release software thus features may change based on your feedback and what we feel might be better solutions. That said, we try our best to keep up with the docs, if y

[2019-10-28 20:50] jvstein commented on #157
I get the same when using [kitty](https://github.com/kovidgoyal/kitty), which has `TERM=xterm-kitty` by default. `TERM=xterm-256color` does work as far as I can tell. I guess the termcap is similar enough to xterm.

[2019-10-28 21:21] derailed commented on #386
@TonyBian Good catch! I think I see what the issue might be here. The K9s container image does not currently bundles kubectl. I will fix this in the next drop. Thank you!!

[2019-10-28 22:36] #381 closed

[2019-10-29 10:56] ncsibra commented on #375
I think the help menu shows general help, not menu specific.
But this would be a killer feature!
We can use the `Edit` feature to get a custom editor and do some search, but that takes time and add some risk for undesired modifications.

[2019-10-29 16:15] lakaf opened #392 "Crashed when trying to view logs"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
K9s crashed when trying to view pod log, showing error:
Boom!! runtime error: invalid memory address or nil pointer dereference.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Pod view
2. Click on any pod
3. Hit l
4. Se

[2019-10-29 18:18] derailed commented on #392
@lakaf Thank you for your great report! I think the issue here might be caused by RBAC restrictions on your cluster. Do you know if your user have the ability to get, list, watch for pod resources? Could you send us more details about this? Regardless, it is indeed a bug in K9s so thank you for filing this!

[2019-10-29 18:28] lakaf commented on #392
Hi @derailed , I think this user does not have access to "namespaces", could this be the cause? I saw some errors on this earlier in the log file:

12:17PM ERR Checking NS Access error="namespaces \"xxxxxxxx\" is forbidden: User \"system:serviceaccount:xxxxxxxx:yyyyyyyy\" cannot get resource \"namespaces\" in API group \"\" in the namespace \"xxxxxxxx\""

12:17PM ERR CRDs load fail error="customre

[2019-10-29 18:28] lakaf commented on #392
Also this tool is awesome thank you for your hard work @derailed and looking forward to see it getting better!

[2019-10-29 20:29] Gerrit-K commented on #294
Thanks @angelichorsey! This looked promising at first, but doesn't work exactly as expected, as I'll try to show along this screenshot:
![image](https://user-images.githubusercontent.com/8766565/67801919-84aef480-fa8a-11e9-8a0a-b7ac5702bfc5.png)
I've compiled k9s with your suggested fix and updated my `skin.yml` as seen on the right. My terminal emulator (GNOME Terminal) is configured to display t

[2019-10-29 20:32] derailed commented on #392
Hi @lakaf Thank you for your kind words and for reporting back!

If you start K9s with a -n for the namespace you do have access to, can you get to the containers logs then?

[2019-10-30 00:08] derailed commented on #389
@Nowaker Fixed in 0.9.3!

[2019-10-30 00:08] #389 closed

[2019-10-30 00:09] derailed commented on #386
@TonyBian Fixed 0.9.3

[2019-10-30 00:09] #386 closed

[2019-10-30 00:09] derailed commented on #383
@RothAndrew Fixed 0.9.3!

[2019-10-30 00:09] #383 closed

[2019-10-30 00:10] derailed commented on #382
@jlesquembre updated in 0.9.3. Don't know if this will fix your current issue. Please reopen if not. Tx!!

[2019-10-30 00:10] #382 closed

[2019-10-30 00:11] derailed commented on #380
@xetra11 Fixed 0.9.3!

[2019-10-30 00:11] #380 closed

[2019-10-30 00:16] derailed commented on #336
@dimm0 Sticky filtering was removed in 0.9.3. I think we've missed the forest for the trees with this feature. Sorry for the headache. This is on me ;(

I think this is not actually a view filtering feature but a much larger feature that will be tackled in future releases. I'll keep this issue open until we have a change to make it a reality as I do believe this is indeed a valuable feature but no

[2019-10-30 01:49] dimm0 commented on #336
Glad to see the filter went away, but namespace is still sticky when looking at node pods

[2019-10-30 04:09] derailed commented on #334
@Makusi75 Thank you for this report! I think this is a dup of #353.

[2019-10-30 04:20] derailed commented on #294
@Gerrit-K @angelichorsey Thank you both for your help and reports! I'll have to take a closer look as I am not sure what actually changed in with the color support. As of 0.9.3 I've updated both dependent libs and guessing this problem is not going to be fixed per @Gerrit-K report.  Could you still give it a try and see if anything changed in your experimentations? I think @angelichorsey change is

[2019-10-30 07:44] Gerrit-K commented on #294
Yes, I also think that @angelichorsey change is reasonable (I believe I've also seen hex colors as a feature request to k9s at some time, but I might be wrong). And downgrading before understanding the issue should actually also never be considered, so forget about my last comment. I'll try to find out why there are those subtle color differences though.

[2019-10-30 08:12] xetra11 commented on #375
@ncsibra
Might it be a big thing to open the log with `tail` somehow via this *Edit* feature?

[2019-10-30 10:22] jlesquembre commented on #382
@derailed yes, I just tested it and the issue is fixed, thanks a lot

[2019-10-30 11:45] RothAndrew commented on #383
You da man!

[2019-10-30 12:36] eldada opened #393 "K9s node describe very different than 'kubectl describe node'"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>

**Describe the bug**
Looks like the output of the K9s describe on a node is different than the output of `kubectl describe node`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to nodes view
2. Click `d` on a node
3. Scroll down and review output
4. I

[2019-10-30 17:10] lakaf commented on #392
Hi! Just an update, I tried with latest 0.9.3 release, it doesn't crash any more (good!), but I got this

![image](https://user-images.githubusercontent.com/8853814/67881250-87efc200-fb16-11e9-9046-3d4005f1d1f9.png)

and also in the log I got this:

1:08PM ERR Invalid informer error="Invalid informer"
1:08PM WRN NodeMetrics &errors.errorString{s:"Invalid informer"}

My user can see logs by using k

[2019-10-30 19:52] tomaszkiewicz opened #394 "k9s hangs when resuming from sleep or when VPN is reconnected"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When my laptop (Surface Pro 2017) goes to sleep and resumes after sleep k9s in most cases hangs - I'm unable to do anything, Ctrl+C doesn't work and only kill -9 helps.

I've also observed the same situation when control plane of k8s

[2019-10-30 22:06] masterkain commented on #265
the readme shows a Deployment view, how to reach that?

[2019-10-31 03:34] #393 closed

[2019-10-31 13:41] derailed commented on #392
@lakaf Thank you for reporting back! Let's try this.

[code]

[2019-10-31 14:09] xetra11 opened #395 "copy logs to clipboard"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the solution you'd like**
When `describe` on a pod when can press `c` to copy it's content to the clipboard. I simply would love to have the same when within the log view of a container. I simple want to press `c` to copy the log and then re

[2019-10-31 14:15] xetra11 opened #396 "Log View shows Pod Shortcut List when opening/closing help menu"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Wrong shortcut list is displayed when inside the container log view and pressing `?` to show view and close it again.

**To Reproduce**
Steps to reproduce the behavior:
1. Filter for `Pods`
2. Enter a Pod with `<enter>`
3. Press `l`

[2019-10-31 14:55] infestonn opened #397 "hpa targets with custom metrics <unknown>"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
HorizontalPodAutoscaler targets appears as `<unknown>/<unknown>%`

**To Reproduce**
Create autoscaling/v2beta2 horizontal pod autoscale based on custom metrics. Go to "hpa".

**Expected behavior**
Shows actual values of metrics.

**S

[2019-10-31 21:51] derailed commented on #392
@lakaf Could you share your rbac policy for this user? If you've started K9s in the namespace the user actually has access to, based on what logs you've shared I am guessing that this user does not have watch verb for that namespace.

[2019-11-01 08:02] rj93 opened #398 "Customise which columns are shown, and in what order"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I would like to be able to customise which columns and their ordering for all k8s resources.

**Describe alternatives you've considered**
N/A

*

[2019-11-01 10:10] masterkain commented on #299
I have the same issue. I have metrics-server up and running but inspecting k9s logs:

[code]

I setup the RBAC policy to no effect. I don't know what `nmx` might be referring to, namespace apparently is logged empty.

[2019-11-01 10:14] masterkain opened #399 "no metrics when k9s starts with all namespaces set"
I have metrics-server up and running but inspecting k9s logs:

[code]

I setup the RBAC policy to no effect. I don't know what `nmx` might be referring to, namespace apparently is logged empty.

interestingly enough it started to work once I:

- press `0` to set a default namespace back (others ain't listed, I have all and default, I used all in the past)
- close and reopen, when k9s starts it wil

[2019-11-01 13:43] paivagustavo commented on #398
Hi @rj93, Thanks for suggesting this.

This is something that I already had in mind. I was think something similar to the `htop`.

[2019-11-02 07:28] Makusi75 opened #401 "Cannot chose "portforwards" or "pf" as scope in plugin.yml"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
I woud like to try set an action the the scope (view) of Port Forwards ("pf", "portforwards"), but I'm ot able to get the short-cut into the Port Forwards scope/view.

In the plugin.yml, under the "scopes" tried the keywords "pf", "p

[2019-11-02 07:32] Makusi75 opened #402 "Would like to use "all" as "scope" in plugin.yml"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
Today it's possible to add actions that should happen with short-cuts by adding to the plugin.yml (very niice).
Today a user need to specify which scope/view to add this to.
But some ac

[2019-11-02 14:37] binarycoded opened #403 "Strange pod CPU load percentage metrics"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
I see strange pod CPU load percentage metrics with current K9s version (0.9.3). Compared to version 0.9.2 the values are much higher and often over 100%. In 0.9.2 the values look much more "real" to me.

**To Reproduce**
See the pod

[2019-11-02 14:41] RothAndrew commented on #403
See https://github.com/derailed/k9s/issues/383

[2019-11-02 15:01] snukone opened #404 "panic: open /tmp/k9s-root.log: no such file or directory"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When i try to start k9s it fails with following error message:

[bla@bla ~]# k9s
panic: open /tmp/k9s-root.log: no such file or directory

goroutine 1 [running]:
main.main()
        /Users/fernand/go_wk/derailed/src/github.com/derail

[2019-11-02 17:39] derailed commented on #404
@snukone Thank you for your report! Can you provide more details to your report ie once you've created the log file what is the output of `k9s help` or `k9s info`? Are there any logs in your k9s log file?

[2019-11-02 17:46] derailed commented on #401
@Makusi75 Thank you for reporting this! You are correct, the current plugin implementation does not currently include the portforward view or any non standard K8s resource views.

[2019-11-02 19:41] Makusi75 commented on #401
@derailed Thanks alot. My Use Case is hat I would like to easy for example start a Port Forward for example for the Prometheus pod (usually the port 9090) and then via the plugins.yml create a short-cut that will launch a web browser (in my case the chromium-browser) that browse to the url in the Port Forward view, in the example http://localhost:9090 and by that launch the Prometheus web ui ;-)

[2019-11-04 18:50] lakaf commented on #392
@derailed here it is:

[code]

[2019-11-05 10:44] rahilb opened #406 "Custom commands with pipes example?"
Hi folks,

just wanted to say this is a great tool and saves me tonnes of time!

I was wondering if it's possible/what the syntax is for a custom plugin with pipes? E.g. my pods log in json so I would like to pipe the output through JQ, I tried:

[code]

But no joy. Has anyone done something similar?

[2019-11-05 12:38] fridokus opened #407 "Use environment variable KUBECONFIG?"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
`kubectl` automatically uses the kubeconfig in `$KUBECONFIG`. To start `k9s` with that kubeconfig, I put `k9s --kubeconfig $KUBECONFIG`. Should the kubeconfig in the environment be used

[2019-11-05 18:39] JrCs commented on #407
Hi,
it's already the case. If `KUBECONFIG` **environment** variable is set, k9s use it.

[2019-11-05 18:45] JrCs opened #408 "Feature: all to sort columns using only one key"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
I'm always frustrated when i try to sort a column: i need to first use the key to sort the column (ex: shit-a to sort by age) and if i need to sort in reverse order i need to use the re

[2019-11-06 06:01] brandonkal opened #409 "Display pod name on shell screen"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

![image](https://user-images.githubusercontent.com/4714862/68271972-25675c00-0017-11ea-8ee7-4d9c89a40b59.png)

**Is your feature request related to a problem? Please describe.**
Not every container provides a useful prompt. When starting a shell from k

[2019-11-06 08:26] xoonz opened #410 "Configure style per cluster"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
I am switching constantly with different kubernetes clusters: production, staging, development. while I am usually aware of the environment I am working on, a visual feedback telling me

[2019-11-06 09:56] xoonz commented on #410
By the way awesome tool :+1:

[2019-11-06 13:54] whitelancer commented on #398
I'd love to see this as well.  I have a need where I am trying to use k9s (which is absolutely fantastic) on a narrower terminal, and trying to fit data like the ip address, node info, and QoS squashes the other important fields like memory, cpu, etc.  I don't really need the node info and the like in this type of view, and I'd love to know if there's a way to exclude columns.  I don't even need s

[2019-11-07 04:37] #387 closed

[2019-11-07 16:36] RothAndrew opened #413 "Show resource limit % next to request % in Pod view"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
Now that #383 is done, I'm also wanting to see how close my burstable pods are to their limits.

**Describe the solution you'd like**
CPU% and Memory% columns show both percentage of re

[2019-11-07 21:34] bkmeneguello commented on #353
Ok, items 4 and 5 done

[2019-11-08 03:25] paivagustavo commented on #407
Hi @fridokus, as @JrCs said, k9s already can use configs through the config.

Could you make sure the environment variable is pointing to the config file and not to a folder? Also could you paste the logs (located at  `/tmp/k9s-$USER.log`)  when its fail to load?

[2019-11-08 04:43] paivagustavo commented on #403
Hey @binarycoded, as Andrew pointed out we changed how the cpu% and mem% is calculated to use the request instead of the limit value on the last release. Could this be the strange values you are seeing?

Andrew also opened a new issue #413 to display both values if you are interested in seeing the % based on the limit instead of request.

If you are okay with these I suggest us to close this issue

[2019-11-08 05:00] binarycoded commented on #403
@paivagustavo that sounds great, thanks a lot!

[2019-11-08 05:00] #403 closed

[2019-11-08 13:00] bkmeneguello commented on #353
3 also done.

@derailed I think 1,2 and 6 should be done by you. I'll try to make these changes but in other PR

[2019-11-08 14:18] hsychla opened #414 "Don't exit if cluster can not be reached"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
I have to switch between clusters a lot.

... I select a cluster in `:ctx` that I forgot to connect the jumphost for and k9s exits instead of just showing an error.
I then have to resta

[2019-11-08 15:29] hsychla commented on #414
Nvm. Looks like I was a few versions behind and this has already been changed.

[2019-11-08 15:29] #414 closed

[2019-11-08 16:01] derailed commented on #353
@bkmeneguello Thank you so much for making these corrections and for helping us improve K9s!!
Sure I'll take a peek at 1,2,6 as they are more core to K9s overall. We really appreciate your time and efforts on this as it does improve the experience and usability. So big Thanks to you Bruno!!

[2019-11-08 16:17] #353 closed

[2019-11-08 18:44] victort commented on #88
what do i do if i have a namespace named `all`?

[2019-11-09 00:14] derailed commented on #88
@aslafy-z K9s by default tracks the active namespace and will relaunch based on the last namespace viewed. This information is stored in the .k9s/config.yml. I will make an update to the K9s CLI to afford a `-A` or `--all-namespaces' in parity with kubectl so you can always override for cluster wide views. For now you should be able to use `-n all` to specify all namespaces. Would that help?

[2019-11-10 11:08] snukone commented on #404
The Problem has been solved. What the solution was i cant say. Now k9s is starting without any problem. I havent changed anything.
Last time as it failed to start k9s, k9s help and k9s info command resulted in the same error as stated in the issue description. Where the k9s log file is i dont know at the moment.

[2019-11-10 11:08] #404 closed

[2019-11-10 12:22] Stanislasss commented on #305
It is indeed.

[2019-11-10 17:15] hlascelles opened #415 "EKS resource names are truncated so as to be unusable"
**Describe the bug**
EKS names are prefixed so have long `arns` of the form `arn:aws:eks:<region>:<account>:name`. When using k9s, we can only see the prefix.

**To Reproduce**
Steps to reproduce the behavior:
1. Open an EKS cluster.
2. See the problem as in screenshot.

**Expected behavior**
The left header column should be much wider to show the whole name. We could trim the prefix, but even rem

[2019-11-10 22:38] derailed commented on #415
@hlascelles Thank you for this report! I see the issue and space is limited here. You can always change these names in your kubeconfig to something likely more useful to you than the aws generated names?

[2019-11-11 02:57] paivagustavo opened #417 "Switch linter to golangci-lint"
Golangci-lint (https://golangci.com/)  is becoming the most used and common linter for Go. It would be great if we change from codebeat to golangci-lint.

We would also need to fix the issues that is already at the code. Fixing this problem (there are ~150 issues reported by golangci) should be simple and be a Good First Issue for new contributors :).

[2019-11-11 04:42] paivagustavo commented on #336
Hey folks,

I invite everyone that are interested on the sticky filters to see my proposed solution to this in the PR #419.

cc @ncsibra since you're one of the users of the sticky filters :)

[2019-11-11 14:03] dperetti commented on #415
I was about to fill in a similar issue for namespaces:
<img width="1379" alt="image" src="https://user-images.githubusercontent.com/845612/68592704-f8420000-0493-11ea-9860-490c6bdb2ffc.png">
I wish they were displayed in lieu of the logo ;-)
Seriously, there is plenty of space here so they should not be truncated. Some extra width would be great !

[2019-11-11 15:57] saamalik opened #420 "QUESTION: What does Next Field/Previous Field do?"
Hi,

Thanks for an awesome project - I'm using K9s as my daily driver for K8s exploration and debugging.  I've memorized all the shortcuts in `Shift+?` - and understand how to use them all, the only one I can't figure out are the _General_ commands `tab` _Next Field_ and `backtab` _Previous Field_.

Could you please explain how to use these? E.g:

    :po
    <type this> ....

Would be super helpf

[2019-11-11 16:02] derailed commented on #420
@saamalik Thank you so much for your kind words! The tab/backtab apply while in a K9s dialog to navigate between the various fields forward and backward. Does this make sense?

[2019-11-11 16:19] #305 closed

[2019-11-11 16:20] Stanislasss commented on #305
@aLekSer, It is actually working. We deployed a fresh cluster and the both Fleet Auto Scaler are showing up. Closing ticket

[2019-11-11 16:45] hlascelles commented on #415
Agree with @dperetti, our screens give plenty of room up to the logo which can be used. :+1:

[2019-11-11 16:50] derailed commented on #417
@paivagustavo Agreed! Had this on the radar too, so thank you for pointing this out!! Scanning with golangci on master produced 119 issues for me ;) We need to be careful with premature linter fixes as K9s is going to undergo some surgeries in the next few releases and most likely some of these might not remain relevant.

[2019-11-11 16:55] derailed commented on #415
@dperetti @hlascelles Thank you for reporting this! I'll take a pass at the header layout to make sure we can display your information optimally.

[2019-11-11 16:56] derailed commented on #305
@Stanislasss @aLekSer Thank you both for the report and for circling back!!

[2019-11-11 16:59] TreverW opened #421 "Sort or filter pods that do not have all containers running"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
When viewing a large number of running pods and some are not completely started (say 4/5 containers have started), it would be helpful to filter or sort the view so that all of the inco

[2019-11-11 20:25] derailed commented on #336
@paivagustavo I think we are tackling this the wrong way.

In my mind Norbert issue boils down to having the ability to navigate an app across its various resources. ie given a label app=fred, have the ability to see the related resources ie dp, svc, etc.... K8s already give us a `sticky filter` when navigating a managing resource to its dependents. ie dp->pods->containers->logs or svc->pods->cont

[2019-11-11 22:13] paivagustavo commented on #336
@derailed I totally understand your points and that is for sure a big feature that will bring k9s to another level. I don't think there is any tool or web application that can bring show this kinda of information as of today.

I did think about this a while back but I was think how we could integrated with  Helm and other tools like that. Initially I thought about a centralized view with various r

[2019-11-12 01:37] saamalik commented on #420
Ohhh! Like when deleting a pod! Thanks

[2019-11-12 01:37] #420 closed

[2019-11-12 06:02] ncsibra commented on #336
@derailed Sounds really good, but as you said, it's much heavier than this PR and it would take much more time to develop and test it.
I agree with @paivagustavo, just do the easiest solution possible for now and remove it later when the crosscut view is done.

[2019-11-12 11:55] nicodoggie commented on #369
Thanks for the quick fix!

[2019-11-12 19:00] fardin01 commented on #267
If you rename the contexts, and forget to change the value of `current-context` attribute in kubectl config file, this error will occur.

[2019-11-13 12:50] pawel-buczkowski-payu commented on #392
I have similar problem. Logs are here:
[code]
Problem occurs only on out production environment (more secured), there is no problem on staging (less restricted). Could you confirm which verb for which resource is required? Is it `watch namespace`?

BTW. This tool is really cool :)

[2019-11-13 14:45] derailed commented on #392
@lakaf @pawel-buczkowski-payu Thank you so much for the extra info!

@lakaf Let's try this provided you can update your rbac policies, add this rule to your ci-role.
I think the issue here is the role does not have access to get the namespace xxx and hence the logs are failing in your case.

[code]

@pawel-buczkowski-payu  Can you scroll up on your logs? You should have other errors above that gre

[2019-11-13 18:38] blaise-sumo opened #423 "Access log & metric data stored in Sumo Logic"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**

The current log browser is limited to whatever files are currently available locally and by whatever my brain can process visually.

**Describe the solution you'd like**

I would like

[2019-11-14 03:12] kuaiwenwu opened #424 "When can logs support istio related sidecar multi container selection mode"
When can logs support istio related sidecar multi container selection mode？Do you have this plan

[2019-11-14 03:52] derailed commented on #424
@kuaiwenwu I think K9s already supports this... Showing logs at the pod level will list out the associated containers logs. Is this what your looking for or did I miss the Q?

[2019-11-14 08:37] pawel-buczkowski-payu commented on #392
@derailed Thanks for your quick answer. In fact I found `Checking NS Access` error. Then we added `get namespaces` and now everything works fine :)
Thanks!

[2019-11-15 07:53] igoooor commented on #398
It would also be good to be able to display selected labels as column :)

[2019-11-18 16:26] rj93 opened #426 "After upgrading from 0.7.X to 0.9.3 K9s has become very slow"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
I was running 0.7.X (Can't remember the exact version) for a while and all was great. I recently update to 0.9.3 and now it's become incredibly slow. Scrolling up and down pods can take multiple seconds before anything is registered

[2019-11-19 09:41] Erates opened #427 "no kind "SecretList" is registered for version "v1""
Since upgrading K9s to 0.9.3, I can not see my secrets anymore. I get the following error:

`no kind "SecretList" is registered for version "v1" in scheme "pkg/runtime/scheme.go:101"
`

K9s Rev: 0.9.3
K8s Rev: v1.9.5

My sytem is macOS Catalina 10.15.1

The answer is probably "upgrade your K8s cluster", but that is something that is not up to me.

[2019-11-19 13:42] yacinelazaar opened #428 "Cannot list daemonsets"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
k9s fails to list daemonsets.
It prompt the error: Reconciliation for ds failed  - the server could not find the requested resource

They can be listed with kubectl though.

**To Reproduce**
Steps to reproduce the behavior:
1. :ds

*

[2019-11-19 19:46] maticko commented on #426
I'm experiencing similar issues, k9s worked really fast in the past. The new versions are so slow that I'm reverting back to typing in the terminal as that is faster than waiting for k9s.

Examples that don't require any server lookups like just opening command console with `:` takes a few seconds in some cases.

I'm on K9s: 0.9.1, will upgrade today and report if there is any improvement.

[2019-11-19 20:39] ljohnston commented on #373
That would be handy...

[2019-11-21 06:48] Veraticus commented on #426
I agree that k9s is much slower than it ever has been before. :(

[2019-11-21 10:51] igoooor commented on #177
Same problem here and for all people in my team. Any news?

[2019-11-21 13:14] derailed commented on #426
@rj93 @maticko @Veraticus Thank you all for reporting this! Could you guys send more info so we can narrow this down, as best I know this is not a global issue.  Could you send logs, what type of resource s and how many resources you are trying to view. Does changing the refresh rate ie `-r 10` option on the CLI make any difference? Does this happen for other resources besides pods? We have a coup

[2019-11-21 13:24] derailed commented on #423
@blaise-sumo  Thank you for this report! Could you send send us your API docs as well as what kind of info you would be expecting for on a first pass integration.

[2019-11-21 14:27] rj93 commented on #426
@derailed I've just tried setting the refresh rate but it had no effect. It happens on all k8s resources, not just pods (tried with secrets that only had 5 items).

I think I might have found the issue though, it only seems to happen when I am scrolling from top to bottom, and vice versa, with the magic mouse/trackpad. Almost as if it is continuing to scroll after it reaches to end. The more I do

[2019-11-21 18:34] derailed commented on #426
@rj93 Thank you so much for spending some time with it and for isolating this use case!! We have indeed updated the terminal components since 0.7.X and possibly introduced some issues in the process. I'll  take a look and see if I am able to repro.

As for the logs you can run `k9s -l debug` and `k9s info` to acquire the logs location. I doubt we would have anything useful  in there but worth a pe

[2019-11-22 23:20] Veraticus commented on #426
Thank you for taking a look into this @derailed -- I love k9s.

[2019-11-25 04:04] jmem0120 commented on #392
@lakaf
@derailed

I got your problem in version 0.9.3
I am trying to add -n username after k9s and it have no error when view logs.
Hope u can do it as me.

[2019-11-25 15:17] weshouman commented on #107
Enabling the metrics-server addon on minikube didn't solve that for me, is there anything else that may be needed?

[2019-11-25 15:26] weshouman commented on #107
Reopened k9s after ~10 minutes, and now the CPU and memory usage are now available.