[2019-02-03 10:35] cgetzen opened #1 "Support for more than 9 namespaces when viewing pods"
I would envision similar to how to access a kube resource like `po`, you could also filter by namespace: `/ns foo`.

[2019-02-03 16:39] matthewellis opened #3 "No output is displayed when failing"
Due to a setup that k9s is unhappy with (kubeconfig outside of normal location) k9s quits upon start which is expected the only issue is no error or warning is printed back to console.

[2019-02-03 18:06] derailed commented on #3
Hi Matthew,

  Thank you for reporting back! For non standard kubeconfig location K9s support the env var KUBECONFIG wit the location of your config file. Did you try setting this env var?

   I know I need to do more work in the area of configuration and logging but is there anything in /tmp/k9s.log that would indicate the configuration error? If so can you please send me the output and logs?

[2019-02-03 19:46] michaelkipper opened #4 "Support /bin/bash as an SSH command"
`podView.sshInto`calls `"sh"` directly.

Generally, I prefer `/bin/bash` since it supports tab auto-completion.

Should be simple to change, but I'm not sure the best way to store the configuration preference. Maybe this issue is really to store configuration.

[2019-02-03 19:59] OGKevin opened #5 "Is there a way to scroll when in log view?"
When I open the logs of a pod, there is no way to scroll up or down. Is this intended? If so, I think it would be a nice feature to add the ability to scroll during log tail like you normally would.

[2019-02-04 01:38] w11d opened #6 "Quick sorting/filtering"
Would be very nice to be able to sort the listing based on arbitrary columns - maybe by selecting the header row, [left]/[right] to select column, and [enter] to sort ascending or descending.

Similarly, perhaps one could select a column then hit [/] and get a little prompt for a regex to filter the column against.

Great project!

[2019-02-04 01:41] w11d opened #7 "Limit available namespaces"
Having the ability to limit the application to specific namespaces - perhaps via a ~/.k9s/config file - would be great.

[2019-02-04 01:47] mitchellmaler commented on #6
I would like to sort the events based on time stamp.

[2019-02-04 05:07] gramidt commented on #7
Agreed! A typical production cluster for us can be over several thousand namespaces, so the ability to filter would be a must.

I would be more than happy to build this feature!

[2019-02-04 09:27] faheem-cliqz opened #8 "Remember deleted pod table location"
Upon deleting a pod the row selector moves to the top of the table which is column names. That is a pain when we have to delete multiple pods.

Can we also support deleting multiple and all pods in a namespace. Pretty useful when you want to just restart everything one is working on. Should translate to something `kubectl -n some_namespace delete pod --all` and `kubectl -n some_namespace delete po

[2019-02-04 10:31] Sgydoo commented on #4
A simple config file in $HOME/.k9s might be a good place for user preferences.

I'd also suggest renaming 'SSH' to 'Shell', since SSH isn't actually involved.

AND... I'd also like to say that k9s is very cool :)

[2019-02-04 10:55] Tarick opened #10 "Feature Request: support for --context and --kubeconfig"
To manage different clusters simultaneously please add support for ```--context``` and ```--kubeconfig``` parameters (kubectl inspired)

[2019-02-04 11:32] dalgibbard opened #11 "Feature Request: Support for OIDC auth type"
Hey there!
k9s was crashing on startup, and checking the log at /tmp/k9s.log it says:
[code]
Probably because k9s doesn't support the oidc auth method perhaps?

[2019-02-04 12:04] alanquillin commented on #3
@derailed That works, but issue still remains that it just fails with no message.  A message as to why it exited would be really helpful

[2019-02-04 14:55] derailed commented on #3
@alanquillin - Thank you for reporting back! I think the app just blocks trying to contact the api server. I did not test the multiple file scenario in the env var as of yet. I'll take a peek.

[2019-02-04 15:17] derailed commented on #7
Makes perfect sense! I have a plan to add a config to persist k9s state for other options.
BTW there is currently support for a single namespace using

[code]

 Less than ideal when you have lots of ns but in a pinch it should help some ...
@gramidt if you want to take a crack at it that would be awesome!

Thank both for reporting back!

[2019-02-04 15:22] derailed commented on #5
Thanks for reporting back! I have a bug in the code that currently limit to only the last 10 lines of logs. I will fix this in the next drop.

[2019-02-04 15:25] derailed commented on #4
Ah! Thank you both for reporting back! I've opted for sh since most containers will have it. Bash may not be available on some containers. Hence this default. I could add it in the config but it may not always work??

[2019-02-04 16:37] sg3s commented on #7
And/or maybe select the namespace in the current context as default? :)

[2019-02-04 16:56] alairock opened #12 "Feature Request: Quick Scale"
I would love to see a quick scale feature, where you can scale a deployment without having to edit the deployment. Like `kubectl scale --replicas x service-name`.

Just a couple features like this, and k9s could replace kubectl for me.

[2019-02-04 17:01] cgetzen commented on #1
You can `k9s -n $NAMESPACE`

[2019-02-04 17:06] prune998 opened #13 "what is ctrl-space supposed to do ?"
ctrl-space goes to `viewing all namespaces`... isn't it supposed to go to a `tools` option ?
also, `?` or `h` is not doing anything.

built from `master` on OSx

[2019-02-04 17:13] michaelkipper commented on #4
Where is this config?

[2019-02-04 17:16] michaelkipper opened #14 "Procedures to fork k9s on GitHub"
This is probably not a `k9s` specific issue, but I'm not sure how to fork the code on GitHub.

With packages using `Gopkg.toml`, I could set up a specific `source` to use my local code without editing all the imports. But I'm not sure how to do with with Go modules.

Thanks!

[2019-02-04 17:19] michaelkipper commented on #14
I tried putting this in `go.mod`:

[code]

The error I'm getting:

[code]

[2019-02-04 17:39] gramidt commented on #7
@derailed Sounds great! I will create a WIP PR and start on it in the next few days. Thanks again for creating and sharing this. Can't wait to use this day to day!

[2019-02-04 21:09] n3wscott commented on #14
git clone your fork in a `go/src/github.com/derailed` directory, not your own dir.

[2019-02-04 23:40] matthewellis commented on #3
@alanquillin I checked the logs and i see the error "time="2019-02-03T16:36:34Z" level=fatal msg="invalid configuration: [context was not found for specified context: kubernetes-admin@kubernetes, cluster has no server defined]"" and this seems be caused by the same issue as @alanquillin experienced where i am using KUBECONFIG with multiple files.

But i think this is a somewhat separate issue to n

[2019-02-05 10:20] Ullaakut opened #16 "Logo needs new glasses"
A small improvement could be made to the logo by making the Kubernetes glasses smoother ✨

<img width="247" alt="screenshot 2019-02-05 at 11 12 18" src="https://user-images.githubusercontent.com/6976628/52266704-57884800-2937-11e9-846f-cb112d99b087.png">

[2019-02-05 10:51] Sgydoo opened #17 "Default Log Location Prevents Multi-User Use"
We like to restrict network access to the kube API, so we have k9s installed on a management server. Unfortunately, due to the location of the log file (/tmp/k9s.log), k9s will only work for the first person who runs it. Subsequent users will receive a permission denied error like this:

[code]

Perhaps the log file should be user-specific? If so, it could either live in the user's home directory

[2019-02-05 13:27] carlossg opened #18 "panic does not display the actual error"
Running `k9s` I just get

[code]

digging a bit the actual error is `terminal entry not found`
I'm using iterm2 and based on some internet search I managed to make it work with `TERM=xterm-256color k9s`

[2019-02-05 14:47] derailed commented on #17
Nice one! Did not foresee this use case. Thank you! Not big on putting logs in the .dot dir. I think for the time being I'll dump it in /tmp/k9s-username.log as you've suggested. Would this be acceptable?

[2019-02-05 14:59] derailed commented on #13
Thank you for reporting back! I think this is related to the namespace issue we are having. To get help currently you'll need to issue ?+<enter> or h+<enter>. In the process of revamping keybinding so this may change in the future.

[2019-02-05 15:05] Sgydoo commented on #17
Fine by me! Whatever works :)

[2019-02-05 16:12] Ziul commented on #6
Maybe some sort of interface as [htop](https://github.com/hishamhm/htop), where you F4 to filter and F6 to a list of paramns to sort would be nice.

[2019-02-05 18:14] sco11morgan commented on #11
👍

[2019-02-05 18:20] spuder opened #19 "Missing ip addresses in external IP"
I run kubernetes with rancher on a local datacenter. I use metalLB for loadbalancing

kubectl shows the ip address of a service managed by [metallb](https://metallb.universe.tf/),

 `kubectl get services --all-namespaces`

[code]

Yet in k9s, it shows the external ip as pending

[code]

[2019-02-06 00:42] derailed commented on #10
Thank you for reporting this @Tarick! Are you ok using $KUBECONFIG. Does this solve your issue?

[2019-02-06 00:52] derailed commented on #3
@matthewellis Thanks for reporting back. I am getting ready to drop a new rev and added fail early measures so we can actually see what's up.

@alanquillin as far as the multi file in KUBECONFIG (I could be wrong here) but I think once you merge multi file and try to see a current context kubectl does not know which file to set the config to. So I think changing context when using this technic mig

[2019-02-06 01:32] derailed commented on #19
Thanks for reporting back @spuder. Sounds like a bug I' ll take a look.

[2019-02-06 01:35] derailed commented on #18
@carlossg - I've added this issue in the README to make sure to check TERM env on nix systems. I'll close for now. If not please re-open. Tx!

[2019-02-06 01:35] #18 closed

[2019-02-06 01:36] derailed commented on #17
Thanks @Ziul! Exactly what was done in 0.1.1. Make sure to run k9s info for log location. Closing as resolved

[2019-02-06 01:36] #17 closed

[2019-02-06 01:37] derailed commented on #16
Thanks Clean it up a bit but not my forte ;(

[2019-02-06 01:37] #16 closed

[2019-02-06 01:38] derailed commented on #14
You should not need to do that replace should work but make sure => path to your filesystem clone.

[2019-02-06 01:38] #14 closed

[2019-02-06 01:39] derailed commented on #13
@prune998 Please try the latest. Think this should be a bit better now.

[2019-02-06 01:39] #13 closed

[2019-02-06 01:41] derailed commented on #7
Please try the latest drop 0.1.1 and see if that's better. Open new issue if not. Tx!!

[2019-02-06 01:41] #7 closed

[2019-02-06 01:43] derailed commented on #6
Added a quick filtering. a bit brute force but should fit the bill short of more time consuming impl. Please try 0.1.1 and report back. Tx!

[2019-02-06 01:43] #6 closed

[2019-02-06 01:46] derailed commented on #4
I've remove the ssh mentions for shell. I don't think I feel canning this in the config would be right tho... I am going to punt for now given
1. Lots of container to support bash hence sh is more generic.
2. Some container don't even offer a sh ie scratch image
3. If the container does have bash. You can easily start one from sh

Sounds Ok?

[2019-02-06 01:49] derailed commented on #8
The latest drop no longer reset the selection. In light of everything else I am going to punt multi select for now. But the main issue should be fixed. Please add another issue for multi-select if you feel that is important (for me I just delete/create the deployment or blow the namespace). Closing for now. Tx!

[2019-02-06 01:49] #8 closed

[2019-02-06 01:50] derailed commented on #5
@OGKevin - try out the latest drop and see if that's what you've expected. Closing for now. Tx!!

[2019-02-06 01:50] #5 closed

[2019-02-06 01:53] derailed commented on #1
Thank you for reporting back. I've just dropped 0.1.1. Please read the changelog should be a much better support now for adhoc namespace via config and namespace view selection. Closing for now!

[2019-02-06 01:53] #1 closed

[2019-02-06 01:59] Ziul commented on #6
Filtering working, but filtering any pod with the letter `q` closes the application 😢 . Or i'm doing something really  wrong.

[2019-02-06 03:23] inductor opened #20 "Supported environment on README?"
It seems that macOS is only supported based on the Makefile so far.
Are you planning to support Linux as well? :)

Also it'd be nice if you have supported environment with go version and necessary libraries if there's any.

[2019-02-06 07:57] matthyx opened #21 "Ask for confirmation before deletion"
Probably it's my particular keyboard, but D and E are so close that sometimes I hit D instead of E when editing a deployment... and there it goes!
Would it be possible to ask for user confirmation before deleting a resource? (could be a config toggle)

[2019-02-06 08:29] pgoodjohn opened #22 "Missing namespaces in selection v. 0.1.1"
K9s 0.1.1 is not allowing selection of namespaces outside of `all`, `default` and `kube-system` which was possible in 0.1.0.

First noticed on a GKE cluster running 1.12.4-gke.6, reproduced on a local minikube instance.

**Reproduce**

Have `minikube`, `kubectl` and `k9s` installed.

[code]

Running

[code]

Returns
[code]

Launching k9s you can only see
[code]

[2019-02-06 08:47] Tarick commented on #10
While I am able to use KUBECONFIG to select different clusters with different config files, the usual workflow assumes keeping all clusters definitions in ~/.kube/config. So having ```--context``` is still preferable.

[2019-02-06 09:31] Yunzlez commented on #22
You need to set them up in the config file (use `k9s info` to view the path) in 1.1.0, like so:

[code]

I did notice that there's only a maximum of 6 displayed, whereas 1.0.0 displayed up to 10. All entries beyond the 6th are not shown, and hotkeys beyond 5 do nothing

[2019-02-06 10:39] jonasholtkamp commented on #22
That's desired behaviour for 1.1.0: https://github.com/derailed/k9s/releases

[2019-02-06 10:39] jonasholtkamp commented on #21
Same for Ctrl+S when trying to switch. I accidentally deleted a context

[2019-02-06 10:41] jonasholtkamp opened #23 "Exception when trying to switch to an already active context"
When trying to switch to an already active context (the one with the trailing star) the application crashes. Most probably because it advices the K8s API to use the star as part of the context name:

[code]

[2019-02-06 12:36] danmassie opened #24 "Feature Request: Support for azure auth provider"
When running against an aks-engine cluster with azure auth integration results in:

`panic: No Auth Provider found for name "azure"`

[2019-02-06 12:59] alanquillin commented on #3
@derailed So I have my KUBECONFIG setup based on the docs https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/#set-the-kubeconfig-environment-variable using multiple file as I described above, and it works great with kubectl.   So my work around currnently is to add everything to my ~/.kube/config file, and you app works great, but that adds an extra step

[2019-02-06 13:04] alanquillin opened #25 "Feature Request: Support for viewing all resources"
Many times when viewing resources, issues with one are underlined by issues in another one.  I constantly find myself using `kubectl get all` first and then drilling down.  It would be nice to have that here.

[2019-02-06 13:07] alanquillin opened #26 "Feature Request: Filter results"
Most of the time I al looking for a specific resource, and since we name ours in such a way, that when using `kubectl`, I can just grep for the resources I need.  For instance `kubectl get all -n my-namespace | grep my-app`.  It would be awesome to be able to filter, and keep that filter as you bounce between resource type views.

[2019-02-06 13:34] faheem-cliqz opened #27 "See previous container logs"
Would be nice to support last container exited logs, usually available through ``kubectl logs <pod_name> -p``

[2019-02-06 14:21] derailed commented on #22
You can nav to the namespace view (ns) and Ctrl-S to select  and switch between namespaces. This will maintain your top 5 namespaces for you based on your behavior.

[2019-02-06 14:24] jonasholtkamp commented on #26
Just type `/[filter term] <return>`

[2019-02-06 14:26] derailed commented on #21
Thanks you for reporting back! I am not a big fan of *are you sure?*
Perhaps a more complicated key sequence for potentially destructive operations would fit that bill?

[2019-02-06 14:28] jonasholtkamp commented on #21
Or at least a keystroke that is located farther away from other combinations 😁

[2019-02-06 14:29] derailed commented on #23
Awesome! Nice catch @jonasholtkamp. Thank you.

[2019-02-06 14:35] alanquillin commented on #26
ok, thanks that helps, is that documented anywhere?  also, how do you clear the filter?  It seems like `<esc>` will clear it...  However, this does not satisfy the second part of the request, and that is, when you change resources, it clears the filter.  Maybe making filter a top level function (like `<ctrl-f>` or something, and then a clear command at the top of how to clear like `<esc> Clear Fil

[2019-02-06 15:32] mmingorance-dh commented on #10
👍
I would love to have --context feature. We also use multiple config files which are set in the env variable.

[2019-02-06 20:41] Jonathan34 commented on #4
what about a new shortcut: CTRL+S for SH and CTRL+SHIFT+S for bash? or the other way around :)
you wont cover all the cases anyway.

[2019-02-06 20:42] Jonathan34 opened #28 "exception while getting hpa"
i do not have the exception anymore but k9s crashed when i filtered on HPA types (Horizontal Pod Autoscaler).

I have removed my hpa but still thought i d report it.
good job on k9s, it makes things easier :)

[2019-02-06 20:43] Jonathan34 commented on #21
CTRL+SHIFT+D Or Delete?

[2019-02-06 20:56] matthyx commented on #21
Delete key, please!

[2019-02-06 23:08] derailed commented on #28
Thanks @Jonathan34 for your kind words! I can't seem to repro this. Guessing some issue with the formatters but no sure. Could you send me a stack if you're able to repro? Tx!!

[2019-02-06 23:16] derailed commented on #27
Agreed! How would you suggest surfacing this behavior in the ui?

[2019-02-06 23:20] derailed commented on #26
Thank you both for piping in! Right the filter currently does not survive resource switches. I do think I've fixed the last issue. Will do a new drop soon 0.1.2 Please circle back then. Tx!!

[2019-02-06 23:22] derailed commented on #25
Thanks @alanquillin for sharing your thoughts! I think I have a good plan for this type of behavior to be implemented soon...

[2019-02-06 23:24] derailed commented on #24
I haven't run against azure yet. Could you share how your telling kubectl to auth against that azk cluster? Tx!

[2019-02-06 23:26] derailed commented on #22
Looks like this was addressed. Please re-open if not.

[2019-02-06 23:26] #22 closed

[2019-02-06 23:27] derailed commented on #21
Thank you all for sharing. Getting ready to drop a new rev. Changed to <delete> key as suggested here. v0.1.2 coming soon...

[2019-02-06 23:54] #23 closed

[2019-02-06 23:55] derailed commented on #19
Think this is fixed in 0.1.2.

[2019-02-06 23:55] #19 closed

[2019-02-07 00:04] Jonathan34 commented on #28
working on 0.1.1

[2019-02-07 00:05] thomasjm opened #29 "Feature request: render ANSI colors in log files"
It would be really slick if `k9s` could interpret ANSI escape sequences and show colors, I find colors make logs easier to read.

[2019-02-07 00:06] thomasjm opened #30 "Feature request: show logs from init containers"
It looks like the log viewer currently only shows logs for the default container--it would be awesome if you could switch to see logs from init containers.

[2019-02-07 00:11] thomasjm opened #31 "Feature request: more ergonomic hotkeys"
Would it be possible to change hotkeys like `CTRL-E` to simply `e`? It would be easier to type.

`CTRL-B` in particular is problematic if you use tmux, since that's the default tmux prefix. It would be awesome if instead of `CTRL-B` you could just type `q` or `ESC` to go back a screen (rather than exit the whole app).

FYI `htop` has nicely designed hotkeys.

[2019-02-07 07:11] derailed commented on #31
Thank you @thomasjm! I agree totally. I've actually started there with one key and then things got complicated. Too much Ctrl- imho.  I think with all the nav issues that folks reported on, we're in a better place to actually go back to single keys. I am in the process of updating the nav so stay tune for the next drop...

[2019-02-07 07:13] derailed commented on #29
We do have color logging. Think I've changed it after the initial drop. Do you have something else in mind?

[2019-02-07 07:16] matthyx opened #32 "Feature request: installation/upgrade via go get -u"
I would like to be able to update to the latest version by just doing:
`go get -u github.com/derailed/k9s`

If I do so today, I get the following errors (ubuntu 18.04 LTS, go version go1.11.5 linux/amd64):
[code]
Thank you for your awesome work!

[2019-02-07 07:18] derailed commented on #3
@alanquillin Thanks for reporting back! You're absolutely correct. There are so many way in K8s to connect to the api server and I think I've found the right incantation this time. Just tried the $KUBECONFIG multi file and I think we're going to be happy on the next drop. Hopefully this will resolve other issues with connectivity too...

[2019-02-07 07:21] matthyx commented on #21
Fixed in 0.1.2
Thanks @derailed !

[2019-02-07 07:21] #21 closed

[2019-02-07 08:35] tsupertramp opened #33 "UX request: Deletion of pods during search"
Hey :)

thanks for your tool! - Love it.

Can I pr to change the key binding of deletion of a pod? - Maybe to CTRL + 'backspace'?

I just search with '/' for pods and then wanted to change the search and immediately pressed 'backspace' which resulted in deletion of the pod. This was unexpected.

Greetings, Thomas

[2019-02-07 09:28] Grzegorz-Abram opened #34 "Problem with finding requested deployments, statefulsets, replicasets"
Hi.
Tool is really awesome!
Unfortunately, I have problems viewing deployments, statefulsets, replicasets and cronjobs.
Other resources works fine - pods, services, ingresses...

![image](https://user-images.githubusercontent.com/1284623/52401685-a1516980-2ac2-11e9-8c69-1b41ec6a0214.png)

[2019-02-07 09:33] Grzegorz-Abram opened #35 "Missing alias for replicationcontrollers"
Replicationcontrollers and some other resources are missing on alias list
![image](https://user-images.githubusercontent.com/1284623/52402118-bb3f7c00-2ac3-11e9-8d3b-23802ac4ca6b.png)

[2019-02-07 09:42] Grzegorz-Abram opened #36 "Problem with switching between resources"
There is a problem with switching between resources from list. It wants to switch to APIGROUP instead of ALIAS.

It occurs when I press 'End' to get end of list, select any resource and press 'Enter'.
When I scroll down by arrow key or PageDown - it works fine

![image](https://user-images.githubusercontent.com/1284623/52402245-1a9d8c00-2ac4-11e9-9ed6-f046cf52612a.png)

[2019-02-07 09:44] ssoerensen opened #37 "Feature request: Add shortcut equivalent to kubectl describe"
It would be awesome if it would be possible to describe a kubernetes object within k9s.

[2019-02-07 09:50] Grzegorz-Abram opened #38 "Problem with modifying filter phrase"
There is a problem with Backspace during filtering - there is no possibility to edit filtering phrase by removing characters. I can only add characters to existing phrase.
Pressing Esc to clear filtering and writting phrase from beginning is sometimes frustrating...
![image](https://user-images.githubusercontent.com/1284623/52402970-e88d2980-2ac5-11e9-9452-b682270cd6c4.png)

[2019-02-07 10:07] matthyx commented on #21
BTW, is it **Delete** or **Backspace**?

[2019-02-07 13:33] Jancis commented on #21
I deleted couple machines because i was trying to delete mistyped characters in filter. I could use some confirmation prompt,.

[2019-02-07 13:43] Jancis commented on #31
i'll oppose - removing `ctrl` might yield unexpected situations, like filtering, especially since deletion does not have confirmation prompt.

[2019-02-07 13:44] Jancis commented on #33
Related: https://github.com/derailed/k9s/issues/21

[2019-02-07 14:31] lfundaro opened #39 "Expand to see containers in pods"
Hi !

I would like to propose an enhancement, unless this is already implemented 🙈.

When browsing pods, I would like to be able to hit <enter> and expand the containers within that pod.

For example:

| Namespace        | Name           | Read....  |
| ------------- |:-------------:| -----:|
| foo      | bar | 2/2 |
|             |     -> container_A  |
|             |     -> container_B  |

what

[2019-02-07 14:45] dmytrob opened #40 "Aliases do not work"
Aliases to switch between resources do not work, i.e. when I type cm or dp or hpa nothing happens although they work over menu Ctrl+A
Terminal Emulator  iTerm2 Build 3.2.7
MacOS Mojave 10.14.2

[2019-02-07 15:18] derailed commented on #40
@dmytrob I've reworked the navigation model a bit. You must now type '>'  then the alias + <enter> to navigate a resource.

[2019-02-07 15:21] derailed commented on #38
Good find @Grzegorz-Abram. Thank you for reporting back!

[2019-02-07 15:51] dmytrob commented on #40
Thanks, that works!

[2019-02-07 15:52] #40 closed

[2019-02-07 17:11] faheem-cliqz commented on #27
May be numbers like <0, 1> you do for ns. Or maybe shortcuts like <ctrl-L, ctrl-P>. I am impartial to any choice :) Again thanks for the awesome tool. Been saving a lot of time for boilerplate stuff :)

[2019-02-07 17:34] danmassie commented on #24
Sure, we are doing this https://docs.giantswarm.io/guides/authenticating-with-microsoft-azure-active-directory/

[2019-02-07 19:06] saschagrunert opened #41 "Rework key mappings"
My proposal would be to stick to vi-style key mappings for navigation and modification. For example for basic up/down movement CTRL-F/B and CTRL-D/U. WDYT?

[2019-02-08 02:52] irlevesque commented on #33
Same thing happened to me. Also, Backspace and Delete are not the same keys.

[2019-02-08 03:21] Jonathan34 commented on #28
here is the stack (sorry for the formatting, it comes like this in the terminal)
[code]

[2019-02-08 09:49] GJKrupa opened #42 "k9s won't start for users who can't query all namespaces even when using -n"
I work with a cluster that uses RBAC to limit non-administrative users to specific namespaces and as such I don't have permission to list all of the available namespaces.  I was hoping that the -n option might allow me to use k9s but even with this option I'm getting the following error on start:

[code]

[2019-02-08 10:34] dzoeteman commented on #33
I think this is because the difference between keyboards on macOS and Linux/Windows.

[2019-02-08 10:35] dzoeteman opened #43 "Feature Request: cronjob trigger"
It would be create to have a Trigger keybinding for cronjobs, much like the Kubernetes Dashboard has.

Also: thanks for this, this is a great tool. We'd love to help with building this out.

[2019-02-08 11:31] developer-guy opened #44 "DELETE KEY !!!!!"
please remove the shortcut key from the backspace key, control + d was better.

[2019-02-08 11:33] yigit-darcin commented on #44
a confirmation would also be ok I guess
'Are you sure you want to delete the whole fucking namespace?'
something like this.

[2019-02-08 11:53] dzoeteman commented on #44
I've changed it at least to the actual delete key. #45

[2019-02-08 15:06] derailed commented on #44
Thanks! Reworking nav at the moment. Will revert to CtrlD.

[2019-02-08 15:08] Jonathan34 commented on #41
the only way to satisfy all users would be to make it configurable :)

[2019-02-08 15:09] derailed commented on #41
Agreed!

[2019-02-08 16:23] nitishm opened #48 "Support filtering in Alias dashboard"
The alias dashboard doesnt support filtering and requires the need to scroll through each entry to find the right resource. This gets harder when you have multiple CRDs and APIGroups (ex. istio).

Would be great to have the `/` option in every dashboard for that matter.

[2019-02-08 16:27] goffinf opened #49 "Syntax Error near unexpected token"
Version: 0.1.2
Platform: RHEL 7.6 (AWS)

Error on start ...

[ec2-user@ip-xx-xx-xxx-xxx~]$ k9s
/usr/local/bin/k9s: line 5: syntax error near unexpected token `]'
/usr/local/bin/k9s: line 5: `  } ]'

[2019-02-08 16:37] nitishm opened #50 "No option to view ClusterRoleBindings"
Cannot view ClusterRoleBindings since it doesnt show the option in the dashboard.

<img width="1650" alt="screen shot 2019-02-08 at 11 37 04 am" src="https://user-images.githubusercontent.com/1494003/52491795-e8f4f580-2b95-11e9-9d3b-bc0990b02228.png">

[2019-02-08 19:35] developer-guy commented on #44
i have already revert it , please look at my pr #47

[2019-02-08 22:03] derailed commented on #50
Thanks for reporting back! I think this is fixed in 0.1.3

[2019-02-08 22:03] #50 closed

[2019-02-08 22:04] derailed commented on #44
Thank you for reporting back. Changed nav in 0.1.3.

[2019-02-08 22:04] #44 closed

[2019-02-08 22:06] derailed commented on #42
I think the issue here is upon loading, K9s tries to load the namespaces. Could it be your user does not have access to list namespaces. This is a must for k9s to load up at this time.

[2019-02-08 22:07] derailed commented on #38
Thanks for reporting back! I think this is fixed in 0.1.3

[2019-02-08 22:07] #38 closed

[2019-02-08 22:07] derailed commented on #36
Thanks for reporting back! I think this is fixed in 0.1.3

[2019-02-08 22:07] #36 closed

[2019-02-08 22:08] derailed commented on #28
Thanks for reporting back! I think this is fixed in 0.1.3

[2019-02-08 22:08] #28 closed

[2019-02-08 22:09] derailed commented on #24
Thanks for reporting this! 0.1.3 now support auth cli opts.

[2019-02-08 22:09] #24 closed

[2019-02-08 22:10] derailed commented on #3
Thanks for reporting back! I think this is fixed in 0.1.3

[2019-02-08 22:10] #3 closed

[2019-02-08 22:11] derailed commented on #42
Please try 0.1.3 and see if we can get pass it. If not please reopen. Tx!

[2019-02-08 22:11] #42 closed

[2019-02-08 22:11] derailed commented on #41
Thanks for reporting back! I think this is fixed in 0.1.3

[2019-02-08 22:11] #41 closed

[2019-02-08 22:11] derailed commented on #35
Thanks for reporting back! I think this is fixed in 0.1.3

[2019-02-08 22:11] #35 closed

[2019-02-08 22:13] derailed commented on #34
Guessing this is related to auth and default user diff between k9s and kubectl. Please try 0.1.3 with the same kubectl user auth options.  Tx!

[2019-02-08 22:13] #34 closed

[2019-02-08 22:14] derailed commented on #33
Thanks for reporting back! I think this is fixed in 0.1.3

[2019-02-08 22:14] #33 closed

[2019-02-08 22:26] derailed commented on #32
Thanks for reporting back. Just tried go get with no issues. Can you try that again and report back?

[2019-02-08 22:26] #32 closed

[2019-02-08 22:27] derailed commented on #31
Thanks! Can you try 0.1.3 and see what you think? Reworked nav hopefully for the better at least for now...

[2019-02-08 22:27] #31 closed

[2019-02-08 22:28] derailed commented on #26
Please try 0.1.3 and report back. Think this is resolved

[2019-02-08 22:28] #26 closed

[2019-02-08 22:29] derailed commented on #11
Please try 0.1.3 should have the same cli args as kubectl for auth. Tx!

[2019-02-08 22:29] #11 closed

[2019-02-08 22:30] derailed commented on #10
Please try 0.1.3. It now support the same cli args as kubectl. Tx!

[2019-02-08 22:30] #10 closed

[2019-02-08 23:31] goffinf commented on #49
Looks like this has gone away in version 0.1.3

[2019-02-08 23:31] #49 closed

[2019-02-09 00:09] goffinf opened #51 "alias not responding"
Version: 0.1.3
Platform: RHEL 7.6 (AWS)

I see this has come up before (#40) and that you had said that it is now necessary to type the > character first. However I still don't seem to be able to get that to work. So that I'm not missing something. Lets say I am looking at services accounts and I want to switch to pods, do I type ...

`>po<return>`

i.e. the character '>' followed by 'po' then the

[2019-02-09 00:59] thomasjm commented on #31
Looking good @derailed !

I would still prefer if `q` does the same thing as `ESC` -- I keep hitting `q` to try to go back a screen and finding myself booted out of the app :)

[2019-02-09 01:13] derailed commented on #51
@goffinf sorry for the confusion! I've changed the command to use ':' vs '>'. Here are the release notes. https://github.com/derailed/k9s/releases/tag/0.1.3 so this should now be :po<enter>

[2019-02-09 01:19] derailed commented on #31
Thank you @thomasjm !! I see what you're saying. Once we're a bit more stable we'll look into customizing all these keys so you can setup your own prefs/aliases.

[2019-02-09 15:25] Slach opened #52 "Ability for view / manage RBAC resources via k9s"
i hope someone implements ability to view / manage RBAC kubernetes kind like a ClusterRole, ClusterRolebinding, Role, RoleBinding

some design principles describe here
https://github.com/kubernetes/dashboard/blob/master/docs/design/access-control.md
and here
https://docs.docker.com/ee/ucp/admin/configure/configure-rbac-kube/

[2019-02-09 17:24] alanquillin commented on #26
@derailed The filter and commands seems to be working great, and displaying it is great!  The only thing that still remains is retaining the filter between resource types.  while this is not the end of the world but would be a really nice to have.  I can create a new issue for that if you want

[2019-02-09 17:41] derailed commented on #26
@alanquillin Thank you for your kind words!

I am not sure about keeping the filter across resources ie if you filter on `crash in pod view it would not make in the service view. Is this what you referring to? If you're really after grouping resources based on names or app perhaps namespacing would make more sense.  Or did I miss your point?

[2019-02-10 16:29] Boran opened #53 "Openshift?"
Hi,

Have you any plans to support openshift, i.e. "oc" as opposed to kubectl commands?

[2019-02-10 18:34] jmreicha opened #54 "Feature request: Different color for newly created resources"
Newly created resources show up in red until they are fully up, is there any way to change this color to indicate it's new resource (yellow maybe)?  This would help differentiate new things from other broken things in the cluster.

[2019-02-10 23:49] derailed commented on #53
Thanks @Boran. I'll add to the list. Will tackle once we stabilize a bit more

[2019-02-10 23:55] derailed commented on #52
@Slach K9s already support these RBAC resources for viewing and deleting. Are you talking about editing the resource?

[2019-02-11 07:17] matthyx commented on #32
Indeed, it works now, thanks!

[2019-02-11 07:27] Slach commented on #52
yes, i talk about creating/editing in some "pretty" view with helpers which can show which resources and verbs available currently

and i talking about view this type resources in grouped "rights matrix table" and
when rows it's a Role, ClusterRole
columns it's a verbs, grouped by resource type

[2019-02-11 09:07] lackerman opened #55 "Bug: Default context cluster name displayed when running with different context"
Firstly, thanks for creating k9s. Although I have had a few issues whilst playing with it, I am very thankful for what you've created.

Steps to reproduce:

1. Use `kubectl` to set your current context, eg:
[code]
2. Start `k9s` with the `--context` flag pointing to the other context, eg:
[code]
3. When the view is initialised the **ClusterName** in the top left will be that of the current kubectl

[2019-02-11 09:14] faheem-cliqz commented on #52
Eventually once everything is stabilized a bit more. It will be awesome to support something like [rbac-lookup](https://github.com/reactiveops/rbac-lookup), which is a kubectl plugin to reverse lookup all permissions that are given to a user, service-account and group name.

[2019-02-11 09:20] GJKrupa commented on #42
No joy unfotunately, I get the same error.  My user doesn't have access to list namespaces (it's a multi-tenant cluster and the people running it don't want tenants to be able to discover each others' namespaces).

[2019-02-11 12:27] Slach commented on #52
ok ;) i hope it will be nice feature

[2019-02-11 18:34] sco11morgan commented on #11
I'm now able to auth with kubectl then use k9s.  Thanks!

[2019-02-12 07:32] Grzegorz-Abram commented on #34
0.1.3 still has problems with:
- CronJobs
- Deployments
- ReplicaSets
- StatefulSets

eg.
![image](https://user-images.githubusercontent.com/1284623/52618953-97ec4680-2ea0-11e9-87f0-0daa3ef58c84.png)

[2019-02-12 07:35] Grzegorz-Abram opened #56 "Problem with finding requested deployments, cronjobs, statefulsets, replicasets"
0.1.3 still has problems with displaying:
- CronJobs
- Deployments
- ReplicaSets
- StatefulSets

eg.
![image](https://user-images.githubusercontent.com/1284623/52619403-d5050880-2ea1-11e9-8bf7-d2eb5221d942.png)

[2019-02-12 07:36] Grzegorz-Abram commented on #56
#34

[2019-02-12 09:38] kivagant-ba commented on #51
Please, update Readme. This is confusing.

[2019-02-12 10:04] com30n opened #57 "Problem with switching beetwen contexts"
I have many contexts in my `~/.kube/config` and when I try to switch the context to a cluster where I'm not an admin (and where I have access to only one namespace) I get this message:

[code]

[2019-02-12 10:09] com30n commented on #57
So, the next time you try to run k8s, you'll get this message:
[code]
And to fix this, you should use `kubectl config use-context another_one_context`

[2019-02-12 12:59] derailed commented on #56
Thanks @Grzegorz-Abram  for report this! How did you launch k9s?

[2019-02-12 13:00] derailed commented on #51
Agreed! Thanks for reporting this. My bad, spaced the README. Fixed now!

[2019-02-12 13:00] #51 closed

[2019-02-12 13:23] rexroof opened #59 "can I sort on column?"
I would like to order the current view by CPU or Memory usage, is there a way to do that?

I see issue #6 from last week, but I don't see a mention of how it was implemented and what keys to use.

this tool looks like it is off to a great start!  maybe it should be called ktop ;)

[2019-02-12 14:12] Grzegorz-Abram commented on #56
just by
`k9s`

whole kubectl configuration is in `~/.kube/config` file

I have problems ONLY with CronJobs, Deployments, ReplicaSets, StatefulSets.
Filtering for pods, namespaces etc. etc. etc works fine. All resources are visible in application.

![image](https://user-images.githubusercontent.com/1284623/52641197-9474b180-2ed8-11e9-84cc-6947064a1a3b.png)
![image](https://user-images.githubusercon

[2019-02-12 15:49] derailed commented on #56
You need to call k9s using —user user-dev otherwise your default user does
not have enough k8s fu. Makes sense?

On Tue, Feb 12, 2019 at 7:12 AM Grzegorz Abram <notifications@github.com>
wrote:

[2019-02-12 16:09] derailed commented on #59
Kind of you to say @rexroof. Thank you!
Don't have this backed in just yet but some folks have been asking so will make it happen soon...

[2019-02-12 16:38] Grzegorz-Abram commented on #56
Unfortunately - no.

My ~/.kube/config looks similar to that:
`
current-context: dev
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: https://xxxxxxxx
  name: dev-cluster
users:
- name: dev-user
  user:
    password: xxxxxxxx
    username: xxxxxxxx
contexts:
- context:
    cluster: dev-cluster
    user: dev-user
  name: dev
`

k9s is correctly reading my K8s config file.
Switchi

[2019-02-12 16:51] Grzegorz-Abram opened #60 "--cluster option corrupts ~/.kube/config"
Starting k9s by command
`k9s --cluster dev-cluster`
modifies and corrupts my `~/.kube/config` file

![image](https://user-images.githubusercontent.com/1284623/52652694-e1fc1900-2eee-11e9-8236-54a19bfe9ede.png)

[2019-02-12 16:56] Grzegorz-Abram commented on #60
After that unplanned modification of kubeconfig even plain kubectl doesn't work
![image](https://user-images.githubusercontent.com/1284623/52653089-8bdba580-2eef-11e9-80cc-87fd57a788db.png)

[2019-02-13 02:21] derailed commented on #60
I see that's a bug. I'll fix. Thanks @Grzegorz-Abram!

[2019-02-13 08:07] com30n opened #61 "Feature request: customizable keys"
Hello!

I use k9s a lot. And I have a mac with a touchbar (as you maybe know, touchbar is not the most user-friendly interface to enter some keys, like <ESC>) so, much more convenient in that case using 'q' as <ESC> and <ESC> (or just vim-like ":q") to the exit from k9s.

So my feature request is customizable main hot keys (or all keys): like I would like to swap <esc> and 'q'.

[2019-02-13 16:31] com30n opened #63 "Problem with Segfault"
This is the message I received when I returned to my laptop after a short absence:

[code]

[2019-02-14 10:27] com30n opened #64 "Bug: panic while browsing the logs"
Hello!

I found panic when I was viewing logs in the container.

How to repeat:
1. Enter the log view mode (press <l>).)
2. Press to <?>
3. Press to <ESC>
4. Get panic

[code]

[2019-02-14 13:45] pappnase99 opened #65 "Windows error 'System cannot find the path specified'"
I'm using the k9s_0.1.3_Windows_x86_64.tar.gz binary, and i cannot get this to work on Windows 10. There's an error saying:

[code]

I'm logged in as a Windows AD Domain User, and there seems to be some issue with k9s not being able to write its logfile into the Temp folder of my User profile.

[2019-02-15 15:37] nic-hima opened #66 "'k9s config' results in go panic"
While installing k9s via the install instructions on the README it specifies to run the command `k9s config`. This results in a go panic. Currently running version 0.1.3 of k9s and was installed via the `brew` commands also laid out in the README. Looking through your code, this command doesn't even seem to be mapped yet.

**Thank you** for coming up with such a useful tool, and hope to see this g

[2019-02-17 04:08] searsaw commented on #66
Can confirm this. Also when running `k9s -h`, the config command doesn't show up.

[2019-02-17 05:15] derailed commented on #66
Thanks @nic-hima for reporting this! I've corrected the README. My bad! Sorry for the confusion.

[code]

[2019-02-17 05:15] #66 closed

[2019-02-17 05:20] derailed commented on #64
Thank you @com30n!! Great find. I'll fix on the next drop.

[2019-02-17 18:29] derailed commented on #65
Thank your for reporting this @pappnase99! I will fix this on the next drop.

[2019-02-18 17:46] paivagustavo opened #67 "Resource limits and requests values are missing"
When i try to `view` a pod, the resource object is missing the value, only the 'format' is displayed as you can seen on the screenshot below.

![image](https://user-images.githubusercontent.com/7898464/52968231-5588a500-338b-11e9-94a6-c7582e4a8bf1.png)

[2019-02-19 05:02] derailed commented on #67
Great find! Tx for the report @paivagustavo!!

[2019-02-19 05:57] #20 closed

[2019-02-19 06:26] derailed commented on #67
Thanks! Fixed 0.1.4

[2019-02-19 06:26] #67 closed

[2019-02-19 06:28] derailed commented on #65
Think this is fixed in 0.1.4

[2019-02-19 06:28] #65 closed

[2019-02-19 06:28] derailed commented on #64
Thanks! Fixed 0.1.4

[2019-02-19 06:28] #64 closed

[2019-02-19 06:29] derailed commented on #63
Thanks! Fixed 0.1.4

[2019-02-19 06:29] #63 closed

[2019-02-19 06:31] derailed commented on #60
Thanks! Fixed 0.1.4. K9s no longer modifies kubeconfig. Sorry for the mess!

[2019-02-19 06:31] #60 closed

[2019-02-19 06:33] derailed commented on #57
I think this is fixed in 0.1.4. If not please reopen. Tx!

[2019-02-19 06:33] #57 closed

[2019-02-19 06:34] derailed commented on #56
Thanks! Fixed 0.1.4

[2019-02-19 06:34] #56 closed

[2019-02-19 06:35] derailed commented on #55
Thanks for the kind words @lackerman. I think this is fixed in 0.1.4. If not please reopen. Tx!!

[2019-02-19 06:35] #55 closed

[2019-02-19 07:07] derailed commented on #54
Tx for the PR! Fixed 0.1.5.

[2019-02-19 07:07] #54 closed

[2019-02-19 10:49] faheem-cliqz commented on #27
Just to add on top of this. Logs from completed / errored out cronjobs doesn't seem to work.

[2019-02-19 15:19] pappnase99 commented on #65
Looking good now.

[2019-02-20 02:00] derailed commented on #43
Added in 0.1.6. Tx for the PR @dzoeteman!!

[2019-02-20 02:00] #43 closed

[2019-02-20 02:00] derailed commented on #37
Thanks for the report @ssoerensen! Added in 0.1.6

[2019-02-20 02:00] #37 closed

[2019-02-20 07:19] brentco opened #69 "Feature request: port forwarding"
It would be great to be able to port forward using k9s just as you would with kubectl. In my environment I use it for remote debugging, among other things.

A simple choice of pod and port (and maybe customizable presets?) would do!

[2019-02-20 14:07] Funcan opened #70 "Helm status"
Hi

Would you consider add or accepting helm chart support? It would be useful to be able to list all of the charts running and be able to drill into them.

I took a quick look at implementing it, but it involves connecting to a service via a port forward, and I'm struggling to get neat code for that; pointers welcomed

[2019-02-20 14:21] derailed commented on #70
Thanks @Funcan! I think that's a great idea. Are you thinking connecting to tiller and thus the port-forward or something else?

[2019-02-20 14:24] Funcan commented on #70
Yes, I'm thinking you'd have to connect to tiller via a portforward - I don't see another way of doing it - forking an external helm client command maybe, but that's rather hideous.

[2019-02-20 15:39] derailed commented on #70
@Funcan so I am totally up to snuff here, but I think helm 3 is going to get ride of tiller. I think they're going to leverage CRDs to handle the state. So perhaps, we will be able to leverage the same mechanisms that K9s has to figure out chart state??

[2019-02-20 15:58] Funcan commented on #70
I admit I'm not following helm development at all - I just use it, and not even a particularly recent version. I'll go do some reading - if CRD based helm is coming soon, that would be useful for me for a whole number of reasons

[2019-02-20 16:08] fentas opened #71 "get nodes not working"
Heyho,
if I try to list k8s nodes it will fail.
`:no` or `:Nodes` results in
[code]
but the columns are there ( with `Nodes(0)` )

`kubectl get nodes` works without probs.

Thanks for the hard work. :+1:

---
using master branch

[2019-02-20 16:25] derailed commented on #71
Yikes not good... Tx for reporting this!
Which K9s and K8s versions are you running?

K9s currently assumes metric server/heapster is running to collect cluster metrics. Are these enabled on your cluster?

I've verified the behavior with metrics off and it should still show the resource regardless of metrics being available. So this is a bug. I'll fix this on the next drop but in the meantime can

[2019-02-20 16:51] ianthpun opened #72 "Logs are clipping if they are too long"
hi!

Loving the tool so far. However, I noticed that logs don't wrap if they are too long in the `logs` page. Unfortunately, most of my logs that I am interested in are very long, so I end up losing information.

[2019-02-20 19:16] fentas commented on #71
There is no metric servicer currently - I will try with one later on.
For the rest.
**k9s**: latest master branch (`Version:dev GitCommit:dev On n/a`)
**k8s**: v1.12.3 (`GitCommit:"435f92c719f279a3a67808c80521ea17d5715c66"`)

[2019-02-20 19:53] derailed commented on #72
Tx @ianthpun! You mean the log lines are wider for the display window? If so did you try the left/right arrow keys or h,l? Not sure what too long actually means and if so can you send a sample log.

[2019-02-20 20:48] fhemberger opened #73 "Feature request: Search/highlight text in view/describe/logs"
It would be cool if I could search for a specific term when viewing/describing resources or reading the logs.

[2019-02-21 01:15] derailed commented on #71
Tx for reporting back @fentas! This is an issue right now as K9s expects a metric server to be running on the cluster.

[2019-02-21 14:02] fentas commented on #71
**update**
I provisioned up another k8s cluster with `metrics-server`. No problem at all.
Seems only an issue without `metrics-server` as you said.

[2019-02-21 14:35] derailed commented on #71
Thank you for reporting back @fentas! Glad to hear you're back up and working. It's still a bug as K9s should still display the resource when metrics are not available. I'll fix on the next drop...

[2019-02-21 16:40] derailed commented on #73
@fhemberger Thank you! It's in the plan.

[2019-02-22 04:48] ghostsquad commented on #61
Also, `ctrl-d` means delete in some views, however that's a common combination for scrolling down. It would be great to make that less likely to occur.

[2019-02-22 12:13] tonsV2 opened #76 "Just exits silently"
I'm having some trouble running k9s. Basically "k9s -r 2" just exits silently or with a stack trace.

Below is the output of some of the commands I've tried to run. Any clues about what I'm doing wrong?

[code]

[code]

[code]

[code]

[2019-02-22 12:44] fentas opened #77 "Can't delete previously selected namespaces"
If namespaces were selected before they get an `+` appendix. Also if namespace is used right now it gets `+(*)`. This is not bad per se. But If I want delete one of those it's impossible because:

[code]

**k8s** `v1.13.3`
**k9s** latest master

[2019-02-22 16:56] tonsV2 commented on #76
My bad I had an old (non working) version in my downloads folder which I downloaded ages ago and accidentally used.

[2019-02-22 16:56] #76 closed

[2019-02-22 17:52] derailed commented on #77
Thank you the report @fentas. Great find! I'll fix on the next drop.

[2019-02-22 17:57] derailed commented on #39
Thanks for the report @lfundaro! I think it could be useful but what else would you show? Isn't it  a functionality we currently have by just viewing or describing the pod?

[2019-02-23 01:13] derailed commented on #77
Fixed 0.1.7!

[2019-02-23 01:13] #77 closed

[2019-02-23 01:13] derailed commented on #73
Fixed 0.1.7!

[2019-02-23 01:14] derailed commented on #71
Fixed 0.1.7!

[2019-02-23 01:14] #71 closed

[2019-02-23 01:14] derailed commented on #48
Fixed 0.1.7!

[2019-02-23 01:14] #48 closed

[2019-02-23 01:14] derailed commented on #30
Fixed 0.1.7!

[2019-02-23 01:14] #30 closed

[2019-02-24 08:24] swe-covis opened #79 "crash after exiting remote shell"
As of v0.1.7 k9s becomes irresponsive after exiting a remote shell to a pod, v0.1.6 works as expected.
![image](https://user-images.githubusercontent.com/19486627/53296937-e7723100-3815-11e9-94e2-30b506221c66.png)

[2019-02-25 07:32] dannyyy opened #80 "Crashes if executing in `cmder`"
I tried to execute `k9s` on Windows with the very popular `cmder` shell.
The following error occured:
[code]

[2019-02-26 03:53] derailed commented on #79
Thank you for reporting this @swe-covis!

[2019-02-26 05:25] derailed commented on #79
Fixed in 0.1.8.

[2019-02-26 05:25] #79 closed

[2019-02-26 05:26] derailed commented on #72
Closing for lack of feedback.

[2019-02-26 05:26] #72 closed

[2019-02-26 08:50] swe-covis commented on #79
Thanks for fixing this that fast - and for k9s.
Really great job! :-)

[2019-02-26 11:08] dodalovic opened #81 "panic: runtime error: index out of range [recovered]"
Latest macos, k9s version 0.1.8

[code]

[2019-02-26 11:09] dodalovic commented on #81
Happened during watching logs of some pod

[2019-02-26 12:30] Grzegorz-Abram opened #82 "Problem with finding requested deployments, cronjobs, statefulsets, replicasets"
Unfortunately issue was never fixed. I still can't view:
* CronJobs
* Deployments
* ReplicaSets
* StatefulSets

![image](https://user-images.githubusercontent.com/1284623/53412613-1df0ad00-39ca-11e9-9aff-49e572c0ee54.png)

[2019-02-26 12:47] Grzegorz-Abram opened #83 "Problem with '?' aka 'Show all command aliases' command"
1 - there is no possibility to exit from 'Show all command aliases' screen - ESC doesn't work. It only refreshes screen with RANDOM order of aliases
2 - pressing '?' on 'Show all command aliases' also refreshes screen with RANDOM order of aliases
3 - EVERY displaying of 'Show all command aliases' screen RANDOMIZES order of aliases. It's extremely annoying...

To simplify using of k9s tool it would

[2019-02-26 13:53] jagdeepgithub opened #84 "Not able to impersonate as user or as group"
I would like to impersonate either a user or group using `--as` or `--as-group`.

This use to work until version 0.1.3. Since 0.1.4, this is broken.

[2019-02-26 15:27] derailed commented on #82
Rats! I thought I'd fixed this for sure... Tx for reporting back @Grzegorz-Abram!
I think the problem here is the K8s version and the api calls to the server ie K9s only support newer rev of K8s 1.9+, I see here you're are using 1.5 which I think used different api versions ie apps/v1/deployment vs apps/v1{alpha,beta}/deployment, hence the error.

[2019-02-26 15:36] derailed commented on #84
Thanks for reporting this @jagdeepgithub! Fixed 0.1.9.

[2019-02-26 15:36] #84 closed

[2019-02-26 15:37] derailed commented on #83
Great find @Grzegorz-Abram! Fixed 0.1.9

[2019-02-26 15:37] #83 closed

[2019-02-26 15:40] derailed commented on #80
Need help on this, if there are any windows folks tuning in. I think there might be an issue on how cmder set TERM env, but don't have access/knowledge on windows to further assist.

[2019-02-26 19:55] swe-covis commented on #79
Unfortunately the issue is still present in v0.1.8 and 0.1.9.
When closing a remote shell, k9s becomes active again and breaks as shown in the screenshot above.
To exit I have to close the shell in which I opened k9s as Ctrl+C doesn't have any effect.

Tested both on Ubuntu 18.04 and macOS, both while running zsh and bash.

[2019-02-26 23:52] chicken231 opened #85 "Can only see logs for initContainers (when present), not containers"
I have a Deployment that has `spec.initContainers` and `spec.containers`.

I noticed today that once a pod is done initializing, the logs displayed when typing `l` when the pod has focus, it only shows the logs for the `initContainer`. If I kill `k9s` and restart it, I still can't see the logs of the running container.

`k9s` version:

[code]

[2019-02-27 04:29] madushan1000 commented on #81
same happens in windows 10 wsl(ubuntu 18.04).

[2019-02-27 15:08] tomerf opened #86 "Make header row fixed when scrolling"
I have a lot of pods in my cluster when when I scroll the list the header row (NAME, READY, STATUS, ...) is hidden.
It would be more convenient if this row was be shown all the time.
Even better, if this row could not even be selected as the commands are meaningless when it is.

[2019-02-27 16:30] aslafy-z opened #87 "Too destructive CTRL-d"
Deleting a resource without warning might need one more key press to ensure it haven't been issued by error.

I just downloaded the last version of k9s and was used to prefix keys with CTRL. After I seen `<d> describe` and pressed CTRL-d by error it deleted the resource I wanted to describe straight away, luckily, it wasn't on a prod cluster.

To avoid this kind of problem I propose to transform t

[2019-02-27 16:45] aslafy-z opened #88 "List resources from all namespaces"
In a earlier version, the default view was to show resources for all namespaces, it was pretty useful to get an overview of the cluster state.

I'm unable to find a way to get the `all-namespaces` view, when I don't specify `-n` in the command line it lists resources from `default` instead of all. Am I missing something?

Thanks

[2019-02-27 16:52] aslafy-z opened #89 "Unable to switch between resource type"
In a earlier version, I was switching from one resource type to another using the resources aliases. Now it seems the UI doesn't care about what I actually type (without being in filter mode), and thus does not move to the resource I want.

The only way I found for switching resource using keyboard is:
- press `?` to open help
- press `/` to enable filter mode
- type resource alias
- enter
- scrol

[2019-02-27 16:57] aslafy-z opened #90 "Arrow-up on first item: go to end"
Resources would be easier to navigate into if we could go to the end of the list by clicking arrow up when the first row is selected.

This might be easy to fix and would save lot of our little time.

https://github.com/rivo/tview provides methods to scroll to end & top, this feature might be integrated on their side preferably, WDYT?

[2019-02-27 17:13] aslafy-z commented on #86
It would be even more convenient it the header row wasn't selectable, or wasn't part of the scrollable grid itself so it would stay ahead of the list.

This also apply to filter mode where it's so annoying to have this header line in the middle of the results.

[2019-02-27 17:17] aslafy-z opened #91 "Search while typing"
It would be awesome if we'd be able to see the list filtering in realtime while typing in the filter field.
Is there anything preventing this behavior? From what I seen it looks the filter is done locally so It shouldn't take long time right?

[2019-02-27 17:23] tomerf commented on #86
That's what I said :)
If it's not too complicated to have it outside of the scrollable area.
Just need to make sure the column sizes are staying the same, I noticed the size can change if I scroll and then there's a pod with a very long name.

[2019-02-27 19:20] sam-kamerer opened #92 "Bug: panic when running binary without flags"
Version:0.1.9 GitCommit:1d0c9e3bb3dcfd42b28a827049d93a9e1e76121b On 2019-02-26T15:32:08Z

[code]

[2019-02-28 03:56] derailed commented on #89
Tx for the report @aslafy-z. You can now use :<alias><enter> to nav to your resource of choice ie :po<enter> to list pods.

[2019-02-28 03:56] #89 closed

[2019-02-28 03:58] derailed commented on #88
The behavior is still there but no longer the default. You can now nav to the namespace resource ie :ns<enter> and select use 'all' to add it to your fav ns list.

[2019-02-28 03:58] #88 closed

[2019-02-28 04:48] derailed commented on #85
@chicken231 can you add more context? I am not sure I see the issue here. I am trying to repro this using a deployment that has 2 containers: i1(init) and c1(container). In the logs window menu I do see the 2 containers listed in the option menu on top as expected ie 1) I1 and 2)c1 hitting either 1 or 2 shows the corresponding logs.

[2019-02-28 05:13] mitchellmaler commented on #59
Another column to order on would be when I am watching pods and I want to see the crashing ones up top so I know to look at those first. (say if I am on the all view)

[2019-02-28 07:37] swe-covis commented on #79
Still present in 0.1.10

[2019-02-28 07:40] swe-covis opened #93 "crash after exiting remote shell"
Unfortunately the issue #79 is still present in all versions after v0.1.6, today tested with 0.1.10:
![image](https://user-images.githubusercontent.com/19486627/53549423-69bf6580-3b34-11e9-90b2-a4e45daf5aa3.png)

When closing a remote shell, k9s becomes active again and breaks as shown in the screenshot above.
To exit I have to close the shell (force exit terminal) in which I opened k9s as Ctrl+C

[2019-02-28 11:22] zvictor opened #94 "namespaces not being listed"
first of all, thanks for the great work with k9s! it's an awesome tool! 🎉

I have been using it for a few weeks, but I noticed that one of the features I most liked on it stoped working on my machine. I used to go to the pods view and, by pressing numbers, switch from one namespace to another. This feature unfortunately seems to be unavailable now, as the list of namespaces on the top right simply

[2019-02-28 15:03] derailed commented on #94
Thanks @zvictor for reporting this and sorry for the confusion. On the bright side the feature is still there but no longer there by default. The issue was some folks reported not having enough fu to see some namespaces hence you only get to see the *default* ns. You can either nav to the namespaces view (:ns<enter>) and select + enter 'u' to use your favorite namespaces or hand edit .k9s/config.y

[2019-02-28 15:08] derailed commented on #93
Thanks for reporting back @swe-covis! Rats!! on my box this behavior is inconsistent and olny seems to trigger once my visual bell is tripped. I had updated the ui toolkit in 0.1.8 and think seems to have gone worth from there. I'll give it another shot and see if I can figure out this locking issue if not may have to revert to a previous rev of the toolkit as it did not appear to be present then.

[2019-02-28 15:08] derailed commented on #92
Fixed 0.1.10!

[2019-02-28 15:08] #92 closed

[2019-02-28 15:12] derailed commented on #81
Tx @dodalovic! Could you send more info, can seem to repro here at the ranch? A sample of the actual pod logs might help me track it down.

[2019-02-28 15:13] #94 closed

[2019-02-28 15:45] aslafy-z commented on #88
I'd vote for keeping showing resources from all namespaces instead of the `default` one default in k9s, and keep it listed in the used namespaces. Any chance you can make this happen?
I think it's a better default as it keeps things explicit and shows a brief overview of the cluster by just running `k9s`.
WDYT?

[2019-02-28 15:49] slayer opened #95 "Crash on ClusterIssuer"
![image](https://user-images.githubusercontent.com/57521/53578839-1de6dd80-3b81-11e9-8203-0308cc14c305.png)

k9s version
Version:0.1.6 GitCommit:9253a3765467c1b489e971e5134e68d378ac1866 On 2019-02-20T01:55:02Z

[2019-02-28 16:21] mcastilho commented on #93
It's happening to me pretty consistently now too.

[2019-02-28 16:26] chicken231 commented on #85
@derailed You're right. I didn't realize that I could toggle between either container when viewing the logs for the Pod. It seems a little counter-intuitive to show logs for the `initContainer` by default when it's no longer running, but I can understand arguments either way.

Mentioning this functionality in the README may help others not make the same mistake I did.

This non-issue can be closed

[2019-02-28 17:09] swe-covis commented on #93
The first time I encountered this was after updating to 0.1.7.
Just checked if it's related to the patched fonts I'm using but it seems not (switched back to a standard system font but it still crashes).
The behaviour reminds me of circular references somehow but that's just guessing around...

[2019-02-28 17:33] aslafy-z opened #96 "Recover shell on crash"
There should be some sort of mecanism to recover the shell when k9s crashes

Related:
- https://github.com/rivo/tview/issues/166
- https://github.com/mitchellh/panicwrap

[2019-02-28 18:52] dodalovic commented on #81
@derailed There's nothing so specific, apart from the part that our log lines are quite lengthy

[2019-02-28 19:30] derailed commented on #95
Great find! Thank you for the report @slayer!

[2019-02-28 21:34] fentas opened #97 "Logs issues (format and incomplete)"
**k8s** v1.13.3
**k9s** lastest master - dev

---

Example logs from `mariadb`.
### How it should be
![image](https://user-images.githubusercontent.com/405182/53599961-a9c03000-3ba8-11e9-9902-277daa4ef22d.png)

### Here is it how it is shown
![image](https://user-images.githubusercontent.com/405182/53599869-80070900-3ba8-11e9-8e0d-1e1ee30ac78c.png)

### How it is when copied
[code]

---

- Informa

[2019-03-01 01:04] mitchellmaler opened #98 "Feature: Pod View with Node Name"
Is it possible to add the Node Name to the pod view along with the Node IP?
Right now It just shows the ip but we do keep track of our nodes by zones and that is in their names.

[2019-03-01 06:02] derailed commented on #97
Thanks for the report @fentas Other folks had mentioned the issue with colors. I'll revamp the view soon. What bothered me most was the loss of info in the logs which should not happen. I think I've fixed this in the next drop. So they'll still be ugly but should no longer be truncated. Lmk if that's is not the case. Tx!

[2019-03-01 06:04] derailed commented on #95
Fixed in 0.1.11!

[2019-03-01 06:04] #95 closed

[2019-03-01 06:05] derailed commented on #96
Fixed 0.1.11!

[2019-03-01 06:05] #96 closed

[2019-03-01 06:06] derailed commented on #81
Thank you @dodalovic! Tried a few wide logs and can't seem to repro. Turning on wrapping on the next drop, please lmk if better or worst. Tx!! Please checkout 0.1.11 and reopen if we're not happy.

[2019-03-01 06:06] #81 closed

[2019-03-01 06:08] derailed commented on #93
Woosh! That was not a fun issue to track down ;( I think I've figured it out, but please help me verify.
Thank you @swe-covis and @mcastilho for reporting back!! Keeping my fingered crossed...

[2019-03-01 06:08] #93 closed

[2019-03-01 06:38] swe-covis commented on #93
@derailed: Verified it's solved with 0.1.11 for me on macOS.
Thanks a lot! :-)

[2019-03-01 06:39] swe-covis commented on #79
Solved in 0.1.11 - please see #93

[2019-03-01 07:00] eugenekainara commented on #93
Yeah, it also solved issue for me :) Good job! Thx!

[2019-03-01 07:21] dodalovic opened #99 "Version:0.1.11 : runtime error: index out of range"
Latest MacOS, latest `k9s`. Just tried to view pod logs, and got:

[code]
Thanks for great tool

[2019-03-01 10:27] topochan opened #100 "namespace change when user change the type of resource"
Hi first of all thanks for this amazing tool.
The Issue:

Use one namespace different than the one in your current context, switch the type of resource and will show resources form the default namespace.

version 1.11

[2019-03-01 15:18] derailed commented on #93
So happy to hear this. Thank you both for the verification and your kind words!

[2019-03-01 17:57] #85 closed

[2019-03-01 17:59] derailed commented on #85
@chicken231 In the next drop, I've changed the ordering of pods so that container logs will show first vs init containers per your comment. Tx!!

[2019-03-01 21:23] derailed commented on #100
@topochan Thank you for your kind words and great find!!
I'll fix on the next drop but keep in mind that changing ns will only be pertain to the current K9s session. If a default namespace is set in the current context, K9s will default to that on relaunch.
Thank you for the report!

[2019-03-01 21:33] derailed commented on #100
Fixed 0.2.0!

[2019-03-01 21:33] #100 closed

[2019-03-01 21:33] derailed commented on #99
Fixed 0.2.0!

[2019-03-01 21:33] #99 closed

[2019-03-01 21:33] derailed commented on #97
Fixed 0.2.0!

[2019-03-01 21:33] #97 closed

[2019-03-01 21:34] derailed commented on #29
Fixed 0.2.0!

[2019-03-01 22:00] jmreicha commented on #54
@derailed Doesn't look like the PR for this one was ever merged?

[2019-03-02 09:49] dodalovic opened #102 "Can't view logs anymore"
Latest mac, latest k9s.
When trying to view pod logs I can see
[code]

printed at the bottom

[2019-03-02 17:25] derailed commented on #102
@dodalovic can you provide more info? ie run k9s -l debug and paste the k9s logs? Tx!

[2019-03-02 17:54] dodalovic commented on #102
➜ k9s -l debug
Error from server (NotFound): pods "user-profile-76dfb76599-6h6tf" not found

➜ kubectl get pod
NAME                                                    READY   STATUS    RESTARTS   AGE
user-profile-76dfb76599-6h6tf                           1/1     Running   0          3h14m

[2019-03-02 17:56] dodalovic commented on #102
@derailed Where are k9s logs stored?

[2019-03-02 20:28] mrballcb commented on #39
I too feel this would be useful if can get the same type of behavior as `kubectl top pods --containers`.  For example:
[code]
It becomes very clear in multi container pods which container is actually consuming memory or cpu.  However, I'll note that there doesn't appear to be an easy way to get this info directly from `kubectl get pods` either (at least in kubectl 1.10.x), so it's probably a prett

[2019-03-02 20:45] mrballcb opened #103 "When viewing multi-page lists, make Space bar advance one page"
With a full 104 key keyboard, pressing PgUp/PgDn/Home/End makes the appropriate action on a multi-page list of items, for example when there are a lot of pods in a namespace.  On a smaller keyboard typical of a laptop, there may or may not be a direct mapping of those functions.  Typically in more and less, you can press the space bar to advance down the list a page at a time.

Feature Request: Wo

[2019-03-02 20:49] derailed commented on #102
@dodalovic I am confused? Are you saying k9s -l debug yields this error right of the bat? or does the app actually comes up put no pods are listed?

For the logs location run: k9s info

Tx! Hope we can get this resolved soon...

[2019-03-02 21:49] dodalovic commented on #102
App comes up. Then I find my pode, press `L` for logs, then nothing....

logs:

[code]

[2019-03-02 21:50] dodalovic commented on #102
@derailed I can see logs normally using `kubectl logs`

[2019-03-02 21:51] mrballcb commented on #102
It's happening to me too on occasion.  I have several contexts defined, and multiple namespaces.  Most of the time it shows logs for pods running in the various namespaces with no issues.  But sometimes, I cannot view logs for pods, and it *seems* like it's usually pods running in one namespace named "dev".  I can view any pod that I try to in other namespaces (so far haven't found any that don't

[2019-03-02 23:12] derailed commented on #102
Thanks for reporting back!

Is pod (business-reporting-ui-75b57f8959-j6cpd) actually running or is it in an error state?

Does this command returns right away?
[code]

[2019-03-03 03:07] derailed commented on #4
Added bash support. The runtime will try bash first if not successful will use sh. Same shortcut. Please see 0.2.1. Tx!!

[2019-03-03 03:07] #4 closed

[2019-03-03 03:11] derailed commented on #91
Tx @aslafy-z! Added live filtering support see 0.2.1

[2019-03-03 03:11] #91 closed

[2019-03-03 04:25] thomasjm commented on #29
@derailed this should be re-opened right? Looks like it was attempted in 0.2.0 and reverted in 0.2.1.

[2019-03-03 05:54] derailed commented on #29
Right! Thanks @thomasjm.

[2019-03-03 07:36] dodalovic commented on #102
Yes - I get logs immediately via `kubectl logs` :(

[2019-03-03 07:43] dodalovic commented on #102
Just updated to 0.2.1, and again random error when trying to view logs

[code]

[2019-03-03 14:55] mrballcb commented on #102
The 0.2.1 release has stabilized log viewing for me.  I no longer have issues with viewing logs on any pod I have selected across any of my clusters, and it doesn't matter if I use whatever the last context was, or if I change it in the current session: viewing logs always works for me now.

[2019-03-03 15:09] mrballcb commented on #4
This seems to have the same problem that viewing logs had before the 0.2.1 release.  Here are my debug-level logs when I try to shell to a host, with some obfuscation for the api host:
[code]
In my case, this is probably the configuration that's causing the above commands to fail:
[code]
Since you made the adjustment that you no longer modify the "current-context" setting in ~/.kube/config, you ne

[2019-03-03 17:12] derailed commented on #102
@dodalovic I need more info. I can't repro this.

- Which k8s version are you running?
- I assume you can view logs on any other pods but this one. Is this true?
- I need a sample of this pod logs. You can email directly if don't want to post here.
- Your report says 20sec?? It took 20s between pressing <l> and seeing this error? ie the log view shows no content  prior to that?
- Or the logs view

[2019-03-03 17:13] derailed commented on #102
Tx for reporting back @mrballcb!

[2019-03-03 17:55] dodalovic commented on #102
[code]

No. It seems that it works for clusters with small number of pods. Where it breaks - we have ± 400 pods running.

 No

It's hard to track issues right now. It crashes randomly. Shows logs or fails randomly.

[2019-03-03 18:01] dodalovic commented on #102
`kubectl` works fine with all the clusters I have.

[2019-03-03 18:33] derailed commented on #102
@dodalovic I don't think the #pods is the factor here. I think there is something in the log that throws the panic when the txt contains certain attributes. I am not sure what text actually throws the parser. If you can send me the actual log snippet that cause k9s to bomb that would be super useful for me to isolate and fix. Tx!!

[2019-03-03 18:38] dodalovic commented on #102
Our log lines are json, such as:

[code]

[2019-03-05 15:40] dperique commented on #87
Thanks for posting this one and I agree.  I was just in a prod cluster yesterday and typed control-d a little too fast and almost deleted the wrong pod -- luckily, the control-d wasn't taken until I typed up/down arrow.

[2019-03-05 22:27] stk0vrfl0w opened #104 "HPA targets aren't properly displayed"
I'm seeing a display issue when under the HPA screen.  For my use cases, my autoscaler uses targetAverageValues -- which may be causing a problem with k9s parsers.  The TARGETS show up as "<unknown>%/0%" when they should be more like "25929728/1Gi"

K9s Version: 0.2.1
K8s Version: v1.13.2 / v1.11.5

Autoscaler Definition:
[code]

 kubectl output:
[code]

k9s output:
[code]

[2019-03-06 04:36] derailed commented on #104
Great find! Thank you for the report @stk0vrfl0w!

[2019-03-06 09:15] madushan1000 opened #105 "Implimant a way to force refresh the resource list"
We should have some sort of a key combination to force resend the api requests and update the UI regardless of the set refresh interval. This is useful when waiting for some new resource to be created or destroyed.

[2019-03-06 13:32] ArnaudMsh opened #106 "Feature request : deployment and rollout"
Hello,

Thank you for your project, this is great!

It would be even more if :
- we could see rollout status for a specific deployment (eg with <s>)
- we could see rollout history for a specific deployment (eg with <h>)

And icing on the cake : rollout to a specific version (by selecting it on the rollout history?)

[2019-03-08 09:47] Crivaledaz opened #107 "CPU and Memory usage missing"
Hi,

I can't view CPU and memory usage in k9s. These fields are set to n/a in the header, whatever the current view.

![k9s-cpu](https://user-images.githubusercontent.com/30313991/54021028-82acc400-418f-11e9-9ce1-156588d83632.png)

Likewise, in the pods view, CPU and memory columns are empty.

![k9s-columns](https://user-images.githubusercontent.com/30313991/54021034-86d8e180-418f-11e9-9700-9993b7

[2019-03-08 16:53] derailed commented on #107
Hi @Crivaledaz, Tx for the report! In order for K9s to gather cpu/mem info you must enable the [metrics-server](https://kubernetes.io/docs/tasks/debug-application-cluster/core-metrics-pipeline/) running on your cluster.

[2019-03-08 16:59] derailed commented on #106
@ArnaudMsh Tx for the reports! I think you can get some of the rollout info by watching the replicasets and deployments (ie rs, dp). It should give you an indicator of where your rollout is at.
As for the rollout history, I totally agree. Thank you for your feedback!

[2019-03-09 20:10] #107 closed

[2019-03-10 00:52] derailed commented on #102
@dodalovic I can't seem to repro this. I've tried all kind of logs json or plain. I did do some more work in this area though so perhaps you can give it another rinse? Please try 0.2.2 and hopefully we can resolve this issue... If not please reopen and capture your logs so we can repro. Tx!!

[2019-03-10 01:02] derailed commented on #105
Fixed 0.2.2!

[2019-03-10 01:02] #105 closed

[2019-03-10 01:02] derailed commented on #104
Fixed 0.2.2!

[2019-03-10 01:02] #104 closed

[2019-03-10 01:03] derailed commented on #102
@dodalovic  Please try out 0.2.2. Tx!!

[2019-03-10 01:03] #102 closed

[2019-03-10 01:04] derailed commented on #98
Fixed 0.2.2!

[2019-03-10 01:04] #98 closed

[2019-03-10 01:05] derailed commented on #82
K9s only currently support Kubernetes 1.10+

[2019-03-10 01:05] #82 closed

[2019-03-10 01:06] derailed commented on #29
@thomasjm Fixed 0.2.2!

[2019-03-10 01:06] #29 closed

[2019-03-10 01:53] madushan1000 commented on #105
Nice!

[2019-03-11 07:22] chinglinwen opened #108 "calculate space, and so put more namespace in the list at right corner"
there are more space, I think it can be list more space, say calculate space number, see how many can name space can list there.

provide shortcut for the namespace is convenient ( though I can manual write it in config, why not let machine do the work automatically ).

If I introduce k9s to colleague, the manual editing config will be an hurdle, beside what if it can be fixed.

<img width="950" a

[2019-03-11 10:37] Tarick opened #109 "Edit and shell commands don't use cluster context"
While using multiple clusters, I start k9s with --context= switch, however any edit or getting pod shell commands spawn kubectl without cluster context and eventually fail.
k9s version - Version:0.2.2 GitCommit:591839a42f925f4d5bb1ae8851050f95b62946b8 On 2019-03-10T01:01:54Z

[2019-03-11 11:49] Khrotan commented on #69
I agree. This was the first thing I looked.

[2019-03-11 12:15] derailed commented on #109
Excellent find! Tx for the report @Tarick!!

[2019-03-11 12:23] derailed commented on #109
Fixed 0.2.3!

[2019-03-11 12:23] #109 closed

[2019-03-11 15:25] thomasjm commented on #29
Sweet, looks good!

[2019-03-11 16:53] Crivaledaz commented on #107
You are right, I have installed metrics-server and this works perfectly :)

Thank you for your help

[2019-03-11 20:44] victuos commented on #87
I agree, the delete command should be

A) less destructive (using a confirmation)
B) a different (hard to press on accident) key shortcut

[2019-03-11 21:31] victuos commented on #80
gdamore/tcell is not supporting cygwin style terminals https://github.com/gdamore/tcell#windows.

They were planning on adding support since  Nov 15, 2016, but nothing has come of it. https://github.com/gdamore/tcell/issues/133

[code]

[2019-03-12 04:42] derailed commented on #87
@aslafy-z, @dperique, @victuos Thank you all for your reports and sorry for the confusion! I totally agree with all your comments. Per your suggestions I've implemented a dialog to confirm deletion of a resource. Will be available in 0.2.4. Please give it a rinse on **non critical** clusters and confirm we're happy if not please reopen. Tx!!

[2019-03-12 04:42] #87 closed

[2019-03-12 05:00] derailed commented on #108
Hi @chinglinwen thank you for the report! I am not sure I fully understand. You can use up to 10 of your favorite namespaces by selected them in the namespace resource view and using <u> for use. You don't have to hand edit the config but do have to manually select your top 10 namespaces which will be evicted in a FIFO mode once the favorite namespace list reaches 10. Hence your colleagues will ha

[2019-03-12 13:58] chinglinwen commented on #108
By default, it will not shown 10 namespace.

My point is it can be use much more empty space, since my display is big enough to show the full list of namespace(19).

[2019-03-12 17:20] mimizone opened #110 "doesn't start if changed context/namespace"
### Problem:
k9s won't start if the namespace/context in the current kubeconfig is different from the previously one used by k9s.

### Replicate the problem:
in one shell I have the KUBECONFIG variable set to a different file.
use k9s
close k9s
in another shell, KUBECONFIG is pointing to `~/.kube/config` which holds completely different cluster/ctx/namespace
start k9s
returns an error, listing the

[2019-03-12 22:00] mfilotto opened #111 "kubectx compatibility"
It would be nice if it could be compatible with kubectx
https://github.com/ahmetb/kubectx

When I switch between two clusters, there is a mix in namespaces
I use several config files with KUBECONFIG var env

[2019-03-13 00:05] derailed commented on #111
@mfilotto Thanks for the report!

This the way K9s use to work ;(  I had changed the behavior to use whatever context the last K9s session exited with regardless on what kubeconfig said the current context should be. Ie you can switch context within K9s without affecting kubeconfig.

I think whichever tool one use to change context ie kubectx, kubectl, k9s, ... should be the context to use for cur

[2019-03-13 00:13] mitchellmaler commented on #111
I don’t know if I would want k9s to update my kube config if it change contexts but would like to allow it to switch contexts while I have it up (not changing my kube conf file). It should default to the current kube Config context unless I manually pass the context option when starting k9s.

Now if the context changes while I have it open it probably shouldn’t dynamically update. I might have mor

[2019-03-13 00:17] derailed commented on #110
@mimizone First off thank you for the excellent report!

I think this ties in with #111. Though K9s should have figured this out and launch from the current context in this case. I'll fix on the next drop!

[2019-03-13 00:56] derailed commented on #108
@chinglinwen. Thanks for reporting back! I see... I am guessing you're finding having to navigate to the namespace view to select your menu namespaces is currently a hassle? I don't think this can be tied to just real estate as most cluster namespaces would likely outgrow your screen size anyway. Even with a screen size calc, you would still need to nav to the namespace views to select ns that can

[2019-03-13 02:20] chinglinwen commented on #108
yes, a little ( myself almost ok with it )

what key and what modifier?

I don't understand how this to work, try `:ns` command, # 11 is not found

I've got another idea, let it be config, say how many namespace to display ( so I can display 20 as much ).

example:

[code]
this is more about an suggest.

I've find the namespace command `:ns` can be use `Enter` key rather than `u` key to select the

[2019-03-13 05:22] derailed commented on #111
@mitchellmaler Thank you for you feedback! Lots to think about here.

K9s currently mainly watches resources it is up to kubectl to create/update resources. It feels a bit odd for K9s not to display the actual source of truth ie kubeconfig current context. It might be misleading to users to use K9s on a context and yet apply manifests in another via kubectl? Switching context on the fly I think is

[2019-03-13 06:46] matthyx commented on #110
It would be also good that k9s starts with the namespace specified in the current context (if applicable).

[2019-03-13 08:46] ArnaudMsh opened #112 "Display issue when switching between several containers logs (inside same pod)"
Hello,

I noticed an issue about display when you switch between containers logs in log pod view.

Display is not reset and log are appended if you keep switching between containers

Step to reproduce:
- get a pod running with several container and at least 1 line of log (ideally not logging a lot or it's hard to see the issue)
- got to pod view
- select pod, press 'l'
- switch between logs by pre

[2019-03-13 15:41] derailed commented on #112
@ArnaudMsh Thank you so much for the report... I'll check it out to see if I can repro...

[2019-03-13 15:48] derailed commented on #108
@chinglinwen Thank you so much for the feedback and report! I think these are great! I'll noodle on some of these and will get back to you. Don't think I am keen on canning the ns number in the config tho? Seems I should be able to resize the window and hence not ideal to can it in the config. Also thinking you could perhaps to :ns namespace and switch the namespace directly. Might be a better way

[2019-03-13 16:08] chinglinwen commented on #108
If I need to enter the full namespace after `:ns`, I'd probably using `:ns` to select from the window though. ( if `enter` key can do the namespace switch and back to `:po` view with that namespace ).

[2019-03-13 16:12] mitchellmaler commented on #111
@derailed Ah that does make more sense. In that cause having it start with the current context and dynamically update would be great.  Having the option to allow context changes (maybe with prompt) which updates the kube config would make it easy for others.

I think an option to disable dynamic update and modifying the kube config would be nice as a startup arg just in case multiple k9s needs to

[2019-03-13 17:26] ChrisCooney opened #113 "Document the RBAC permissions needed to run K9s"
## The Problem

Recently, we have begun work to ensure engineers only have the RBAC permissions they need to work with. We created the following powers, essentially letting them do what they like within their own Namespace:

[code]

When we tried to run K9s, we found that it would error out with the following:

[code]

This resulted in us needing to add the following `ClusterRole`:

[code]

At whi

[2019-03-13 17:59] goffinf commented on #111
I would suggest modifying kube config should be DISabled by default so you explicitly request that behaviour if you want it rather than be surprised after the fact !

[2019-03-13 19:19] derailed commented on #113
@ChrisCooney Thank you for reporting this! Great point!! I will document these expectations. I think there is much to explore here in terms of RBAC rule on the cluster.  Alternatively Chris you can start K9s in that namespace for which you have access using --namespace fred. I think it should work but I do need to do more work here to limit switching ns once that is set. So please stay tune....

[2019-03-13 19:28] derailed commented on #111
@mitchellmaler, @goffinf Thanks for weighting in!

[2019-03-14 07:23] madushan1000 commented on #59
I guess rather than making one or two columns sortable, just make them all sortable. And use a keyboard shortcut like `shift + <` to switch the sorted column like `top` does.

[2019-03-14 09:44] ChrisCooney commented on #113
If you can point me in the right direction, I'd be happy to contribute too @derailed. Open source and all that! :)

[2019-03-14 22:57] shankar-bala opened #114 "cpu and memory usage is blank"
New user for k9s..tool works., but can't see cpu / memory usage..it says n/a

[2019-03-14 22:58] shankar-bala commented on #114
k9s version is 0.2.4 and k8s version is v1.13.0

[2019-03-14 23:03] derailed commented on #114
@shankar-bala Do you have a metrics-server running on your clusters?

[2019-03-15 08:04] vasicvuk commented on #112
I can confirm this issue

[2019-03-15 08:05] vasicvuk opened #115 "Tail and follow logs"
Currently i am not able to open very large logs. Is there possiblity of adding an option to Tail and Follow last N lines of log?

[2019-03-15 08:12] vasicvuk opened #116 "Backspace in command and filter"
Currently i cannot do backspace in filter and command. I see that the issue was already discussed but it is still present on latest version on Windows.

https://github.com/derailed/k9s/issues/38

[2019-03-15 09:04] bgruszka commented on #42
Same problem here

[2019-03-15 09:19] vasicvuk commented on #70
There is already Bitnami's CRD for Helm currently experimental

https://github.com/bitnami-labs/helm-crd

[2019-03-15 16:51] derailed commented on #115
@vasicvuk Tx for the report!

K9s already does follow and fetches in batches. By default K9s should just fetch the last 200 lines of logs. But it is possible for chatty logs to kill k9s since no limits are currently set on the display side.

## Questions

What is the behavior you are seeing? Ie K9s dying? and if so anything useful in k9s logs?
By large logs are your talking about very chatty logs

[2019-03-15 22:10] derailed commented on #116
@vasicvuk I don't have access to a windows machine. I think this will be fixed in 0.2.5. Please reopen if that's not the case. Tx!!

[2019-03-15 22:10] #116 closed

[2019-03-15 22:11] #114 closed

[2019-03-15 22:39] derailed commented on #112
@ArnaudMsh @vasicvuk I've been reworking logs and can't seem to repro this. Please help validate on the next drop (0.2.5) and re-open if still an issue. Tx!

[2019-03-15 22:39] #112 closed

[2019-03-15 22:40] derailed commented on #115
@vasicvuk Think this is fixed in 0.2.5. Please reopen if still an issue. Tx!

[2019-03-15 22:40] #115 closed

[2019-03-16 00:15] derailed commented on #113
Thanks @ChrisCooney! Please see new README. Hopefully this helps and if not you can submit a PR and I will review it. Tx!!

[2019-03-16 00:15] #113 closed

[2019-03-16 00:16] derailed commented on #111
@mfilotto. I think this is now fixed in 0.2.5. Please reopen if not Tx!

[2019-03-16 00:16] #111 closed

[2019-03-16 00:17] derailed commented on #110
@mimizone @matthyx.  I think this is now fixed in 0.2.5. Please reopen if not Tx!

[2019-03-16 00:17] #110 closed

[2019-03-16 00:19] derailed commented on #108
@chinglinwen - I have added <enter> per your request. Don't think I am going to tackle added more ns at this time in light of everything else. I am going to close this for now and please let me know if the latest help alleviate having to list all these ns. Thanks!

[2019-03-16 00:19] #108 closed

[2019-03-16 00:23] derailed commented on #90
@aslafy-z You can use g and G to navigate to the top and bottom of the resource list.

[2019-03-16 00:23] #90 closed

[2019-03-16 20:12] swe-covis opened #117 "Unable to start v0.2.5 on macOS"
If I try to run v0.2.5 on macOS, k9s crashes with the following error:
Boom!! interface conversion: interface {} is nil, not v1.Namespace.

![image](https://user-images.githubusercontent.com/19486627/54481063-67495500-4830-11e9-884e-4f4e2cd9caf3.png)

[2019-03-16 21:01] derailed commented on #117
Hi @swe-covis Thanks for reporting this!
Could you send me the K9s log section with the exception? Tx!

[2019-03-16 21:12] derailed commented on #117
@swe-covis NM I think I've found the issue. Could you run this cmd?

[code]
Does it show any inactive namespaces?

[2019-03-16 21:45] swe-covis commented on #117
@derailed Hi - yes, there are two terminating namespaces.
Did not kill the finalizers yet...

[2019-03-16 21:49] derailed commented on #117
Tx @swe-covis!! Once these ns are gone, K9s should come up. Regardless it's a bug.
I'll fix on the next drop. Sorry!

[2019-03-16 21:55] swe-covis commented on #117
@derailed NP!... :-) Tx for the quick reponse - I'll kill the corrupt ns.
Still really great job!...

[2019-03-16 22:47] derailed commented on #117
@swe-covis Thank you so much for your kind words!!
Sorry for the disturbance in the force!
Fixed in 0.2.6!

[2019-03-16 22:47] #117 closed

[2019-03-16 22:49] derailed commented on #59
@rexroof @madushan1000 @mitchellmaler I have added prelimary sorting on cols. So resources will have better support than others out of the get. Please send me indiv issues on resources/cols you would most typically would like to sort on and I will add on a case by case basis. See 0.2.6. Tx!!

[2019-03-16 22:49] #59 closed

[2019-03-16 23:23] dperique commented on #87
@derailed tested on 0.2.6 and works and is a delighting feature -- thx.

[2019-03-16 23:56] derailed commented on #87
Awesome! Thank you for reporting back @dperique. It was much needed!

[2019-03-17 06:46] darxkies opened #118 "Feature Request: ARM Support"
Please add support for building/deploying/releasing Linux binaries for armhf and arm64.

[2019-03-17 11:09] Gambler13 opened #119 "Feature request: Save console output to file"
It would be a great feature if we can save the console output (logs and resource detail views) to a file. This would be really helpful for debugging certain problems, examine logs etc.

[2019-03-18 02:00] dperique opened #120 "Logs on 0.2.2 onwards have foreground and background same"
On 0.2.1, my logs match the output of `kubectl logs ...`.  The logs show on the screen at the end of the logs (the most current) allowing me to scroll up to see previous logs.

On 0.2.2 - 0.2.6, my logs do not match the output  of `kubectl logs ...`.  The logs show on the screen at the beginning of the logs and I have to scroll to get to the end.  Is there a way to go immediately to the end of the

[2019-03-18 07:32] matthyx commented on #110
Fixed for me, thx!

[2019-03-18 07:38] vasicvuk opened #121 "Follow logs"
Is there possibility of adding an option to Follow log?

Currently there is clear button. But after i click it log is empty and new logs is not arriving.

I would like to have an ability to specify last number of lines and select follow before previewing logs and that should run following command in similar mode as bash:
[code]
In noticed in version 0.2.6 that some commands disappeared from the lo

[2019-03-18 07:39] vasicvuk opened #122 "Backspace not working on filter and commands"
Backspace in filter and commands still does not work in Windows. Version 0.2.6.

[2019-03-18 09:55] ArnaudMsh commented on #112
looks like it's fixed in 0.2.6! Thanks @derailed

[2019-03-18 13:35] dperique commented on #121
@vasicvuk is your last comment in the summary a symptom similar to what I describe in https://github.com/derailed/k9s/issues/120?

[2019-03-18 14:19] vasicvuk commented on #121
@dperique  In last comment i am speaking about Keyboard commands, in previous version there were more commands in log view

[2019-03-18 14:47] dperique commented on #121
@vasicvuk ah, two different things -- thanks for the clarification.

[2019-03-18 23:28] derailed commented on #121
@vasicvuk @dperique Tx for the report!

@vasicvuk this is exactly how K9s logs currently works. I've tested this functionality and logs are cleared and new logs appeared. So something here is fishy.

A few questions for you:

1. First are you seeing any logs at all before clearing?
1. Are there any errors in K9s logs when navigating to the log view?
1. What is the value of logRequestSize in the k9

[2019-03-18 23:30] derailed commented on #120
@dperique I'll fix the scrolling issue on the next drop. As for the logs I am curious can u see any other pod logs ie in kube-system. ie containers that don't use ansi color loggers?

I think the issue might be a black fg color is specified on some of your containers?? Guessing here...

[2019-03-19 11:58] dperique commented on #120
@derailed Seems you are right.  It depends on the container.  Some containers have the problem with the fg=black and others don't.  Perhaps the coloring part is not your problem.  Thanks for looking.

After scrolling issue is fixed, I'll close this.

BTW, I use k9s daily -- so thanks!

[2019-03-19 14:17] ArnaudMsh opened #123 "Feature request : display secret"
Hello,

Would it be possible to display secret (base64 decode) when describing one?

Kubernetes dashboard does that and it's very convenient

Cheers

[2019-03-20 10:38] kordianbruck opened #124 "Node Overview: show requested resources"
The current view for the nodes shows:
- actually used memory
- actually used cpu
- node total cpu
- node total memory

It would be amazing to see in addition:
- requested cpu
- requested memory

This would allow to see if there are high discrepancies between used resources and requested. Often developers love to just make up numbers that do not actually reflect reality. Its a bit cumbersome to fig

[2019-03-20 13:42] matthyx opened #125 "Wrong sorting for restart column"
Looks like the restart column is sorted alphabetically instead of numerically.
Could you check pls?

[2019-03-20 16:46] eugenekainara opened #126 "k9s crashes when open Events with EKS cluster"
**Environment**
OS
```Mac OS Mojave 10.14.4 Beta (18E220a)```

k9s version
[code]

kubectl version
[code]

When I'm try to open Events(with :ev) I'm see following errors and k9s crashes.
Also when I'm trying to open k9s one more time -  it's also crashes cause _k9s.clusters.<eks_cluster_urn>.view.active_ is set to _ev_
Also when switch to _docker-for-desktop_ context no crash or errors occured.

E

[2019-03-21 08:32] kordianbruck opened #127 "Add pod distruption budgets"
I'd love to see k9s bein able to show PDBs: https://kubernetes.io/docs/concepts/workloads/pods/disruptions/

Often when doing node operations on the cluster, those prevent one from moving pods from node to node. Having a nice overview, of which deployments have which PDBs or to see all PDBs would be amazing.

[2019-03-21 09:37] vasicvuk commented on #121
1. Yes i am seeing logs before clearing
2. No
3. 200

But i am not getting new logs and when i do clear it is just an empty page that never updates

[2019-03-22 00:48] derailed commented on #127
@kordianbruck Thank you for the report! I totally agree.

[2019-03-22 00:50] derailed commented on #126
@eugenekainara Thank you for reporting this! Right K9s saves the last view you were on when you switch around. Hence if a view is hosed, you will have to manually edit the k9s config file and tell it go use another view.  I'll take a look.

[2019-03-22 00:51] derailed commented on #125
Great find! Thanks @matthyx. I'll take a look

[2019-03-22 00:54] derailed commented on #121
@vasicvuk does this happen on every containers logs or a specific pod container log? ie if you view logs from a kube-system container does it refresh once you clear it or not?

Also please include platform, k9s version and k8s versions. Tx!

[2019-03-22 00:57] derailed commented on #120
@dperique  I'll see if I can do something about tweaking the colors if fg=black.
So happy to hear K9s helps you! Most of the issues I see are usually dark,  so always glad to see there is sunshine too ;) Tx!

[2019-03-22 05:32] #120 closed

[2019-03-22 05:37] derailed commented on #127
Please check out 0.3.0 ;}

[2019-03-22 05:37] #127 closed

[2019-03-22 05:37] derailed commented on #126
Please check out 0.3.0 ;}

[2019-03-22 05:37] #126 closed

[2019-03-22 05:38] derailed commented on #125
@matthyx Please check out 0.3.0 ;}

[2019-03-22 05:38] #125 closed

[2019-03-22 05:39] derailed commented on #122
@vasicvuk Bummer! please checkout 0.3.0. Hopefully that will do... Tx!!

[2019-03-22 05:39] #122 closed

[2019-03-22 05:42] derailed commented on #124
@kordianbruck great suggestion! Tx for this great report!!

[2019-03-22 06:53] matthyx commented on #125
Yes, it's good now, thx!

[2019-03-22 08:51] ArnaudMsh opened #129 "typo : PodDiscruptionBudgets"
PodDiscruptionBudgets > PodDisruptionBudgets ?

good job for release ;)

[2019-03-22 11:29] kordianbruck commented on #127
Thanks for getting this done so quickly :heart:
Its super useful!

[2019-03-22 12:41] derailed commented on #103
@mrballcb the feature is there but not under the space bar. You can use b|f to page down and up. At some point we will provide custom key mappings. Tx!

[2019-03-22 12:41] #103 closed

[2019-03-22 13:02] aserrallerios opened #131 "Request: Support linux homebrew"
I'd be really convenient to install k9s using brew in linux.

Other neat method would be as a `snap`.

[2019-03-25 05:47] den-is opened #132 "Version and info outputs are not visible on dark theme"
Basically `k9s version` `k9s info` output is not visible in dark theme
Running k9s 0.3.0
Fedora 29, with Gnome terminal, colorscheme: SolarizedDark and Solarized color palette
Same in iTerm on macos.

See attached screens:
![Screenshot from 2019-03-25 09-36-06](https://user-images.githubusercontent.com/5287237/54897605-91f77580-4ee2-11e9-9345-9d00225a9724.png)
![Screenshot from 2019-03-25 09-45-04

[2019-03-25 08:26] vasicvuk commented on #121
It works now with 0.3.0

[2019-03-25 08:26] #121 closed

[2019-03-25 08:27] vasicvuk opened #133 "duplicate resources when sorting by memory"
After i sort by Memory i have duplicated Completed Jobs pods (It should be 3) in the list.

![image](https://user-images.githubusercontent.com/5639877/54904986-2c09ee80-4ee0-11e9-82f8-1a2eb4a6c8d7.png)

[2019-03-25 12:09] dperique commented on #120
Just a quick followup -- yes, some containers have the "missing" logs.  But if you highlight (for example by doing control-a), you can see the logs.  This does not happen on all containers.  So nothing much we can do unless we change the default background from black (but it looks so nice on my screen).

If you can do a tweak for fg=black, I'm sure I'll notice it -- and thanks for looking this.

[2019-03-25 17:05] pjoe commented on #80
dunno if related, but msys2 also doesn't work. Only gives me `Boom!! close of nil channel.` in output though. FWIW: `TERM=xterm-256color`

[2019-03-25 17:06] pjoe commented on #80
Git Bash gives same error

[2019-03-25 20:56] derailed commented on #133
Tx for the report @vasicvuk! I reworked some stuff over the weekend and think this is fixed in 0.3.1. If that's not the case please reopen. Tx!!

[2019-03-25 20:56] #133 closed

[2019-03-25 20:57] derailed commented on #132
Thank for the report @den-is! I think that's fixed now. Please checkout 0.3.1. Tx!

[2019-03-25 20:57] #132 closed

[2019-03-25 20:59] derailed commented on #129
Tx for the report and your kind words @ArnaudMsh!!
Easiest fix to date ;)

[2019-03-25 20:59] #129 closed

[2019-03-26 00:54] derailed commented on #124
@kordianbruck so this functionality you are looking for is available if you describe a node.
I do think having a sortable summary as a top level is valuable and indicative.
Please checkout 0.3.2. Tx! Hopefully we're happy...

[2019-03-26 00:54] #124 closed

[2019-03-26 06:30] den-is commented on #132
Hey thanks for taking so fast actions
But I afraid fix didn't work.
Info became visible with bright white color
But Version on linux on mac is still not visible

Linux screens:
![linux](https://user-images.githubusercontent.com/5287237/54975776-a3f41980-4fb1-11e9-8a67-e257897cecad.png)
![linuxsel](https://user-images.githubusercontent.com/5287237/54975780-a6ef0a00-4fb1-11e9-8278-7c60687c8fa1.png)

[2019-03-26 13:25] kordianbruck commented on #124
Looks great - thanks so much for the quick implementation!

[2019-03-26 19:06] derailed commented on #131
@aserrallerios I did not really have time to vet this but figured I try a push of 0.3.3 on Snapcraft.
In light of everything else going on, I don't have time to setup for this right now so please lmk if it actually works??
You can find the release info here [K9s](https://snapcraft.io/k9s)
Thanks!

[2019-03-26 19:06] #131 closed

[2019-03-26 19:09] derailed commented on #118
@darxkies No time to vet this, but you can try the new arm 32/64 builds on 0.3.3.  Lmk if it actually works. Tx!

[2019-03-26 19:09] #118 closed

[2019-03-26 19:24] darxkies commented on #118
I've tried https://github.com/derailed/k9s/releases/download/0.3.3/k9s_0.3.3_Linux_32-bitv7.tar.gz and it works very nicely. Thank you.

[2019-03-26 19:56] derailed commented on #118
Woot! @darxkies awesome!!

Thanks for reporting back!
I have my five node k8s rpi cluster. Going to need to fire up that bad boy again soon...

Also I think you might be also able to install via [Snap](https://snapcraft.io/k9s)??

[2019-03-26 20:10] darxkies commented on #118
I tried it on a two node k3s rpi3 cluster. And no issues.

No snap available on my cluster.

Besides that I think it would be nice to have the name of the architecture in the release file names. It can be easily overlooked otherwise.

[2019-03-27 06:50] eldada opened #135 "Support logs for pods with more than 9 containers"
In some cases, we have pods that have more than 9 containers.
We have an application that has a log of different logs, so we spin up small `tail -F <log>` sidecar containers so we can see the logs.
`k9s` menu supports only 1-9 containers.

It would be nice to add the rest of the containers as combinations of `<shift-number>` (will add an extra 10) or `<shift-letter>` (will add 22).

[2019-03-27 08:42] dguendisch opened #136 "Feature request: namespace switching"
I'm often on clusters with a lot of namespaces. Having a filterable table/popup/whatever where I can switch namespaces directly in k9s would be really helpful!

[2019-03-27 14:07] derailed commented on #136
@dguendisch not sure I understand. How  does this feature differ from the current behavior?
Right now `:ns` + select + `<enter>` will show a sortable/filterable table of namespaces and you can switch namespace via `<enter>`?

[2019-03-27 14:09] dguendisch commented on #136
Sorry, my bad, overlooked this, thanks!

[2019-03-27 14:14] dguendisch commented on #136
Understood now the command/alias mode. Guess then I just like to have a simple shortcut for open this, but I see there is already a feature request for keyboard configuration #61.
Thanks again!

[2019-03-27 15:08] dguendisch opened #137 "Logs to not escape correctly"
Seems that k9s is not correctly escaping log text for tview.
I have e.g. an output like
`[2019-03-27T15:05:15,246][INFO ][o.e.c.r.a.AllocationService] [es-0] Cluster health status changed from [YELLOW] to [GREEN] (reason: [shards started [[.monitoring-es-6-2019.03.27][0]] ...]).`

However the `[YELLOW]` and `[GREEN]` is stripped in k9s and reads `[2019-03-27T15:05:15,246][INFO ][o.e.c.r.a.Allocati

[2019-03-27 15:11] derailed commented on #136
Tx @dguendisch! No worries.

Makes me think, I need to beef up the docs so that this commands and filters  are more *discoverable*...

[2019-03-27 18:34] aserrallerios commented on #131
Hi @derailed, it works so far!! Sweet!!

Do you think you'll have the time to publish releases as snaps on a consistent basis?

[2019-03-27 19:23] den-is commented on #132
Nice pink color, bro :trollface:
<img width="351" alt="Screen Shot 2019-03-27 at 23 18 50" src="https://user-images.githubusercontent.com/5287237/55105895-11ee2d00-50e7-11e9-9368-87023ab3c5cd.png">
K9s color palette is definitely off with the standards

[2019-03-27 19:29] derailed commented on #131
@aserrallerios Awesome!! Thank you for reporting back.

Yes it part of the automated build so it **should?** update the snap when we rev.

[2019-03-28 04:45] #86 closed

[2019-03-28 12:53] paivagustavo opened #139 "View print a lot of null fields for `Volumes`"
While viewing a pod, the `volume` is show a lot of null values. I think this should be ommited if not present.

The first part of the picture show the view of k9s and the second one is the  `kubectl get pod -o yaml` version of the same pod.

![image](https://user-images.githubusercontent.com/7898464/55159210-4c83b400-513f-11e9-9e6f-7d5562e08a16.png)

EDIT: it seems that this happens on the whole y

[2019-03-28 13:11] ArnaudMsh opened #140 "Bug? hpa view"
Hello,

I got this error when I want to display hpa list :

😡 the server could not find the requested resource

I don't know if this is useful but I'm using EKS here. How can I give you more debug information?

[2019-03-28 13:48] paivagustavo commented on #139
I had an outdated version, updating my k9s with the master branch solves this. Sorry the buzz :)

[2019-03-28 13:48] #139 closed

[2019-03-28 14:28] derailed commented on #140
Hi @ArnaudMsh I think two possibilities here. Granted the error message needs some improvements...

1. No metrics service is running on the cluster
2. You don't have enough rbac fu to either view hpas or metrics

I'll work on making a more descriptive error, but hopefully this helps in the interim...

[2019-03-28 14:31] derailed commented on #139
@paivagustavo No worries. Nothing makes me happier than when something is already fixed ;)

[2019-03-28 14:31] ArnaudMsh commented on #140
Hmmm I've double checked and my metrics-server is running and I can get `kubectl get hpa`working with same account :-/

[2019-03-28 14:36] derailed commented on #135
@eldada Yikes that's a lot of containers per pods. No sure if this is a behavior we want to encourage in k9s or k8s for that matter??
Perhaps you should look at incorporating something like fluentd or the likes on your cluster to aggregate these logs?

[2019-03-28 14:54] derailed commented on #140
@ArnaudMsh Ok then I think the issue is K9s currently only supports hpa v2beta2 and so could be the issue at play here??

Could you check with kubectl and see what the version of the hpa is? Also which k8s rev are you running on the server?

[2019-03-28 15:02] ArnaudMsh commented on #140
apiVersion: autoscaling/v1

Kubernetes version : 1.11

The error is also occuring when I have 0 hpa configured

[2019-03-28 15:27] eldada commented on #135
Yes, @derailed . This is a lot, but is used for much easier debugging to get the logs using kube api tools (like this awesome tool).
The added footprint of each container is less than 1mb in memory and about 0.001 cpu, so the impact is very minimal.
The requested support does not really encourage bad patterns. Just supports them 😉

[2019-03-28 15:45] eugenekainara commented on #126
Verified with 0.3.3. Thanks!

[2019-03-28 18:51] tjohnson6578 opened #141 "Deployment Causes Degraded Performance"
Not sure if its specifically related to this deployment or for larger deployments/number of resources in general. I've been deploying kube-prometheus/prometheus-operator to our EKS cluster
https://github.com/coreos/prometheus-operator

Seems that when this is deployed, K9s will take minutes to load resources, logs, for example switching views from pods to services took 1 minute 30 seconds to resol

[2019-03-28 21:00] derailed commented on #52
@Slach yes me too ;)

Don't think I want to rathole into the editing side at the moment but see 0.4.0 for RBAC view updates.

[2019-03-28 21:00] #52 closed

[2019-03-28 21:03] derailed commented on #141
@tjohnson6578 Thanks for reporting this! Can you give me a bit more info I too use the operator with no issues. Which versions of k9s/k8s are you running and how many pods are we looking at once the deployment is active? Also please co 0.4.0 think I've made a few perf changes but not sure if that is the pb here...

[2019-03-28 21:11] tjohnson6578 commented on #141
Tried K9s version 0.1.10 and 0.3.3
EKS Cluster is K8s v1.11.8

Pods up to 20. I've removed some other pods not related to the operator that didn't seem to alleviate the issue.

Will update to your latest release and give it a try. Thanks!

[2019-03-28 21:17] derailed commented on #141
@tjohnson6578 Thanks you for your feedback! I haven't really hit perf too hard as of yet. I'll take a closer and see what's up. Wondering if there is a delay getting metrics that could definitely slow things down.

[2019-03-28 21:18] kordianbruck commented on #123
Yes, this would be totally amazing - this one of the things that `kubectl` currently really lacks.

[2019-03-28 21:19] tjohnson6578 commented on #141
@derailed Sounds great. Thanks for the very useful tool!

Updated to 0.4.0 and still seeing the same. Should note that startup is also plagued by the slow down. Will keep an eye out for anything else that triggers this.

[2019-03-28 21:23] valorl opened #142 "Syntax highlighting for YAML and describe"
It would be really nice if there was syntax highlighting when viewing YAML and also for the structure of `describe` output.

[2019-03-28 23:46] derailed commented on #141
@tjohnson6578 - To be clear how is the perf launching and using K9s against your EKS cluster without running the operator?

[2019-03-29 07:24] Slach commented on #52
@derailed thanks a lot for your efforts

[2019-03-29 08:49] faheem-cliqz opened #143 "rbac reverse lookup"
I gave a go for the 0.4.0 release with the reverse rbac lookup feature. Thanks a lot for implementing that. It's awesome that you show each individual name, groups, bindings and verbs.

I have some problems to report that I saw while using the `fu` view.

My typical workflow was to do something like this by using the rbac-lookup krew plugin by reactiveops https://github.com/reactiveops/rbac-lookup

[2019-03-29 14:32] tjohnson6578 commented on #141
Without operator running there is no delay in launching K9s. I've deployed the operator to a smaller local cluster too and haven't had a performance hit with K9s there yet, but there are only 17 pods.

[2019-03-29 16:08] tjohnson6578 commented on #141
I've narrowed it down to more specifically the prometheus-adapter resources. If I delete that portion of the operator then everything is fine.

Doesn't appear to be related to the number of pods, I've deleted all other portions of the operator and only added the adapter and get the same performance problems. Will dig into more later today.

[2019-03-30 16:27] derailed commented on #143
@faheem-cliqz Thank you for this great report!

I see the problem. After some research I've found that one of the libs we use, will only allow up to 10 chars paste. Hence part of the problem you're experiencing with the long user names.
Obviously having to type those is jurassic and even if we could paste these subjects, this still seems
impractical.

So here is what I think I will do.

1. Offer a

[2019-03-30 17:15] derailed commented on #141
@tjohnson6578 Thank you for reporting back!

 I have deployed the prom operator locally and on a remote cluster running > 20 pods and not seeing any issues...

I am curious about what you call `prometheus-adapter` resource? do you mean the crd or the instance?

[2019-03-30 18:07] faheem-cliqz commented on #143
@derailed Sound good to me. Should be easier to filter first and then go in to detail for a respective rbac resource.

[2019-03-30 23:33] derailed commented on #143
Please checkout 0.4.1!

[2019-03-30 23:33] #143 closed

[2019-03-30 23:33] derailed commented on #140
Please checkout 0.4.1!

[2019-03-30 23:33] #140 closed

[2019-03-31 03:42] pulberg opened #144 "Boom!! K9s does not currently support HPA version ."
Getting this error after updating to k9s v0.4.1 -

Boom!! K9s does not currently support HPA version .

Things were working fine in v0.4.0

[2019-03-31 04:01] pulberg commented on #144
This was my fault, closing.

[2019-03-31 04:01] #144 closed

[2019-03-31 09:04] davinkevin commented on #61
Same for me, would like to remap the `exit` command to something else like `:q`.

[2019-03-31 09:54] cwrau opened #145 "Sorting by age doesn't work correctly"
I did:
I tried sorting my pods by age. (<shift-a>)

I expected:
My pods sorted by age  ;)

What happened:
The pods got sorted by age, but only textually:
[code]

[2019-03-31 16:04] derailed commented on #145
Tx! Fixed 0.4.2...

[2019-03-31 16:04] #145 closed

[2019-03-31 16:05] derailed commented on #142
Tx @valorl! Fixed 0.4.2.

[2019-03-31 16:05] #142 closed

[2019-03-31 16:05] derailed commented on #137
Tx @dguendisch! Fixed 0.4.2

[2019-03-31 16:05] #137 closed

[2019-03-31 16:06] derailed commented on #123
@ArnaudMsh @kordianbruck Tx! Fixed 0.4.2

[2019-03-31 16:06] #123 closed

[2019-03-31 16:08] derailed commented on #61
@davinkevin FYI you can use :q to exit.

[2019-03-31 16:21] ghostsquad commented on #61
VIM bindings????

[2019-04-01 06:30] davinkevin commented on #61
Yeap, but `q` only quit the whole app, instead I'm waiting this key allows me only to quit the current view but never to totally stop / quit the whole app.

I'm quiting the app multiple times a day just because I use `q` instead of `escape`

[2019-04-01 07:38] ArnaudMsh commented on #140
@derailed working great in last version, thx!

[2019-04-01 07:39] ArnaudMsh commented on #123
@derailed working great in last version, thx!

[2019-04-01 10:12] pipko commented on #135
Btw, maybe it's better to make logs in the same manner as now made in shell's pod selector, with kind of menu in the main part of the screen?

[2019-04-01 11:34] cwrau commented on #145
Amazing!
Thanks for the quick fix!

[2019-04-01 14:19] tjohnson6578 commented on #141
@derailed This apiService specifically

https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/prometheus-adapter-apiService.yaml

[2019-04-01 15:18] com30n commented on #61
@derailed

That's great, but I'd like to get out of k9s just by ':q'. How can I turn off exit by 'q'?

[2019-04-01 21:14] dperique opened #146 "Change the default answer when you use control-d to "Cancel" instead of "OK""
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
I am using k9s for many k8s clusters now including some in production.  I'm advocating using k9s and I demo'ed it to our SRE team and they would like the default confirmation answer for

[2019-04-01 21:24] dperique commented on #27
@faheem-cliqz I am using lots of CronJobs and I save the last job.  I'm about to get the logs from the Pods (which were created by Jobs) in Completed state.  I believe this is true for those in Error condition as well.

[2019-04-01 21:43] dperique opened #147 "Need a way to get at initContainer and Pod logs"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
If I use the 'l' command for a Pod that has an initContainer and another container, I get the logs for main container.  If the Pod has an InitContainer, I get logs for the initContainer

[2019-04-01 23:01] dperique commented on #146
@derailed What do you think about this PR to address my issue: https://github.com/derailed/k9s/pull/148/files

[2019-04-02 05:17] derailed commented on #147
@dperique Tx for the report! I guess that makes sense. But either way, we are in the same boat if the pod has multiple containers. I have to pick one and if the pod has 2 containers I will most likely log the wrong one 50% of the time... Hence the menu option to quickly pick a container by number. I'll fix the ordering for now, but I think @pipko has a better [option](https://github.com/derailed/k

[2019-04-02 05:18] derailed commented on #146
@dperique Tx for looking into that! I think that makes sense ie the less destructive action should always win.

[2019-04-02 05:21] derailed commented on #141
@tjohnson6578 Tx for reporting back!! I could not repro on my clusters but it does not mean there is nothing there. Please let me know if you ran into this again.

IClosing for now, please reopen if you see more disturbance in the force.

[2019-04-02 05:21] #141 closed

[2019-04-02 05:29] derailed commented on #61
@davinkevin, @com30n, @ghostsquad  Tx for the clarification. I understand the frustration now. Sorry!
I'll add a key mapper soon so that you guys can pick your own poison. For the time being, I will remove the `q` binding so exiting out of K9s will only be via :q or ctrl-C. Would that help some?

[2019-04-02 05:29] derailed commented on #135
@eldada @pipko thanks for the feedback!! I agree @eldada K8s gives you lots of rope...

I do like @pipko idea (Tx!) of just listing out all the containers in a selector view and pick the one you want to see logs for. Hence no more container count limitations.

[2019-04-02 05:34] derailed commented on #145
@cwrau Thank you!!

[2019-04-02 05:35] derailed commented on #140
@ArnaudMsh Thank you!!

[2019-04-02 05:47] eldada commented on #135
@derailed - I also like @pipko 's idea better. 👍

[2019-04-02 05:50] #146 closed

[2019-04-02 06:09] derailed commented on #147
Temporary fix 0.4.4!

[2019-04-02 06:09] #147 closed

[2019-04-02 06:38] ArnaudMsh opened #149 "A way to filter pod view (by Deployment)"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
We manage more and more Deployment and so more and more pods are coming in. Pod list is starting to be huge

**Describe the solution you'd like**
What would be very cool is the ability

[2019-04-02 06:43] com30n commented on #61
@derailed Yes, sure, that would be awesome! Thx @derailed for your great product and for your support!

[2019-04-02 13:26] davinkevin commented on #61
Same for me, this will dramatically reduce the number of time I leave *k9s* by
typing *q* 🤩

Le mar. 2 avr. 2019 à 08:43, Evgeniy Shubin <notifications@github.com> a
écrit :

[2019-04-02 14:59] dperique commented on #147
@derailed I'm ok with this and thanks!

[2019-04-03 07:00] ncsibra commented on #149
I agree with this request, the major thing I missing from k9s compared to kubernetes dashboard is the ability to quickly change between related resources.
For example on the deployment view I'd like to quickly jump to the related replication controller or pods, from the pods view to the related deployment or replication controller etc.

[2019-04-03 10:35] eugenekainara opened #150 "Describe HPA doesn't work"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Could bot describe HPA with message " 😡 the server could not find the requested resource"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to hpa
2. Click d on any hpa

**Expected behavior**
k9s should describe hpa resource

[2019-04-03 13:33] dperique opened #151 "Current context not preserved after quit"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
I start k9s and set a context to a different k8s cluster.
I quit via ": q"
I start k9s again, and I'm in the context I was in before

**To Reproduce**
See description above -- should be easy to reproduce on 0.4.4

**Expected behavior

[2019-04-03 14:23] derailed commented on #149
@ArnaudMsh @ncsibra Thank you both for the reports! I agree and feel we can totally make some improvements here. On the one hand, the mechanism to segregate pods in K8s are namespaces. For larger clusters this would be a way to alleviate @ArnaudMsh concerns. I do agree with @ncsibra that we need an easier way to nav related resources ie which resource is being controlled by what and which is a con

[2019-04-03 14:27] derailed commented on #151
@dperique Right! this has been the subject to many discussions. Originally K9s managed kubeconfig and updated it when a context switch was detected. K9s friends decided that the app should not modify the current context. You can however launch K9s is the context of your choice by using the --context cli flag. Editing .k9s config would have no effect.

[2019-04-03 14:27] #151 closed

[2019-04-03 14:30] derailed commented on #150
@eugenekainara Tx for the report! This issue was highlighted in the release notes. We would have to downgrade K9s apis to support the HPA describe. Which is less than ideal! v2 is bound to happen soon, if you can deal in the interim...

[2019-04-03 17:41] derrickburns commented on #144
What did you do wrong?  I get the same message.

[2019-04-03 17:52] pulberg commented on #144
@derrickburns I had a typo in my .kube/config, I think this error message may just come up whenever there is any sort of issue.  I also saw this error when 1 of my k8s "controlplane" nodes was having an issue.

[2019-04-03 18:43] mcristina422 opened #152 "Crash when reading a kubeconfig with an empty cluster name"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
K9s crashes when reading a kubeconfig with an empty cluster name. `kubectl` works correctly with the same kubeconfig

StdOut:
`Boom!! runtime error: invalid memory address or nil pointer dereference.`

Logfile:
[code]

**To Reproduce

[2019-04-03 20:13] dperique commented on #151
@derailed works for me and thanks for looking.

[2019-04-04 03:39] derailed commented on #152
@mcristina422 Thanks for this great report! I agree we should not crash, so I'll fix. As far the value of setting a cluster name to "" not sure?? In any case K9s does leverage the cluster name to store preferences and kubectl does not not.

[2019-04-04 04:09] derrickburns commented on #144
Ah, thx!

[2019-04-04 05:34] derailed commented on #151
@dperique Thank you!

[2019-04-04 05:34] derailed commented on #152
@mcristina422 Fixed 0.4.5!

[2019-04-04 05:34] #152 closed

[2019-04-04 05:38] derailed commented on #135
@eldada @pipko Fixed 0.4.5!

@eldada if you have more than 26 containers per pod we should talk...
Either way, I think you should review you current logging approach if possible...
Tx for your feedback!

[2019-04-04 05:38] #135 closed

[2019-04-04 05:54] eldada commented on #135
@derailed Thx!
As noted - this is for debugging purposes, and I promise not to go over 26 😉

[2019-04-04 15:48] swe-covis opened #153 "Node Overview: Columns RMEM and RCPU reversed"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Seems like the columns "RMEM" and "RCPU" are reversed - or the displayed values:
![image](https://user-images.githubusercontent.com/19486627/55569197-70c42f80-5701-11e9-84a7-c9eb46ffdc57.png)

**To Reproduce**
Steps to reproduce the

[2019-04-04 17:01] mcristina422 commented on #152
Works great! Thanks for the quick turnaround. Fix is in https://github.com/derailed/k9s/commit/2ceaa775a76066417ec377fe8bda83117ed711ee

[2019-04-04 17:19] den-is commented on #132
yo @derailed whatsup :))))

this is logs container selection view:

![Screen Shot 2019-04-04 at 21 18 02](https://user-images.githubusercontent.com/5287237/55575169-51d49600-571f-11e9-91e2-80fd88fcbddd.png)

[2019-04-04 23:02] DigitalRogues opened #154 "Hide/Reorder Columns"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
The pod view with all the columns is especially long, even on larger monitors, which makes it a bit tedious to see the age of the pods

**Describe the solution you'd like**
A way to eit

[2019-04-05 03:13] derailed commented on #153
@swe-covis Thank you for this great report! I'll fix on the next drop.

[2019-04-05 03:17] derailed commented on #132
@den-is Thanks for reporting this! I'll fix on the next drop.

[2019-04-05 10:02] endrec opened #155 "Toggle auto-scrolling of logs"
I like that k9s follows logs by default. Unfortunately it also means that it scrolls the log window automatically when there is something new. This makes reading logs very hard.

It would be useful to turn this scrolling off when needed.

[2019-04-05 12:53] swe-covis commented on #153
fixed within 0.4.6 - ty!

[2019-04-05 12:53] #153 closed

[2019-04-05 12:56] swe-covis opened #156 "Events view: <shift>+<a> opens aliases instead of sorting by age"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Events view: &lt;shift&gt;+&lt;a&gt; opens aliases instead of sorting by age

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'events view'
2. Press &lt;shift&gt;+&lt;a&gt;
3. See aliases view being opened

**Expected beha

[2019-04-05 14:27] szuecs opened #157 "screen - terminal unsupported vs TERM unsupported"
**Describe the bug**

If I start `k9s` in my `screen` terminal, I get:

`Boom!! terminal entry not found.`

1. `TERM=xterm-256color k9s` works in screen, so you might want to fix your application to support `$TERM` with value `screen.xterm-256color`, too. Probably a simple suffix search instead of string match is good enough.
2. I think this error message could be improved, because it says nothing

[2019-04-05 15:11] mitchellmaler opened #158 "Feature: Show amount of pods on node view"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
Nope

**Describe the solution you'd like**
When on the node view it would be helpful to view the number of pods on that node.

**Describe alternatives you've considered**
Describing the

[2019-04-05 16:18] derailed commented on #157
@szuecs Thanks for the report! This is indeed documented in the preflight check section. I do agree the error message could use some love...

[2019-04-06 00:33] derailed commented on #156
@swe-covis Great catch! Thank you. Fixed 0.4.7!

[2019-04-06 00:33] #156 closed

[2019-04-06 00:34] derailed commented on #155
Fixed 0.4.7!

[2019-04-06 23:35] jmreicha opened #159 "Boom!! runtime error: index out of range."
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

Trying out the new popeye functionality built in to k9s I ran into this bug.

**Describe the bug**

[code]

**To Reproduce**

Start k9s
Type `:popeye`

**Expected behavior**

Expected to see the popeye interface come up.  Everything else in k9s seems to

[2019-04-07 03:55] derailed commented on #159
@jmreicha Tx for the heads up! Might have to pull this feature out til Popeye matures a bit more... Fixed 0.4.8!

[2019-04-07 03:55] #159 closed

[2019-04-08 09:12] noni73 opened #160 "Help text does not show ctrl-a for aliases view"
**Describe the bug**
The help text display incorrect key for aliases view

**To Reproduce**
Press ?

**Expected behavior**
Display ctrl-a for aliases view

**Versions (please complete the following information):**
 - K9s [0.4.8]

[2019-04-08 11:29] endrec commented on #155
Thanks for adding this feature, unfortunately it does not work for me. :(
I'm using 0.4.8 on linux. When I press s to turn autoscroll off, I see the message "Autoscroll is off", but the log is still scrolling.

[2019-04-08 14:46] matthyx opened #162 "Use natsort for columns"
The default sorting for columns doesn't work for indices in resource names:
nfs-1
nfs-10
nfs-11
...
nfs-2
nfs-20
...

Could you use "vbom.ml/util/sortorder" like in k8s?

[2019-04-08 15:38] derailed commented on #162
@matthyx Thank you for reporting this! Figures there is a lib for this ;) Tx! Yes I'll take a look.

[2019-04-08 15:39] #160 closed

[2019-04-11 08:10] Issif opened #163 "Add ROLE for Nodes"
Hi,

Like with a `kubectl get nodes`, it could be relevant to have node's ROLE in Node view. Didn't found any related issue.

Regards,

[2019-04-11 16:17] den-is opened #164 "Alias view is not responding"
macos mojave 10.14.4 + iterm 3.2.6
Fedora 29 + Gnome Terminal
k9s 0.4.8

I've noticed that alias view has stopped working on `a` or `shift + a` (as stated in release notes for v0.4.5)couple days ago.

Happens on both Linux and MacOS boxes.

Unfortunately I don't have access to my linux box right now,
But I've just discovered that on Mac alias view is `Ctrl + a`
and oposite to https://github.com/de

[2019-04-11 21:22] derailed commented on #164
@den-is Thank you for note! Yes I had to move it to something else due to the new container picker view that uses alpha keys to select a container from a list. I believe I have updated the docs in the README to reflect that change.

[2019-04-11 23:42] #164 closed

[2019-04-12 04:59] den-is commented on #164
oops I've missed that in README.md
but i was looking for it in k9ss.io
aaaaaaaaaaand in :/ :D
![Screen Shot 2019-04-12 at 08 58 39](https://user-images.githubusercontent.com/5287237/56013314-38c07c00-5d01-11e9-8842-24309a2a5e18.png)

As we can see `?` not showing correct info

[2019-04-12 20:12] derailed commented on #27
Added 0.5.0!

[2019-04-12 20:12] #27 closed

[2019-04-12 20:15] derailed commented on #39
@mrballcb @lfundaro Fixed 0.5.0!

[2019-04-12 20:15] #39 closed

[2019-04-12 20:16] derailed commented on #149
@ArnaudMsh @ncsibra. Fixed 0.5.0.

[2019-04-12 20:16] #149 closed

[2019-04-12 20:17] derailed commented on #163
@Issif Fixed 0.5.0

[2019-04-12 20:17] #163 closed

[2019-04-12 20:17] derailed commented on #162
@matthyx Fixed 0.5.0!

[2019-04-12 20:17] #162 closed

[2019-04-12 20:18] derailed commented on #158
@mitchellmaler  You can now hit enter on a selected node to see the associated pods. Fixed 0.5.0!

[2019-04-12 20:18] #158 closed

[2019-04-12 20:24] arnaudmm commented on #149
Great!!

[2019-04-12 20:26] derailed commented on #164
@den-is Doh! Thank you so much for the correction! Fixed in 0.5.0

[2019-04-13 00:21] odraese opened #165 "Shell: First character lost"
Opening the shell for one of the containers looses the first entered character. Starting with the 2nd keystroke, everything seems to work fine.

Example:
1. list pods
2. select one pod
3. press 's' for shell
4. press 'xx', only one 'x' will appear on shell

[2019-04-13 10:52] lfundaro commented on #39
nice ! thanks a lot ! 🎊

[2019-04-13 11:17] ncsibra commented on #149
Amazing how quickly you develop this software, thanks!

[2019-04-13 17:59] derailed commented on #165
@odraese This is a known issue with one of the [libs](https://github.com/gdamore/tcell/issues/194) K9s uses. I

[2019-04-13 17:59] #165 closed

[2019-04-14 11:54] accountgit opened #166 "Installing k9s from snap doesn't work correctly"
$ sudo snap install k9s
$ k9s
Boom!! The specified context ` does not exists in kubeconfig
$ k9s --context mycontext
Boom!! The specified context `mycontext does not exists in kubeconfig.

ubuntu 18.10

Running the same version from releases works correctly.

[2019-04-14 14:55] EladDolev opened #167 "Not starting anymore without default context"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
k9s is not starting when multiple contexts exist, and default context is not specified
getting:
Boom!! The specified context ` does not exists in kubeconfig.

**Versions (please complete the following information):**
 - OS: [OSX 10.1

[2019-04-14 17:37] derailed commented on #167
@EladDolev Works as prescribed. If you have multiple context and no current context set, how would you expect K9s to figure out which one you might want? You'll need to use --context xxx to launch K9s. Makes sense?

[2019-04-14 17:37] #167 closed

[2019-04-14 17:41] EladDolev commented on #167
All previous versions were working without any problem.
Having a default context is problematic for me, cause I want to prevent mistakes

[2019-04-14 18:17] derailed commented on #167
Thanks @EladDolev! There was a lot of issues with K9s manipulating kubeconfig directly and hence the functionality was removed so that it will honor the default kubecontext if set or the error you're getting if K9s can't locate a default context. So this is symmetrical to how kubectl works.

[2019-04-15 06:09] matthyx commented on #162
Works perfectly, thx!

[2019-04-15 09:30] ncsibra opened #168 "Filtering does not work correctly"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When filtering on a view(pod, deployment etc) and pressing enter to confirm, the prompt from the top is disappearing, but still stays in filtering mod, because when I press e.g. "l" to see the logs, the filtering prompt appears again

[2019-04-19 01:03] derailed commented on #168
@ncsibra Thank you for the report! Great find!!

[2019-04-19 03:06] derailed commented on #168
@ncsibra Fixed 0.5.1!

[2019-04-19 03:06] #168 closed

[2019-04-19 03:14] derailed commented on #166
@accountgit can you please try the edge release?

[code]
Thanks!

[2019-04-19 05:49] accountgit commented on #166
Seems it's not fixed yet. Tried with parameter context and without it.
$ grep -i current .kube/config
current-context: mycontext
$ k9s version
 ____  __.________
|    |/ _/   __   \______
|      < \____    /  ___/
|    |  \   /    /\___ \
|____|__ \ /____//____  >
        \/            \/

Version:   0.5.1
Commit:    c45214b0fed79a49acb69862feab84e1d289f8c8
Date:      2019-04-19T01:28:16Z
$ k9s --

[2019-04-19 20:46] derailed commented on #166
@accountgit Rats! I think k9s snap is getting sandboxed and hence can't read from .kube dir. I thought pushing an edge version would have helped here.  I've pushed a request to the snap folks to loosen up strict mode but haven't heard back ;(

Unfortunately I am not super versed with snapcraft, Could you try setting KUBECONFIG env var, I don't think it will work but perhaps we can gather another c

[2019-04-20 05:12] derailed commented on #166
@accountgit Looks to me k9s edge is working fine on ubuntu?

[code]

[2019-04-20 09:10] accountgit commented on #166
Installed and ran without that parameters and don't work either but I managed to make it work using
k9s --kubeconfig .kube/config

  edge:      0.5.1 2019-04-19 (99) 9MB devmode
installed:   0.5.1            (99) 9MB devmode
$ k9s --kubeconfig .kube/config.

Maybe you have some environment value set that I don't have?

With the logLevel parameter can't see any more output to help debugging.

[2019-04-20 11:37] accountgit commented on #166
Just searched some more information about the issue, seems the problem cames from the confinement of snaps, which devmode bypasses.

The correct way of storing config seems using specific paths from environment variables, not hardcoding them.

I think the change should be checking in internal/config/helpers.go in function mustK9sHome to use SNAP_USER_DATA if the snap variables are defined, and if

[2019-04-21 16:23] accountgit opened #169 "Change theme"
Allow themes/changing colors.

I always work with white on back terminals and k9s is totally the opposite, black on white.

[2019-04-22 13:11] dguendisch opened #170 "Namespace shortcut for default namespace not working"
I'm browsing my cluster, switching namespaces and resources.
When I restart k9s it shows me a bunch of namespaces of my cluster:
![image](https://user-images.githubusercontent.com/30311254/56501847-99756300-6510-11e9-9a7a-e1689e59144c.png)

I can hit `ctrl+0` and it will show (e.g. pods) of namespace `kube-system`.
The same works with `ctrl+1` for namespace `loki`.
However nothing happens when pre

[2019-04-22 17:18] rocketraman opened #171 "Occasional hang requiring kill -9"
Occasionally, k9s on Linux Fedora 4.20.16-200.fc29.x86_64 hangs. I am unable to input any data into k9s, nor even use Ctrl-C. At this point I have to use kill -9 from another terminal, at which point I can then start k9s again. The terminal itself is not frozen because once the `kill -9` is done, the terminal shows k9s as killed, and k9s can be run again in the same terminal.

I don't know how to

[2019-04-23 14:07] ncsibra commented on #171
I'm experiencing the same, it usually happens to me, when trying to check the logs for a pod.
[code]

[2019-04-23 14:12] ncsibra opened #172 "Weird page up/home behaviour"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Pressing page up/home does not go to the top of the list, but goes to the header row.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a view with a lot of row, e.g. pods
2. Press End
3. Press Home
4. The header row will b

[2019-04-23 14:15] ncsibra commented on #168
It's still not the best. I can't reproduce it always but the following things happen sometimes:
Filter for something, does not using the arrows, pressing "l" and it jumps to the right side of the view, basically doing a horizontal scroll.
But sometimes it's working and sometimes the whole application freezing.
I will try to reproduce it consistently .

[2019-04-23 14:20] ncsibra opened #173 "Delete remembers the last chosen answer"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Delete remembers the last chosen answer so not "Cancel" is the default in every case.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to pod view
2. Click on Ctrl+D and choose "Ok"
3. Choose another pod, without changing vie

[2019-04-23 14:25] derailed commented on #171
@rocketraman Thank you for the report! It would be useful if you could note what kind of interactions you were performing when this happen. FYI when it does happen your terminal session is not toast as in most cases typing `reset` should correct your session. I add some instrumentation so we can track this down.

[2019-04-23 14:50] rocketraman commented on #171
Same as @ncsibra it does seem to happen most often when having viewed logs. But as I recall, it does not always freeze while the actual view log operation is in progress.

[2019-04-23 15:14] mrballcb commented on #168
The 0.5.x has achieved a *VERY* high bar for stability.  Congratulations on that!

I am experiencing the same search behavior described in 0.5.0 and 0.5.1.
1. `k9s -n dev`
2. `/rabb<ENTER>`
In 0.5.0 it used to show containers in the pod that was highlighted.  In 0.5.1 it now ends the "search" command.  However.
3. Now when I hit `l` for logs, it's like it's moving the window display to the far rig

[2019-04-24 15:32] hsychla commented on #119
I would also very much like that.

[2019-04-24 15:37] ncsibra commented on #119
I would like this too or something similar, a lot of times I want to copy part of a resource or a piece of log and I always need to remove the vertical bars from the two side.
Plus sometimes would be nice to search in the resource yaml.
Maybe a config option or a prompt would be nice to open that file automatically with the default editor, made the searching, copying easier.

[2019-04-25 12:58] brunohms opened #174 "Pods being show as Pending when they are in other failed status"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Pods that have died to lack of CPU or Memory and are evicted get the status of pending in k9s.

**To Reproduce**
1. Have a pod be killed by lack of CPU/Memory
2. Filter it in k9s

**Expected behavior**
I believe that the expected beh

[2019-04-25 13:42] ncsibra commented on #171
Extra info, it can hang multiple times on the same resource, after a kill and restart, but, if I first open the container view with enter, then check the logs of the container, not the pod itself, it works every time.
The last pod where I faced this issue had only one container.

[2019-04-26 02:59] derailed commented on #174
@brunohms Actually this pod status is correct. The status reported by describe is the node status indicating your cluster is at or over capacity, hence the pod status is in pending state. I  believe you will get the same reported pod status from kubectl as this denote a scheduling issue and not a pod issue.

[2019-04-26 04:41] rocketraman commented on #171
I was able to hang it by doing the opposite (I think) of @ncsibra 's comment -- I hit enter on a pod to see it's individual containers, and then opening logs via `l` on the first (and only) container froze k9s immediately. However, when I tried it again after restarting k9s, it worked, so I cannot reproduce this consistently.

[2019-04-26 04:44] rocketraman commented on #171
Ok, I'm actually able to reproduce this consistently by going to a pod or a container, doesn't matter which, and hitting l, esc, l, esc, a bunch of times. Eventually, usually after 2-4 iterations, it hangs.

[2019-04-26 13:30] brunohms commented on #174
Hi @derailed I'm afraid that what you said is incorrect, when I describe the pod itself I get the following information:
[code]
When I describe the node that it was it shows the following information:
[code]
Obs: Had to redact a few info due to containing info about our clients.

If I get the pods from that namespace this pod is shown as:
[code]
Obs: Running pods are omitted

I'm finding hard to f

[2019-04-26 18:08] derailed commented on #174
@brunohms Thank you so much for the detailed report! I stand corrected. You are right,  I was thinking your pod was not getting scheduled hence pending status, however in your latest scenario it looks like the pod was indeed evicted from the node, which K9s currently does not track. I will fix this on the next push. Thank you for the correction!

[2019-04-26 18:17] derailed commented on #170
@dguendisch Thank you for the report! Namespace selector uses keys 0, 1, 2, ... Is this what you are hitting vs ctrl-0, ctrl-1? As these don't currently map to anything. Assuming you are actually using number keys, I am surprised `2` does not switch over to the default namespace. Could you check the splash message or K9s logs and see if there is anything reported in that scenario? Thank you!

[2019-04-27 00:40] derailed commented on #174
@brunohms  Fixed 0.5.2!

[2019-04-27 00:40] #174 closed

[2019-04-27 00:41] derailed commented on #173
@ncsibra Fixed 0.5.2!

[2019-04-27 00:41] #173 closed

[2019-04-27 00:42] derailed commented on #171
@rocketraman @ncsibra Thank you both for the additional details on this! I did manage to repro tho it took more than 2-4 iterations but was able to get to a screen freeze via l+<esc>.

I think I have a fix in 0.5.2. Please help me verify. Closing for now. Tx!

[2019-04-27 02:37] rocketraman commented on #171
@derailed I built tag 0.5.2 and was still able to make it hang. Took a bit longer but still happened. Same repro.

[2019-04-27 10:42] ncsibra commented on #171
@derailed I can confirm, the issue still exists.
I cloned your repo and reproduced with pprof enabled, looks like you have a deadlock, your update queue is full in the tview lib, refresh unable to finish, because blocked on chan send, so holds the update lock, therefore the switchPage method unable to lock it.
I don't know why your queue is full, your code is rather complex, I should spend much mo

[2019-04-29 03:38] mitchellmaler opened #175 "When viewing nodes pod, switch to all namespaces or allow to switch."
Right now if I click enter on a node to view it's pods I am stuck on the last namespace that I was at when viewing other objects. You should be able to either move to at least the all namespaces or allow to switch to my favorites when in node pod view.

[2019-04-29 04:07] derailed commented on #171
@rocketraman @ncsibra Thanks for reporting back! Not keen on this repro scenario, as it stems on ab-using vs using K9s ;( In this case though, this revealed a much deeper issue, which took me on a wild ride down the rabbit hole. @ncsibra Thank you for your insight! You are correct, tview uses an update buffered channel which the log view totally hammers. I've found several issues with the current

[2019-04-29 05:01] rocketraman commented on #171
Keep in mind, the repro is just a repro. After using the pre-release 0.5.2 for a bit, it did crash under normal use, and it seemed to happen more often than 0.5.1.

Glad to hear you've found some issues though!

[2019-04-29 07:11] dguendisch commented on #170
No, I actually used `ctrl+number`, so my bad. Funny that it seems to bind to the same thing (at least most of the times) as just the number :)
I'll close for now. If I observe the behaviour in the future without pressing the `ctrl` key, I'll reopen.

[2019-04-29 07:11] #170 closed

[2019-04-29 16:18] derailed commented on #175
@mitchellmaler Great catch! Thank you for the report. I'll fix on the next drop.

[2019-04-29 16:24] derailed commented on #119
@Gambler13 @hsychla @ncsibra Thank you all for your input and for this report. I agree with the concept and think that would indeed be generally useful. I need to noodle on this for a bit...

[2019-04-29 17:57] derailed commented on #175
@mitchellmaler Fixed 0.6.0!

[2019-04-29 17:57] #175 closed

[2019-04-29 17:57] derailed commented on #172
@ncsibra Fixed 0.6.0!

[2019-04-29 17:57] #172 closed

[2019-04-29 17:58] derailed commented on #171
Thanks @rocketraman! Hope this will do it... 0.6.0

[2019-04-29 18:02] derailed commented on #169
@accountgit added skins. Please see 0.6.0!

[2019-04-29 18:02] #169 closed

[2019-04-29 20:33] rocketraman commented on #155
Same here, turning auto-scroll off is broken.

[2019-04-29 20:49] rocketraman commented on #171
Haven't noticed any issues with 0.6.0 so far! BTW, happy birthday! :-)

[2019-04-29 20:54] derailed commented on #171
Ah! Thank you kindly @rocketraman!!
Boy am I glad to hear this. Awesome and thank you for reporting back.

[2019-04-29 21:02] rocketraman commented on #171
@derailed Oh oh, spoke too soon... just experience another hang. It was just a "use" scenario, not an "ab-use" one -- this time it happened when exiting the shell of a pod.

[2019-04-30 03:03] derailed commented on #171
@rocketraman Rats! you were supposed to come bearing gifts not bugs... Great catch! Thank you for reporting this. I'll push a fix in the next drop 0.6.1. Hopefully this time for sure...

[2019-04-30 06:00] eldada opened #176 "k9s (0.6.x) very very slow on Mac"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
The 0.6.x versions of k9s are very slow on my mac. So slow that an arrow key or command take more than 10 seconds to respond.

**To Reproduce**
Steps to reproduce the behavior:
1. Was running 0.5.2 with no issues
2. `brew upgrade k9s

[2019-04-30 14:08] eldada commented on #176
BTW - rolled back to 0.5.2 and it's back to normal.

[2019-04-30 15:09] despairblue commented on #176
On Linux as well. I'm using Arch Linux.

[2019-04-30 16:07] derailed commented on #176
@eldada  @despairblue. Yikes not good ;( We've added a lot of synchronization of recent which could stem these issues. Can you guy give me more info on this. ie what does cpu/mem for k9s looks like. What action/resource are you trying to perform. Is this cluster specific or all clusters? Are you specifying skins or just using the defaults? Does this happen for all K8s resources or specific ones?

[2019-04-30 16:15] derailed commented on #166
@accountgit  Thank you so much for this research! I have been in discussions with the snapcraft folks so they can allow K9s and Popeye to read the kube config which I think is the main issue here. This process is going very slow. I am hopeful that they will enable this soon so we can release both projects as stable revs. My understanding is as a snap $HOME is being remapped so I don't think anythi

[2019-04-30 19:31] mcristina422 opened #177 "Shell: First entered character lost"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When entering into a shell the first character typed into the shell is lost, all other characters afterwards work. This is a [bug in a library k9s uses](https://github.com/gdamore/tcell/issues/194#issue-304186428)

After writing this

[2019-04-30 21:38] derailed commented on #177
@mcristina422 Thank you for the report! The `fix` is more of a hack ie sending an extra cr to work around the problem. The owner of the lib is aware and yet no fix ;( since the correct fix is actually involved. You can help by voting this issue up. For now, I made a habit of just pressing entrer when I shell in. I know this is annoying.

[2019-05-01 05:45] eldada commented on #176
I tested it on my Mac.
CPU is not that high. Between 0 to 4%.
No high IO or Network loads.
Same behaviour with any of my clusters.

Resources wise - Just wanting to describe a pod and choose a namespace.
BTW - after a few steps, k9s hangs completely. Had to kill it.

[2019-05-01 06:08] derailed commented on #176
@eldada Thank you for reporting back! Is the default view pod view when K9s comes up? If so how many pods are in your current namespace? Also could you try k9s -l debug and see if there is anything in the k9s logs, perhaps connectivity issue? Lastly could you try mv ~/.k9s/config.yml ~/k9s/config_old.yml and rerun. Don't think this will be an issue, but trying to eliminate potentials since only 2

[2019-05-01 07:27] eldada commented on #176
Looks like it's much better after I remove the config.yml and start fresh (although a bit slower than before).
BUT, when I go into the node view (command: `no`), it slows back to a crawl again (and eventually hangs). Even after exiting the node view.
My biggest cluster size is 34 nodes.

So the common pattern for reproducing is the `nodes` view.

BTW - where is the log saved (I used `-l debug`)?

[2019-05-01 14:20] despairblue commented on #176
@derailed removing the config helped a bit. It's kind of usable, but every couple of seconds it just hangs for a couple of seconds. It's not accepting keyboard input but it buffers it, when it stops hanging it actually handles all keys. So I just need to be patient when I type something and nothing happens.

As for the other questions:

Usually its the context view (ctx)

4 contexts. The clusters

[2019-05-01 15:16] derailed commented on #176
@eldada @despairblue Thank you both for the feedback and kind words! Still not able to repro but do notice some lags while typing or scrolling, so I will look into that. If you notice anything else odd, please report back too, any clues here would help me narrow this down.

I need to make this a bit more explicit, but you can find the log location but typing:
[code]

[2019-05-01 15:48] accountgit commented on #166
Could be added the .minikube directory, the same as .kube? For testing things minikube it's a good option.

[2019-05-01 19:08] eldada commented on #176
Additional info that might help:
- My clusters are GKE
- My clusters are physically far from me. Over 80ms ping time to API server
- My biggest cluster has between 600 to 700 pods in up to 34 nodes

I found a few errors in the log:
[code]
But my connection was ok.

Also found:
[code]
But they are not from lagging actions.

Also saw error about the skin file:
[code]
IMHO, this should not be an erro

[2019-05-01 19:57] Aracki commented on #176
I have tried new version on my master k8s instance and remotely from macOS.

In both cases, very slow.

[2019-05-01 20:16] derailed commented on #176
@eldada Awesome report! Thank you so much for the follow up on this. I did change the skin err to a warning last nite. Tx for pointing this out!

You Sir, kept me up last nite trying trying to figure out what's up ;( I think I've found a few issues perf wise...

Nodes a very expensive to display in light of metrics (which I guess are on in your clusters) since we have to get the metrics and also c

[2019-05-01 20:24] derailed commented on #176
@Aracki Thanks for the report! Working on this issue right now. Hopefully we can get a resolve soon.

[2019-05-01 22:02] derailed commented on #176
@eldada @despairblue @Aracki. Dropping 0.6.2!
Hopefully I've moved the needle in the right direction... 🙏
Thank you all for helping me track some of these down!!

[2019-05-02 05:06] mcristina422 commented on #69
@derailed would you accept design proposals/PRs for this feature? I'd be interested in doing the work

[2019-05-02 05:31] derailed commented on #69
@mcristina422 Yes that would be excellent, not to mention very useful. If you want to make a proposal, we can review and make it happen. Thank you!

[2019-05-02 05:39] eldada commented on #176
@derailed - a couple of updates.
1. Running 0.6.1 with `-r 60` improved performance and did not show any lag. So indeed this is a good workaround
2. I tried 0.6.2 with defaults, and it works much better! There is a small performance hit, but is very usable. @Aracki , @despairblue - can you try the new version and comment?

If indeed 0.6.2 is better for all, I think we can close this.

Thanks @dera

[2019-05-02 09:24] Aracki commented on #176
0.6.2 works faster!

[2019-05-02 13:58] paivagustavo commented on #176
Hi!
0.6.2 is still orders of magnitude slower than 0.5.2, am I missing something?

[2019-05-02 13:59] derailed commented on #176
@eldada @Aracki Thank you so much for reporting back!
Whoosh! am I glad to hear this! Was holding back on doing a perf pass until things stabilize a bit more but I am glad we did. So happy to hear, you guys are functional again! Not the end of this story I am afraid so many diff use cases and configurations...

[2019-05-02 14:03] derailed commented on #176
@paivagustavo Could you qualify specifically which use cases yield this statement, so I can track down and address?

[2019-05-02 17:03] paivagustavo commented on #176
@derailed The pods view just freezes. When I try to select another pod (pressing arrows) there is a ~10 sec delay. When trying to view the yaml, it just hangs and nothing happens.

I'm trying to load all-namespaces which contains 859 pods atm.

[2019-05-02 22:12] derailed commented on #176
@paivagustavo Thank you for reporting back and for the great details!! I think I understand the problem. With that many pods the refresh rate is dragging K9s to a crawl. I am working on a better way to handle this.

[2019-05-03 14:31] swe-covis commented on #176
@derailed After upgrading from 0.5.2 to 0.6.2 I found the ui partially gets only refreshed after keyboard events (use key arrows for example).

Reproduce:
- open pods view
- delete one or more pods
- wait -> list gets not refreshed
- press up or down -> list gets refreshed

Or:
- simply change the context -> cluster Info on the top left gets not refreshed and still shows the info about the recent

[2019-05-03 16:16] derailed commented on #176
@swe-covis. Thank you for reporting this!  I've noticed it last nite too. I am reworking the observer which what I think will be a much better approach. Sorry about this mess! I will have a new drop soon.
Thank you all for your patience and understanding!!

[2019-05-03 19:36] swe-covis commented on #176
@derailed :-) It's pre-release so we have to expect issues.
Nevertheless your tools are incredible useful

[2019-05-03 20:34] rocketraman commented on #171
@derailed I had another hang in 0.6.1, which seems to be a slightly different case, so I'm happy to open a new issue... my trusty old switch died and dropped my networking while I was away on business. When I got back, I found my active k9s session was hung, again requiring a `kill -9`. As this happened while I was away, I don't know if the hang was caused by the network interruption, or by someth

[2019-05-03 22:39] derailed commented on #176
@swe-covis Thank you so much for your very kind and touching comment! This is a great encouragement as K9s is sailing in a bit of rough waters at the moment as we're going around the cap ;(

Humbled!

[2019-05-03 22:41] derailed commented on #171
@rocketraman Thank for reporting this! No worries might as well try to flush these out. K9s should be more resilient even if the cable is pulled. I'll take a look.

[2019-05-05 19:54] eldada commented on #176
0.6.3 is MUCH better! Smooth and responsive.
I think this issue can be closed.
@despairblue , @Aracki - do you guys see the improvement?

[2019-05-05 20:56] derailed commented on #176
@eldada Thank you so much for your feedback and appreciation!! Serenity now I hope... 🙏

[2019-05-06 07:12] Ragnaroek opened #178 "0.6.4 pod list empty if you pass a non-existing namespace on startup"
Hiho,

since 0.6.4. the pod list for my cluster is empty. kubectl get pods shows a list of pods, but k9s not. I tried using all namespaces and one particular namespace, but the list is always empty. That was not the case with 0.6.2 on the same Kubernetes cluster.

Thanks for k9s, I'm really loving it!

[2019-05-06 07:27] Ragnaroek commented on #178
Found out more. I passed a non-existing namespace on startup -n "staging". But there is no staging namespace on this cluster. Even changing the namespace in k9s to an existing one did not make it show any pod => Totally not what I did expect, but only a minor thing.

[2019-05-06 13:00] paivagustavo commented on #176
wow, @derailed it's incredibly fast now :tada: .

Thank you so much for your efforts for building and maintaining such an awesome tool!

[2019-05-06 13:14] swe-covis commented on #176
@derailed good shot :-)

[2019-05-06 14:17] derailed commented on #176
@eldada @swe-covis @paivagustavo. You're making me blush <bowing>. Thank you so much for your kindness, patience and support! I am so happy to hear all this. Closing til next time...

[2019-05-06 14:17] #176 closed

[2019-05-06 15:09] derailed commented on #178
@Ragnaroek Thanks for the report! I am not sure I follow you on this issue. Are you saying, K9s 0.6.4 is not listing any pods at all using a valid namespace or only when using an invalid namespace? If the former can you check the logs using k9s -l debug and see if there are any issues? Tx!!

[2019-05-06 15:19] ChristopheChirat opened #179 "Failed to list *v1beta1.NodeMetrics: the server is currently unable to handle the request (get nodes.metrics.k8s.io)"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

**Describe the bug**
When I run K9S I get the following error message:

E0506 11:07:01.971172   81414 reflector.go:134] pkg/mod/k8s.io/client-go@v10.0.0+incompatible/tools/cache/reflector.go:95: Failed to list *v1beta1.NodeMetrics: the server is currently unable to handle

[2019-05-06 15:23] Ragnaroek commented on #178
Sure
`^[[90m5:13PM^[[0m ^[[32mINF^[[0m 🐶 K9s starting up...
^[[90m5:13PM^[[0m ^[[33mDBG^[[0m Active Context `<something-here>`
^[[90m5:13PM^[[0m ^[[33mDBG^[[0m Setting active ns "staging"
^[[90m5:13PM^[[0m ^[[33mDBG^[[0m Connecting to API Server <some-url°
^[[90m5:13PM^[[0m ^[[32mINF^[[0m ✅ Kubernetes connectivity
^[[90m5:13PM^[[0m ^[[33mDBG^[[0m [Config] Saving configuration...
^[[90m5:13PM^[[0m

[2019-05-06 16:37] derailed commented on #179
@ChristopheChirat Thank you for the report! Noticed this am too. Guessing your cluster is not running a metric-server?

[2019-05-06 16:52] derailed commented on #179
@ChristopheChirat Fixed 0.6.5!

[2019-05-06 16:52] #179 closed

[2019-05-06 16:53] derailed commented on #178
@Ragnaroek - Made K9s die right off the bad if an invalid ns is specified. See 0.6.5. Tx!

[2019-05-06 16:53] #178 closed

[2019-05-06 17:05] paivagustavo opened #180 "No pod listed after changing namespace"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When changing the current namespace, no pods are found.

**To Reproduce**
Steps to reproduce the behavior:
1. run `k9s -n some-namespace`;
2. lists of pods correctly load;
3. type `ns` to see namespaces;
4. select namespace `another-

[2019-05-06 22:56] rocketraman opened #181 "Quick namespace access now gone"
k9s 0.6.5 no longer shows me the quick namespace access hotlist -- this screenshot is from 0.6.3:

![image](https://user-images.githubusercontent.com/53049/57260194-88f4da80-7030-11e9-8291-10e4d57066e1.png)

I recognize I can use `ns` in command mode to select a different namespace, but I personally used the 0-4 numeric shortcuts for namespaces all the time. Was removing this an error or intention

[2019-05-07 05:31] derailed commented on #181
@rocketraman Thanks for the report! I am guessing you are starting K9s with a -n ns? If so it is by design. The logic being that if you start K9s with a confined namespace most likely that is the only ns you have access to. If not, you most likely are able to read namespaces which will then give you the fav ns selector. That said, I can see the case where one would want to start K9s is a given ns

[2019-05-07 06:45] rocketraman commented on #181
@derailed Actually, no, I'm not starting it with a `-n` parameter. The namespace defaults to `kube-system` and does not provide the quick selector.

While not my situation, if started with `-n`, then I think not having the quick selector is ok.

[2019-05-07 07:20] eldada opened #182 "k9s crashes when trying to move out of a namespace that was deleted"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When viewing pods in a given namespace (like `ns1`), the namespace is deleted and then trying to go to a different view (commands `no` or `ns`), k9s crahses with an error:
[code]

**To Reproduce**
1. Run k9s and go to viewing pods in

[2019-05-07 12:40] Ragnaroek opened #184 "Add a way to support the project"
**Is your feature request related to a problem? Please describe.**
I like to support great tools that I use on a daily base, I alslo like to appreciate the good work with some well deserved money for coffee, or similar. That is currently not possible (I looked).

**Describe the solution you'd like**
Add a PayPal, BeerPay, ko-fi button to easy transfer money

**Describe alternatives you've consider

[2019-05-07 21:26] pulberg commented on #181
I had noticed this as well, and while I did find the quick namespace selector easy, I think I prefer having that be something that I need to *intentionally* enable by using `:ns` in command mode.  Maybe it can be toggle of some kind, If people want it to be visible in the "quick" select area?

[2019-05-08 08:26] vasicvuk opened #185 "Windows releases"
HI.

I wanted to ask why there is no more Windows releases ?

Thanks

[2019-05-08 21:32] TwinProduction commented on #12
@alairock What if there's an HPA? (or any other type of autoscaler)

The deployment would be re-scaled accordingly shortly after.

[2019-05-09 08:27] pipko opened #187 "Nice borders beside log screen prevents to copy-paste logs"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Pseudo-graphics chars beside the screen prevent to clean copy-paste logs**
This feature looks nice but loses in usability.

**The solution**
It's better (and do the viewable part of the logs wider) to remove this chars, Let the work part of the scree

[2019-05-09 15:25] derailed commented on #181
@rocketraman @pulberg Thank you for the feedback! I'll fixed the original issue on the next drop. I feel the quick ns selector is really an important feature of k9s while navigating clusters. It really does not consume that much real estate so I am not sure I understand making it optional? I think in most situations having quick access to the last used namespaces if a nice convenience but perhaps

[2019-05-09 15:26] derailed commented on #185
@vasicvuk  I am having issues building windows releases at the moment. I'll take a look on the next drop when I'll more time to investigate.

[2019-05-09 15:35] derailed commented on #184
@Ragnaroek Thank you so much for this very kind gesture!!  Not sure where I stand here. The motivation for this project comes from a pure place ie helping Kubernetes friends hopefully have a better/fun day managing their clusters with K9s and Popeye. I do spent a lot of personal time on these projects and to me a nudge on social or here makes it altogether worthwhile and just something the materia

[2019-05-09 15:48] derailed commented on #182
@derailed Thank you for this report!! Fixed 0.6.6!

[2019-05-09 15:48] #182 closed

[2019-05-09 15:48] derailed commented on #181
@rocketraman Fixed 0.6.6!

[2019-05-09 15:48] #181 closed

[2019-05-09 15:49] derailed commented on #180
@paivagustavo Fixed 0.6.6!

[2019-05-09 15:49] #180 closed

[2019-05-09 16:09] pulberg commented on #181
@derailed I have been know to, on occasion, type a bit inaccurately :) For me, not having the ns quick select menu really just helps me to not inadvertently change namespaces, that's all.

[2019-05-09 16:23] ncsibra commented on #187
I think it's related to this issue https://github.com/derailed/k9s/issues/119.
Personally, I prefer the nice look of K9s, a solution mentioned in the linked issue would be enough I think.

[2019-05-09 17:27] Ragnaroek commented on #184
Feel free to close this "feature request" if you don't like it. I just want to evangelize the idea of open source projects getting monetary appreciation :)

[2019-05-09 20:11] rocketraman commented on #181
@pulberg Changing namespaces is not a destructive operation, so its not like a typo here is the end of the world... just change namespaces again.

[2019-05-10 05:06] derailed commented on #184
@Ragnaroek Thank you! I very much appreciate your compassion for OSS and support! I will leave this issue open and if K9s folks 👍 and want to show their support for this project, we will engage.

[2019-05-10 14:37] muicoder opened #188 "CPU/MEM can't display"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
CPU/MEM can't display.
**Screenshots**
![k9s](https://user-images.githubusercontent.com/13899572/57534970-cbd9e980-7373-11e9-9904-526c4829af00.png)
**Versions (please complete the following information):**
 - OS: Linux
 - K9s 0.6.6

[2019-05-10 14:41] #188 closed

[2019-05-15 10:50] eldada commented on #27
@derailed - So how do I toggle it? I don't see any documentation for this.

[2019-05-16 03:25] thangbn commented on #185
looking forward to it too

[2019-05-16 15:24] mcristina422 commented on #187
I run into this issue consistently since moving to `k9s`. I agree with your solution above

My current workaround is to open the resource in edit view to open it in `vim`

[2019-05-16 19:00] mcristina422 opened #189 "Remember selected pod"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
In the pod list, after selecting a pod and going into the container view, hitting `ESC` will bring you back to the pod list but the first pod is always selected. The selected pod should

[2019-05-19 13:44] eldada opened #190 "Question: How do I see previous container logs"
**Question**: As noted in https://github.com/derailed/k9s/issues/27, how can I toggle and see previous container logs? I didn't find a way not documentation for this.
I guess I'm missing this? 😬

[2019-05-20 07:33] qvistgaard opened #191 "Ability to create or apply new objects"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
It would be awesome to be able to have a function directly in k9s which makes it possible to start a editor and when saving and exiting k9s will run kubectl apply on that object. This c

[2019-05-20 14:19] derailed commented on #190
@eldada the mnemonic to see the previous logs is shift-l which is currently called "Logs". I'll fix on the next push.

[2019-05-20 16:16] eldada commented on #190
Ok. Thx! I'll leave it up to you to close this when you want.

[2019-05-20 22:23] alairock commented on #12
@TwinProduction For those who have autoscaler, that seems like that correct behavior and I would either not use it or acknowledge that consequence. For those who don't have it, being able to scale without editing the deployment or using kubectl would be nice.

[2019-05-22 07:17] uisee-data opened #192 "Use common kubeconfig with -n xxx list pods, kubectl is ok ,k9s (0.6.2) is ok ,but latest 0.6.6 can't"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

**Describe the bug**
Use common user kubeconfig with special namespace <-n testxx>
0.6.6
svc/pvc/cm list is ok
pod can't

0.6.2/0.4.4  no bugs

**Versions (please complete the following information):**
 - OS: [e.g. OSX]
 - K9s [e.g. 0.6.2]
 - K8s [e.g. 1.14.0]

[2019-05-23 13:00] jglick commented on #166
Did not work for me:

[code]

In this case my default context is set to Microk8s, also installed as a snap, so it is not an issue for example with an authentication helper program.

[2019-05-24 02:20] uisee-data commented on #192
Sorry ,not clear
i use k9s(0.6.6 version on mac ) to access k8s with special namespace  -n test-xxx , because my kubeconfig has only acess test-xxx namespace permission,not privileges access others ns

exam
  kubect -n testxx get pods  \\use kubectl with -n , show pods and others  is ok
  k9s -n testxx  \\ press po can't list pods，press svc/pvc/cm,is ok

try early k9s version <0.6.4>,list pods and

[2019-05-24 06:18] dyno commented on #144
yes. the error message is too misleading. you will get it even when it is because you are not login/authorized.

[2019-05-24 06:36] slashdash opened #193 "Feature Request: Logs from multiple pods/containers"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
I need to select each pod seperately to get logs

**Describe the solution you'd like**
There are other tools, eg. stern, which help in this regard but I think it fits into the scope of

[2019-05-24 15:06] derailed commented on #192
@uisee-data Thank you for the clarification! I got it now and will push a fix on the next drop!

[2019-05-24 15:12] derailed commented on #144
@derrickburns @pulberg @dyno Good catch! I've noticed this too. I have a fix in place for the next drop.

[2019-05-24 22:42] derailed commented on #192
@uisee-data Fixed 0.6.7!

[2019-05-24 22:42] #192 closed

[2019-05-24 22:43] derailed commented on #190
@eldada Sorry for the confusion! I think we're cool on 0.6.7!

[2019-05-24 22:43] #190 closed

[2019-05-24 22:43] derailed commented on #189
@mcristina422 Fixed 0.6.7

[2019-05-24 22:43] #189 closed

[2019-05-24 22:44] derailed commented on #185
@vasicvuk @thangbn I think windows builds are back. See 0.6.7 release!

[2019-05-24 22:44] #185 closed

[2019-05-24 22:45] derailed commented on #171
@rocketraman Fixed 0.6.7!

[2019-05-24 22:45] #171 closed

[2019-05-24 22:45] derailed commented on #155
@endrec @rocketraman Fixed 0.6.7!

[2019-05-24 22:45] #155 closed

[2019-05-25 14:55] pnowy opened #194 "Skin configuration - background color for logs tabe"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**

It would be a great to have an option to configure only background color for logs. Currently the view is hard to read in case you want to keed black background of all other tables (the

[2019-05-26 14:57] mingfang opened #195 "shell command does not work when starting k9s with --kubeconfig"
I'm starting k9s with a kubeconfig file by using the --kubeconfig parameter.
Most of the features work except for shelling into pods.
Looking at the logs it seems the kubeconfig parameters needs to be propagated to the shell command

[code]

[2019-05-26 21:21] derailed commented on #195
@mingfang Great Catch! Thanks for the report. I'll fix on the next drop.

[2019-05-26 21:22] derailed commented on #194
@pnowy Thanks for the report! Indeed. I'll had a skin for logs on the next drop.

[2019-05-26 22:23] tammert commented on #195
@derailed: I saw your project come up at KubeCon last week and I actually thought I'd give this issue a go :) I have a PR for you, if you're interested!

[2019-05-27 05:53] pnowy commented on #194
@derailed Great to know!

[2019-05-28 08:33] markusheiden opened #197 "Boom!! Unauthorized access to namespace "..."."
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
K9S does not start at all. It immediately exists with:
Boom!! Unauthorized access to namespace "...".

**To Reproduce**
Steps to reproduce the behavior:
1. Start K9S on a cluster with restricted access.
2. See error.

**Expected beha

[2019-05-28 09:55] pupapaik commented on #195
Can we merge this? I got this bug as well.

[2019-05-28 18:18] #195 closed

[2019-05-29 06:53] den-is commented on #197
Instead of creating similar issue I will write my additional comments here:

1. I've encountered same `Boom!!` thing
solution - I forgot to connect to VPN which grants access to cluster.

Then I've start thinking - What a hell? Why only "Boom!!" - Why error about connection issue can't be more descriptive? And found another issue:
Again text can't be seen in dark theme:
![image](https://user-image

[2019-05-29 20:39] linecolumn opened #198 "shell not working, probably due not respecting --kubeconfig"
I'm starting  k9s with:

[code]
It does show usual stuff, but two things are noticable.

1. shell exec is giving Command exited: exit status 1, and log file provides following:

[code]

when I try to run exactly the same command from the shell, it is working, and gives me /bin/sh:

[code]

It seems like k9s, when going to shell, is not respecting --kubeconfig parameters.

2. lots of warning about

[2019-05-29 23:48] derailed commented on #197
@markusheiden @den-is Thank you both for the report! I'll add more info for the namespace issue and Denis will fix the color too ;) on the next drop.

[2019-05-29 23:52] derailed commented on #198
@linecolumn Thank you for the report! Me think it's a dup #195. I'll push an update based on @tammert PR fix on the next drop.

[2019-05-29 23:56] derailed commented on #197
@markusheiden also... tailing the K9s logs should show you the actual access issue.

[2019-05-30 19:09] derailed commented on #198
@linecolumn Fixed 0.7.0!

[2019-05-30 19:09] #198 closed

[2019-05-30 19:10] derailed commented on #197
@markusheiden @den-is Fixed 0.7.0!

[2019-05-30 19:10] #197 closed

[2019-05-30 19:10] derailed commented on #194
@pnowy Fixed 0.7.0!

[2019-05-30 19:10] #194 closed

[2019-05-30 19:12] derailed commented on #187
@pipko @ncsibra @mcristina422 as highlighted in #119 you can now dump the screens to files without compromising the current ui. Fixed 0.7.0!

[2019-05-30 19:12] #187 closed

[2019-05-30 19:12] derailed commented on #119
@Gambler13 Fixed 0.7.0!

[2019-05-30 19:12] #119 closed

[2019-05-30 19:13] derailed commented on #69
@brentco @Khrotan @mcristina422 Fixed 0.7.0!

[2019-05-30 19:13] #69 closed

[2019-05-30 19:21] ncsibra opened #200 "Filtering is broken with 0.7.0"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
With 0.7.0 filtering is broken, after the first typed character the filtering is closed and jumps to the first filtered row, based on that 1 character.
Debug log only shows:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1

[2019-05-30 19:27] ncsibra commented on #187
@derailed Thanks, but a quick way to open the saved file still would be nice (like the "Edit" option for resources). Now searching the correct log file almost take as much time as entering the correct kubectl command to show the logs.

[2019-05-30 21:42] derailed commented on #200
@ncsibra Great catch! Thank you Norbert!!. Fixed in 0.7.1 on the way...

[2019-05-30 21:42] #200 closed

[2019-05-30 21:44] derailed commented on #187
@ncsibra. I totally agree and glad you've mentioned this! As I ran thru the video this am, I thought save was great, but retrieving the screen dumps was less than ideal. Please checkout the release notes for the new ScreenDump view. K9s 0.7.1!

[2019-05-31 02:51] hjwsxl commented on #197
I found that when a cluster uses multi-tenant, one namespace doesn't have admin privilege of the cluster. And then entering the namespace, the above bug will also occur in versions 0.7.0 and 0.7.1.

[2019-05-31 03:07] hjwsxl opened #201 "Boom!! Unauthorized: Access to namespace "<namespace-name>" is missing verbs ['get', 'watch']."
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
I found that when a cluster uses multi-tenant, one namespace doesn't have admin privilege of the cluster. And then entering the namespace, the above bug will occur in versions 0.7.0 and 0.7.1.

**To Reproduce**
Steps to reproduce the

[2019-05-31 04:54] derailed commented on #201
@hjwsxl Thank you for reporting this! I am not sure I fully understand the scenario here? This message indicates that the current user does not have access to fetch this namespace or watch it for changes, hence K9s will exit right away since there is nothing to do here. Perhaps I am missing the inten if so please do clarify?

Couple things to try and report back on

## One

[code]

## Second

[cod

[2019-05-31 05:58] hjwsxl commented on #201
**Describe(in my case)**
* The namespace of team-test  has been set by RBAC permission. The namespace team-test  has been set by RBAC permission. However, since there is a kubeconfig of team-test on my host, I can only access the contents of team-test and cannot access any other NameSpace in the cluster.
* However, if my cluster-role is cluster-admin, the above problem will not occur and k9s will

[2019-05-31 06:09] ncsibra commented on #187
@derailed Thanks for the quick fix! It's much better now and we can even screen dump the ScreenDump view. :smile:

[2019-05-31 06:17] pnowy commented on #194
@derailed I've tried it today (with version 7.1), set the following skin properties:

[code]

but still I have the view like on provided screenshot. Should I do anything else? Thanks!

[2019-05-31 12:58] derailed commented on #201
@hjwsxl Can you send me the log section from k9s?

[code]

[2019-05-31 13:01] derailed commented on #194
@pnowy You are very close I think... Try this

[code]

[2019-05-31 13:02] derailed commented on #187
@ncsibra Thanks! lol I call this K9s inception ;)

[2019-05-31 13:03] pnowy commented on #194
Ok - so you will have to fix it on current available readme. There is still:

[code]
Works now. Thanks!

[2019-05-31 13:07] derailed commented on #194
Ah! Rats... Thank you for catching me on this! Too many balls in the air...

[2019-05-31 13:07] pnowy commented on #194
No problem. Anyway - great tool and great work!

[2019-05-31 13:10] derailed commented on #194
@pnowy Thank you so much for your support and encouragement!! So happy to hear you're digging it  Lots of work and so many combinations of environments ;(

[2019-05-31 13:36] mcristina422 opened #202 "Port forwarding with named ports"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When selecting a container to port forward the prefilled text is incorrect if the container uses a named port.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a pod with a container using a named port
2. Do a `PortForward

[2019-05-31 15:10] burythehammer commented on #12
We use HPAs and I'd take this as intended behaviour. It's often useful to force a cycle of containers, for example if you want your deployment to use a new image version now rather than wait for them to cycle.

[2019-05-31 15:12] derailed commented on #202
@mcristina422 Great catch! Thanks for reporting back!
I'll fix it on the next drop, for the short term, you should be able to edit the forward to just use the port#.

[2019-05-31 17:06] sgillespie commented on #106
It would be nice if there was documentation for `dp`, I don't think it's a standard resource type abbreviation

[2019-05-31 19:57] FrenchBen commented on #201
I have a similar issue, but don't get the `Access to namespace` error seen above - Instead k9s loads blank.
Turning up the log level to debugging and tailing the logs, I can see that I don't have node access (which is true) but it shouldn't be a requirement. Is it not possible to disable the node lookup via the config yaml?

[2019-05-31 21:13] derailed commented on #201
@FrenchBen Thank you for reporting this! A different issue indeed but still relevant nonetheless. I will fix this particular issue with nodes access in the next drop.

[2019-05-31 21:58] derailed commented on #106
@sgillespie - Indeed! some are std resource short-names others not. Documented aliases and resource mapping are in the Alias view aka `Ctrl-A`.

[2019-06-01 21:03] Makusi75 opened #203 "Integrate plugin ksniff (to get Wireshark captures) with K9s"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
Today I'm in our kubernetes cluster sometimes using the kubernetes plugin “ksniff” tool in our Kubernetes clusters to get Wireshark captures – which is really great!
https://github.com/

[2019-06-02 01:32] mingfang opened #204 "Consider using dynamic discovery to support all resources"
Currently k9s hardcodes the set of supported resources https://github.com/derailed/k9s/blob/f469070b3537809b07ec24c1f979a6dad903e9ee/internal/views/registrar.go#L110 and has custom view and list functions.

It may be possible to use dynamic discover similar to kubectl https://github.com/kubernetes/kubernetes/blob/cc30c0d9a496dfa19919536fe2950df1cf8dd98f/pkg/kubectl/cmd/apiresources/apiresources.go

[2019-06-02 15:08] derailed commented on #204
@mingfang Nice! Thank you for the report.  It makes me very happy to see this issue as I've been on the fence with this very issue when I enabled CRD support several months back. I was going to pull the trigger and switch K9s over to dynamic and then realized the elephant in the room ie having to type assert on these cols aka interface{} all over the place. Less than ideal imho. I understand that

[2019-06-02 20:20] goffinf commented on #204
A separate branch perhaps so as not to slow the pace of rollout of
core features by a major refactor. I appreciate that this might lead
to a build up of technical debt but OTOH agile is all about deferring
decisions to the last responsible moment ?

On 02/06/2019, Fernand Galiana <notifications@github.com> wrote:

[2019-06-03 07:16] brentco opened #205 "Port forwarding: entering port manually"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

Hey! First of all, thanks a lot for implementing #69!

**Is your feature request related to a problem? Please describe.**
I cannot port-forward to one of my pods. I would manually port forward as such (java remote debugging): `kubectl port-forward <pod

[2019-06-03 10:16] carlowouters opened #206 "Container view livenessprobe and readynessprobe show wrong status"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
In the container view the column for livenessprobe and readynessprobe show the wrong status.

**To Reproduce**
1. in the default pod view, enter <d> to look at the configuration for the livenessprobe (L) and readynessprobe (R).
2. ba

[2019-06-03 11:55] markusheiden opened #208 "Support users with multiple groups"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Our K8S users are assigned to multiple groups.
1) "users" which does not have all rights needed for k9s.
2) "adsoul" which has all required rights.
K9S "picks" just the "users" group and fails to start.

**To Reproduce**
Steps to rep

[2019-06-03 13:22] ncsibra opened #209 "Filtering does not work correctly for deployments"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
When filtering on deployment view and pressing enter to confirm, the prompt from the top is disappearing and k9s changing to pod view, pressing esc, then e.g. "e", the filtering prompt appears again and adds the extra "l" to the prev

[2019-06-03 14:40] matthyx opened #210 "Sort in AGE column is broken (namespaces view)"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Now that the AGE column shows years (example `2y4d`), sorting is broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Namespaces'
2. Sort by age `<shift-a>`
3. See error

**Screenshots**
[code]

**Versions (please com

[2019-06-03 18:08] phlukman commented on #114
hi @derailed , so in order to have the cpu/memory usage shown in the table, we need to have a prometheus instance running on the cluster?

[2019-06-03 19:23] phlukman commented on #114
never mind it works after installing metrics-server into the cluster. In my case, working with EKS cluster:
https://docs.aws.amazon.com/eks/latest/userguide/metrics-server.html

[2019-06-03 19:55] derailed commented on #205
@brentco Thank you for this report! I am not sure I am getting all this. Can you refine?

What do you mean by `I can't freely fill in a port`? The port-forward dialog picks the first port available on the container by default but you can change it in the dialog?

Could you send your container port definition ie the one for target port 8080 so I can try to figure out what's going on with that port-

[2019-06-03 20:09] derailed commented on #208
@markusheiden If I am understanding this correctly,  you need to tell K9s which group you want to impersonate when using namespace: adsoul. The default will be users in your case. So you will need to specify --as-group flags when starting k9s with that namespace. Does this make sense or did I miss you question?

[2019-06-03 22:38] derailed commented on #202
@mcristina422 Fixed 0.7.2!

[2019-06-03 22:38] #202 closed

[2019-06-04 04:58] derailed commented on #210
@matthyx Good catch! Thank you for reporting this. Fixed 0.7.3.

[2019-06-04 04:58] #210 closed

[2019-06-04 04:59] derailed commented on #209
@ncsibra Good catch! Fixed 0.7.3

[2019-06-04 04:59] #209 closed

[2019-06-04 05:00] derailed commented on #206
@carlowouters  Thank you for your PR. Merged 0.7.3

[2019-06-04 05:00] #206 closed

[2019-06-04 05:47] matthyx commented on #210
indeed, works like a charm, thx!

[2019-06-04 07:58] brentco commented on #205
@derailed Hey! So we don't really explicitly define exposed ports (except for in service resources). The dialog unfortunately does not appear if it can't find any defined ports for the container. I would prefer it if it just let me fill in a port then. It should trust me! :) The kubectl port forward I described in the issue does work despite not having any explicit port definition.

[2019-06-04 08:40] hsychla opened #211 "No pods shown after switching namespace"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
Listing pods in 0.7.3 fails for me after switching the namespace.

**To Reproduce**
Steps to reproduce the behavior:
1. Start k9s 0.7.3
2. See list of pods in default namspace
3. Enter `:ns` and select a different namespace
4. See em

[2019-06-04 10:36] jfm commented on #201
I have the exact same issue. My logs say:
`12:33PM DBG CHECKING ACCESS for namespaces// in NS "" verb: list -> true, RBAC: allowed by ClusterRoleBinding "kube-dashboard-readers-global" of ClusterRole "kube-dashboard-readers" to Group "system:authenticated"
12:33PM DBG CHECKING ACCESS for namespaces// in NS "" verb: watch -> false, no RBAC policy matched
12:33PM DBG CHECKING ACCESS for namespaces/o

[2019-06-04 14:16] derailed commented on #201
@jfm Thank you for your reply!
1.  In your case what is the output of the command?
[code]
1. What is your RBAC rules for the current user or group?

[2019-06-04 15:29] markusheiden commented on #208
Yes, that option would help. Even nicer would be, if K9S automatically selects the group which has the required rights.

[2019-06-04 15:51] derailed commented on #211
@hsychla Thank you for this report! Fixed 0.7.4

[2019-06-04 15:51] #211 closed

[2019-06-04 16:02] hsychla commented on #211
Wow, really quick fix, thanks!
Unfortunately, now I no longer have an `all` namespace...

[2019-06-04 16:59] derailed commented on #211
@hsychla  Sorry!  Not in the groove this week ;) Fixed 0.7.5, please disregard 0.7.4!
Thank you for your patience!!

[2019-06-04 17:50] devkws opened #212 "deleting a daemonset removes the daemonset but keeps the pods"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_err.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Describe the bug**
deleting a daemonset removes the daemonset but keeps the pods

**To Reproduce**
Steps to reproduce the behavior:
1. navigate to daemonset view
2. delete daemonset (ctrl-d)

**Expected behavior**
daemonset and pods should be removed

[2019-06-04 20:38] freeseacher commented on #203
there were several cases when i need that and switching from k9s to tcpdump is pretty frustrating

[2019-06-04 21:32] linecolumn opened #213 "ctrl-l to refresh"
It would be nice (when screen becomes messy due different forwards for e.g.) to have possibility to do `ctrl-l` and refresh terminal.

Thanks

[2019-06-04 21:34] linecolumn opened #214 "more namespaces to choose from"
Maybe I didn't find out, but it would be nice to list first 7 namespaces and bind them to 0-6 keys.

Now, I have 5 different namespaces but k9s is binding only to:

0 - all
1 - default

[2019-06-04 23:19] derailed commented on #214
@linecolumn K9s tracks your top 10 favorite namespaces not the fact that you have x namespaces on your cluster. The namespace list is computed and flushed based on your namespace navigation habits.

[2019-06-04 23:22] derailed commented on #212
@devkws Thank you for the report! That's definitely surprising. K9s is not doing anything to prevent that behavior. Will need to research  if feature or bug?? As my current understanding is upon ds delete all associated pods should be deleted unless cascade is set to false which is not the case here in k9s??

[2019-06-04 23:26] derailed commented on #213
@linecolumn It looks like this could be a display issue. Could your forward a screen dump with what you've qualified as messy due to forwards. Could be a bug here that we've missed. Thank you!!

[2019-06-04 23:26] devkws commented on #212
@derailed that’s my understanding as well and in fact kubectl and the GKE dashboard does just that. I’m wondering now if it was because the pods were in a crashloop. But again, kubectl and GKE removed the underlying pods. Weird.

[2019-06-05 02:39] mingfang opened #215 "When deleting, add option to force delete"
Sometimes resources just refuses to be deleted the normal way.
In many cases a force delete will do the job.
e.g. kubectl delete pod foo --force --grace-period=0

[2019-06-05 02:42] mitchellmaler opened #216 "Support for Homebrew on Linux using same formula from the tap"
Right now the formula only installs the Darwin binary of k9s. I have some users that are using Windows Subsystem for Linux and using homebrew for Linux. This allows us to keep our on-boarding and setup very similar. If the formula could be modified to install the Linux version when on Linux then both can be supported.

Something like:
[code]

Can even add nested ifs to check for archs like arm, et

[2019-06-05 07:54] linecolumn commented on #213
I tend to use kubectl port-forward &, then start k9s, and sometimes backgrounded process spews text over the screen (k9s), usually ctrl-l refresh the content.

I'm not aware of display issue from k9s per se.

[2019-06-05 13:07] id-travis-bradshaw opened #218 "Add support for defining colors by value in skin.yml rather than by color name"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

**Is your feature request related to a problem? Please describe.**
One of the most common use-cases when working on a skin for an application is recreating an existing color scheme. Existing schemes are usually described by color value.  It can be diff

[2019-06-05 13:45] thllxb commented on #212
kubectl has the cascade option set to true by default when deleting. This is why when you delete a DS or RC, all the underlying pods are deleted as well. Apparently k9s doesn't have this option, or it has it hardcoded to false.
@derailed It needs to be config item in the config file, or on the UI.

[2019-06-06 06:58] jfm commented on #201
[code]

[code]

[2019-06-06 07:29] linecolumn commented on #195
editing pod not working, same error message:

[code]

also, this is happening:

[code]

[2019-06-06 08:18] ChrisCooney commented on #193
Giant +1 for this.

[2019-06-06 08:20] linecolumn opened #220 "--kubeconfig not used when editing pod and arguments clash"
editing pod not working, error message:

[code]

also, this is happening:

[code]

[2019-06-06 12:41] derailed commented on #220
@linecolumn Great catch! Thank you for the report. I will fix the edit issue in the next drop. As for the alias, this is expected since k9s version|info are subcommands and don't use the same arguments as the main k9s command. So solve this predicament, may I suggest setting KUBECONFIG env var instead of aliasing the k9s command. Would that work for you?

[2019-06-06 15:07] derailed commented on #212
@thllxb Thank you so much for your input and research! I've looked into it and agree with your assessment. I'll fix the behavior in the next drop.

[2019-06-06 19:41] derailed commented on #205
@brentco Thank you for the clarification! Wow, I see. I am guessing then k8s just relies on the docker expose ports? Just for my info, what is your incentive for not specifying the container's ports in the K8s manifests?

[2019-06-07 06:52] brentco commented on #205
@derailed It's a production system and was set up this way. I don't have control over it and don't know why it wasn't done in the first place. I guess it wasn't necessary. As for how it works, I don't know either!

[2019-06-07 07:08] freeseacher opened #221 "tab switch doc"
<img src="https://raw.githubusercontent.com/derailed/k9s/master/assets/k9s_small.png" align="right" width="100" height="auto"/>

<br/>
<br/>
<br/>

provide a doc about how to switch between launched tabs.
i can create new tab with :cm
so i'll get two tabs :po and :cm i really dont find a way to switch back to :po

[2019-06-07 13:09] derailed commented on #221
@freeseacher The docs are there perhaps not clear enough... You can use `?` to see the help. In there you will find `p` to navigate to the previous view.

[2019-06-07 13:32] tbradshaw commented on #218
Looking into this more, this may just be a matter of improved documentation for the skinning?

When I was starting to experiment to create the skin with the existing colors, I was initially shocked as the color names had no correlation with the resulting color changes.  With further investigation, mostly just by finding the terminal library used by k9s and then googling around a little bit, I see

[2019-06-07 15:28] heydonovan opened #222 "Hide "Completed" pods"
Great product :)! I'm just trying to sort all pods by CPU, and all the containers that have been completed are showing first. Since there isn't a way to reverse the order, those are always on top. Is there any way to filter those out?

[2019-06-07 15:44] derailed commented on #218
@tbradshaw Thank you so much for looking into this and your input! I agree with you this is a bit trial and error and for sure not like styling with css. This is an experimental feature and may need further tuning. At this time, if you build K9s from source (aka dev mode) the skin file will be reloaded so you can experiment with your themes. If you would like to play with this more, please feel fr